{% extends 'base.html' %} {% load static %} {% block seo %}
<title>{% spaceless %}{{data.title}}{% endspaceless %}</title>
<meta
  name="description"
  content="{% spaceless %}{{data.description}}{% endspaceless %}"
/>
<meta
  name="keyword"
  content="{% spaceless %}{{data.keyword}}{% endspaceless %}"
/>
<link
  rel="canonical"
  href="{% spaceless %}{{data.canonical}}{% endspaceless %}"
/>
<!-- Opengraphs -->
<meta
  property="og:title"
  content="{% spaceless %}{{data.title}}{% endspaceless %}"
/>
<meta
  property="og:type"
  content="{% spaceless %}{{data.og_type}}{% endspaceless %}"
/>
<meta
  property="og:url"
  content="{% spaceless %}{{data.canonical}}{% endspaceless %}"
/>
<meta
  property="og:image"
  content="{% spaceless %}{{data.image.url}}{% endspaceless %}"
/>
<meta
  property="og:description"
  content="{% spaceless %}{{data.description}}{% endspaceless %}"
/>

<meta
  name="twitter:card"
  content="{% spaceless %}{{data.description}}{% endspaceless %}"
/>
<meta name="twitter:site" content="@thegrandindianroute" />
<meta
  name="twitter:title"
  content="{% spaceless %}{{data.title}}{% endspaceless %} "
/>
<meta
  name="twitter:description"
  content="{% spaceless %}{{data.description}}{% endspaceless %}"
/>
<meta
  name="twitter:image"
  content="{% spaceless %}{{data.image.url}}{% endspaceless %}"
/>
{% endblock seo %} {% block css %}
<link href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" rel="stylesheet" />
<style>
  p {
    font-size: 18px;
  }
  .content p {
    width: 100% !important;
  }
  .content ul,
  .content ol {
    padding-left: 25px !important;
  }
  .breadcrumb-text {
    font-size: 1.5rem;
    font-weight: 800;
  }

  @media(max-width:576px){
    .breadcrumb-text{
      font-size:1.3rem;
      line-height: 1.6;
    }
  }
</style>
{% endblock css %} {% block body %}

<!-- BREADCRUMB
			============================================= -->
<div id="breadcrumb" class="division">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="breadcrumb-holder">
          <!-- Breadcrumb Nav -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home:home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="{% url 'blog:blog' %}">Blogs</a>
              </li>
            </ol>
          </nav>

          <!-- Title -->
          <div class="breadcrumb-text steelblue-color text-start">{{data.breadcrumb}}</div>
          {% comment %}
          <h4 class="h4-sm steelblue-color">{{data.h1}}</h4>
          {% endcomment %}
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</div>
<!-- END BREADCRUMB -->

<!-- BLOG PAGE CONTENT
			============================================= -->
<div id="blog-page" class="wide-100 pb-0 blog-page-section division">
  <div class="container">
    <div class="row">
      <!-- BLOG POSTS HOLDER -->
      <div class="col-lg-12">
        <div class="posts-holder pr-30">
          <div class="single-blog-post pr-30">
            <!-- BLOG POST IMAGE -->
            <div class="blog-post-img mb-40">
              <img
                class="img-fluid"
                src="{{data.image.url}}"
                alt="{{data.h1}}"
              />
            </div>

            <!-- BLOG POST TEXT -->
            <div class="sblog-post-txt">
              <h1 class="h1-sm steelblue-color">{{data.h1}}</h1>
              {% comment %}
              <h2 class="h1-sm steelblue-color">{{data.title}}</h2>
              {% endcomment %}
              <p
                style="
                  font-size: 1.1rem !important;
                  font-weight: 100 !important;
                  color: rgba(0, 0, 0, 0.6);
                "
              >
                Posted {{data.published}} by <span>{{data.author}}</span>
              </p>

              <div class="content mt-4 blog-body">{{data.content|safe}}</div>
              <!-- BLOG POST SHARE LINKS -->
              {% comment %} <div class="post-share-links">
                <!-- POST TAGS -->
                <div class="post-tags-list">
                  {% for ie in data.tag.all %}
                  <span><a href="#">{{ie}}</a></span>

                  {% endfor %}
                </div>

                <!-- POST SHARE ICONS -->
                <div class="post-share-list">
                  <ul class="share-social-icons clearfix">
                    <li>
                      <a href="#" class="share-ico ico-facebook"
                        ><i class="fab fa-facebook-f"></i> Share</a
                      >
                    </li>
                    <li>
                      <a href="#" class="share-ico ico-twitter"
                        ><i class="fab fa-twitter"></i> Tweet</a
                      >
                    </li>
                    <li>
                      <a href="#" class="share-ico ico-google-plus"
                        ><i class="fab fa-pinterest-p"></i> Pin It</a
                      >
                    </li>
                    <li>
                      <a href="#" class="share-ico ico-google-plus"
                        ><i class="fab fa-instagram"></i> Share</a
                      >
                    </li>
                  </ul>
                </div>
              </div> {% endcomment %}
              <!-- END BLOG POST SHARE -->
            </div>
            <!-- END BLOG POST TEXT -->

            <!-- ABOUT POST AUTHOR -->
            <div class="author-senoff">
              <!-- Avatar -->
              <img src="{{data.author.image.url}}" alt="{{data.author}}" />

              <!-- Text -->
              <div class="author-senoff-txt">
                <!-- Title -->
                <p class="h5-sm steelblue-color">
                  Published by {{data.author}}
                </p>
                <p>{{data.author.description|safe}}</p>
              </div>
            </div>
            <!-- END ABOUT POST AUTHOR -->

            <!-- RELATED POSTS -->
            {% if related_blogs|length > 1 %}
            <div class="related-posts position-relative">
              <!-- Title -->
              <p class="h5-md steelblue-color fw-bold">Related Posts</p>
                <!-- BLOG POST #1 -->
                <div class="swiper-container">
                    <div class="swiper related-blog-swiper">
                      <div class="swiper-wrapper">
                      {% for ie in related_blogs %}
                        <div class="swiper-slide position-relative">
                          <!-- BLOG POST #1 -->
                                <div class="position-relative mx-auto all-blog-content card">
                                  <img src="{{ie.image.url}}" alt="{{ie.h1}}" class="card-img-top h-100 img-fluid" />
                                    <div class="card-body">
                                        <div class="blog-content-txt ">
                                          <div class="my-2 blog-author-date-content  d-flex justify-content-between">
                                            <div class="blog-author-wrapper">
                                              <img src="{% static 'author.png'%}" alt="Author-Icon" class="blog-author"/>
                                              <span class="blog-author-txt"> By {{ ie.author }}</span>
                                            </div>
                                            <div class="blog-author-wrapper">
                                              <img src="{% static 'celender.png'%}" alt="Author-Icon" class="blog-author"/>
                                              <span class="blog-author-txt"> {{ ie.published|date:"M. d, Y" }} </span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="blog-main-content text-start steelblue-color">
                                          <h2 class="mt-3 card-title"><a href="{% url 'home:blogd' ie.slug %}" class="blog-item" data-title="{{ ie.title|lower }}" >{{ie.title}}</a></h2>
                                          <!-- Post Text -->
                                          <p class="blog-content-descripation mb-0">
                                            {{ie.description}}
                                          </p>
                                          <div class="card-footer blog-footer">
                                            <a href="{% url 'home:blogd' ie.slug %}" class="blog-read-more">Read More</a>
                                            <hr class="blog-divider">
                                          </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        {% endfor %}
           
                      </div>
                    </div>
                                 <!-- Pagination Dots -->
                        <div class="swiper-pagination"></div>

                        <!-- Navigation Buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                </div>
              
                <!-- END  BLOG POST #1 -->   
              {% endif %}
              <!-- End row -->
            </div>
            <!-- END RELATED POSTS -->
            <hr />
            
            <!-- COMMENT FORM -->
            {% comment %}
            <div id="leave-comment">
              <!-- Title -->
              <h5 class="h5-md steelblue-color">Leave a Comment</h5>

              <!-- Text -->
              <p class="grey-color">
                Your email address will not be published. Required fields are
                marked *
              </p>

              <form
                name="commentForm"
                class="row comment-form"
                novalidate="novalidate"
              >
                <div id="input-message" class="col-md-12 input-message">
                  <p>Add Comment *</p>
                  <textarea
                    class="form-control message"
                    name="message"
                    rows="6"
                    placeholder="Enter Your Comment Here* ..."
                    required=""
                  ></textarea>
                </div>

                <div id="input-name" class="col-md-12">
                  <p>Name*</p>
                  <input
                    type="text"
                    name="name"
                    class="form-control name"
                    placeholder="Enter Your Name*"
                    required=""
                  />
                </div>

                <div id="input-email" class="col-md-12">
                  <p>Email*</p>
                  <input
                    type="text"
                    name="email"
                    class="form-control email"
                    placeholder="Enter Your Email*"
                    required=""
                  />
                </div>

                <!-- Contact Form Button -->
                <div class="col-lg-12 mt-15 form-btn">
                  <button type="submit" class="btn btn-blue blue-hover submit">
                    Post Comment
                  </button>
                </div>

                <!-- Contact Form Message -->
                <div class="col-md-12 comment-form-msg text-center">
                  <div class="sending-msg"><span class="loading"></span></div>
                </div>
              </form>
            </div>
            <!-- END COMMENT FORM -->
            {% endcomment %}
          </div>
        </div>
      </div>
      <!-- END BLOG POSTS HOLDER -->
      {% comment %} {% include 'aside.html' %} {% endcomment %}
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</div>
{% endblock body %} {% block js %}

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script> 
  var swiper = new Swiper(".related-blog-swiper",{
    slidesPerView: 1,
    spaceBetween: 20,
    speed:600,
    loop:true,
    pagination: {
      el: ".swiper-pagination",
      clickable: !0,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      576: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      991: {
        slidesPerView: 3,
      },
      1200: {
        slidesPerView: 3,
      },
    },
  })
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{% spaceless %}{{data.title}}{% endspaceless %}",
    "description": "{% spaceless %}{{data.description}}{% endspaceless %}",
    "url": "{% spaceless %}{{data.canonical}}{% endspaceless %}",
    "image": "https://advancedentalexport.com/{{data.image.url}}",
    "author": {
      "@type": "Organization",
      "name": "Advance Dental Export",
      "url": "https://advancedentalexport.com/",
      "logo": {
        "@type": "ImageObject",
        "url": "{% spaceless %}{{data.canonical}}{% endspaceless %}"
      }
    },
    "publisher": {
      "@type": "Organization",
      "name": "Advance Dental Export",
      "logo": {
        "@type": "ImageObject",
        "url": "https://advancedentalexport.com/static/img/logo.png"
      }
    },
    "datePublished": "{{ data.published|date:'c' }}T10:00:00+05:30",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{% spaceless %}{{data.canonical}}{% endspaceless %}"
    }
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://advancedentalexport.com/"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Blogs",
        "item": "https://advancedentalexport.com/blog/"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{% spaceless %}{{data.title}}{% endspaceless %}",
        "item": "{% spaceless %}{{data.canonical}}{% endspaceless %}"
      }
    ]
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "url": "{% spaceless %}{{data.canonical}}{% endspaceless %}",
    "headline": "{% spaceless %}{{data.title}}{% endspaceless %}",
    "description": "{% spaceless %}{{data.description}}{% endspaceless %}",
    "image": ["https://advancedentalexport.com/{{data.image.url}}"],
    "author": {
      "@type": "Organization",
      "name": "Advance Dental Export",
      "url": "https://advancedentalexport.com/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Advance Dental Export",
      "logo": {
        "@type": "ImageObject",
        "url": "https://advancedentalexport.com/static/img/logo.png"
      }
    },
    "datePublished": "{{ data.published|date:'c' }}T10:00:00+05:30",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{% spaceless %}{{data.canonical}}{% endspaceless %}"
    }
  }
</script>
{{data.schema|safe}} {% endblock js %}
