{% extends 'base.html' %}
{% load static %}
{% block seo%}
<title>{% spaceless %}{{data.meta_title}}{% endspaceless %}</title>
<meta name="description"content="{% spaceless %}{{data.meta_description}}{% endspaceless %}"/>
<link rel="canonical" href="{% spaceless %}{{ data.canonical }}{% endspaceless %}" />
<meta property="og:site_name" content="Advance Dental Export">
<meta property="og:url" content="{% spaceless %}{{ data.canonical }}{% endspaceless %}">
<meta property="og:title" content="{% spaceless %}{{ data.meta_title }}{% endspaceless %}">
<meta property="og:type" content="webiste">
<meta property="og:description" content="{% spaceless %}{{ data.meta_description }}{% endspaceless %}">
<meta property="og:image" content="{% spaceless %}{{ data.image.url }}{% endspaceless %}">
<meta property="og:image:secure_url" content="{% spaceless %}{{ data.image.url }}{% endspaceless %}">
{% comment %} <meta name="twitter:site" content="@{{ Twitter Handle }}"> {% endcomment %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% spaceless %}{{ data.meta_title }}{% endspaceless %}">
<meta name="twitter:description" content="{% spaceless %}{{ data.meta_description }}{% endspaceless %}">
{% endblock seo%}
{% block css %} 
{% endblock %}

{% block body %}
<!-- BREADCRUMB ============================================= -->
			<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'blog:blog' %}">Blogs</a></li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h1 class="h4-sm steelblue-color">{{data.category}}</h1>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	
            <div class="container py-4">
                <div class="row">
                    {% for blog in blogs %}
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="blog-page">

                                <div class="blog-home-img">
                                    <img class="img-fluid" src="{{ blog.image.url }}" alt="{{ blog.h1 }}" width="340" height="191">
                                </div>

                                <div class="blog-page-txt">
                                    <div class="blog-meta">
                                        <div class="blog-author-wrapper">
                                            <img src="{% static 'author.png' %}" alt="Author" class="blog-author" />
                                            <span class="blog-author-txt">By {{ blog.author }}</span>
                                        </div>
                                        <div class="blog-author-wrapper">
                                            <img src="{% static 'celender.png' %}" alt="Calendar" class="blog-author" />
                                            <span class="blog-author-txt">{{ blog.published|date:"M. d, Y" }}</span>
                                        </div>
                                    </div>

                                    <div class="blog-list-heading steelblue-color">
                                        <a href="{% url 'home:blogd' blog.slug %}" class="blog-item">{{ blog.title }}</a>
                                    </div>

                                    <p class="blog-card-descripation">{{ blog.description|truncatewords:25 }}</p>

                                    <div class="blog-footer">
                                        <hr class="blog-divider">
                                        <a href="{% url 'home:blogd' blog.slug %}" class="blog-read-more">Read More</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center">
                            <p>No blogs found in this category.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}

{% block javascript %}
{% endblock %}
