{% extends 'base.html' %}
{% load static %}
{% block seo%}
<title>{% spaceless %}{{data.meta_title}}{% endspaceless %}</title>
<meta name="description"content="{% spaceless %}{{data.meta_description}}{% endspaceless %}"/>
<link rel="canonical" href="{% spaceless %}{{ data.canonical }}{% endspaceless %}" />
<meta property="og:site_name" content="Advance Dental Export">
<meta property="og:url" content="{% spaceless %}{{ data.canonical }}{% endspaceless %}">
<meta property="og:title" content="{% spaceless %}{{ data.meta_title }}{% endspaceless %}">
<meta property="og:type" content="webiste">
<meta property="og:description" content="{% spaceless %}{{ data.meta_description }}{% endspaceless %}">
<meta property="og:image" content="{% spaceless %}{{ data.image.url }}{% endspaceless %}">
<meta property="og:image:secure_url" content="{% spaceless %}{{ data.image.url }}{% endspaceless %}">
{% comment %} <meta name="twitter:site" content="@{{ Twitter Handle }}"> {% endcomment %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% spaceless %}{{ data.meta_title }}{% endspaceless %}">
<meta name="twitter:description" content="{% spaceless %}{{ data.meta_description }}{% endspaceless %}">
<link rel="alternate" hreflang="x-default" href="{% spaceless %}{{ data.canonical }}{% endspaceless %}" />
<link rel="alternate" hreflang="en-IN" href="{% spaceless %}{{ data.canonical }}{% endspaceless %}" />

{% endblock seo%}
{% block css %} 
    <link  rel="preload" href="{% static 'css/blog.css' %}" as='stylesheet' />
    <link  href="{% static 'css/blog.css' %}" rel='stylesheet' media="print" onload="this.media='all'" />
{% endblock %}

{% block body %}
<!-- BREADCRUMB ============================================= -->
			<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'blog:blog' %}">Blogs</a></li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h1 class="h4-sm steelblue-color">{{data.category}}</h1>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		 
			</div>	<!-- END BREADCRUMB -->	
            <div class="blog_category_container container py-4">
                <div class="row justify-content-center justify-content-md-start">
                    {% for blog in all_blogs %}
                        <div class="col-lg-4 col-md-6 col-sm-10 mb-4">
                            <div class="position-relative mx-auto all-blog-content card">
                                <img src="{{blog.image.url}}" class="card-img-top h-100 img-fluid" />
                                <div class="card-body">
									<div class="blog-content-txt">
										<div class="my-2 blog-author-date-content d-flex justify-content-between">
											<div class="blog-author-wrapper">
												<img src="{% static 'author.png'%}" alt="Author-Icon" class="blog-author"/>
												<span class="blog-author-txt"> By {{ blog.author }}</span>
											</div>
											<div class="blog-author-wrapper">
												<img src="{% static 'celender.png'%}" alt="Author-Icon" class="blog-author"/>
												<span class="blog-author-txt"> {{ blog.published|date:"M. d, Y" }} </span>
											</div>
										</div>
									</div>
									<div class="blog-main-content steelblue-color">
										<h2 class="mt-3 card-title"><a href="{% url 'home:blogd' blog.slug %}" class="blog-item" data-title="{{ blog.title|lower }}" >{{blog.title}}</a></h2>	
											<p class="blog-content-descripation mb-0">
												{{blog.description}}
											</p>
											<div class="card-footer blog-footer">
												<a href="{% url 'home:blogd' blog.slug %}" class="blog-read-more">Read More</a>
												<hr class="blog-divider">
											</div>
									</div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center">
                            <p>No blogs found in this category.</p>
                        </div>
                    {% endfor %}
						<div class="blog-page-pagination mt-2 pt-3 pt-sm-0 b-top justify-content-center col-12">
							<nav aria-label="Page navigation justify-content-center">
								<ul class="pagination justify-content-center primary-theme ">
									{% if page_obj.has_previous %}
										<li class="page-item">
											<a class="page-link" rel="prev" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" tabindex="-1">
												<span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										{% else %}
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">
												<span aria-hidden="true">
													<i class="fa fa-chevron-left"></i>
												</span>
											</a>
										</li>
									{% endif %}


											{% for i in page_obj.paginator.page_range %}
												{% if i == 1 or i == 2 %}
													<li class="page-item {% if data1.number == i %}active{% endif %}">
														<a class="page-link" href="?page={{ i }}">{{ i }} {% if data1.number == i %}<span class="sr-only">(current)</span>{% endif %}</a>
													</li>

												{% elif i >= data1.number|add:'-1' and i <= data1.number|add:'1' and i != data1.paginator.num_pages %}
													{% if i == data1.number|add:'-1' and i > 2 %}
														<li class="page-item disabled"><span class="page-link">...</span></li>
													{% endif %}

													<li class="page-item {% if data1.number == i %}active{% endif %}">
														<a class="page-link" href="?page={{ i }}">{{ i }} {% if data1.number == i %}<span class="sr-only">(current)</span>{% endif %}</a>
													</li>

												{% elif i == data1.paginator.num_pages %}
													{% if data1.number < i|add:'-2' %}
														<li class="page-item disabled"><span class="page-link">...</span></li>
													{% endif %}
													<li class="page-item {% if data1.number == i %}active{% endif %}">
														<a class="page-link" href="?page={{ i }}">{{ i }} {% if data1.number == i %}<span class="sr-only">(current)</span>{% endif %}</a>
													</li>
													
												{% endif %}
											{% endfor %} 		
									
									{% if page_obj.has_next %}
											<li class="page-item">
												<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
													<span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
													<span class="sr-only">Next</span>
												</a>
											</li>
										{% else %}
											<li class="page-item disabled">
												<a class="page-link" href="#">
													<i class="fa fa-chevron-right"></i>
												</a>
											</li>
									{% endif %}
								</ul>	
							</nav>
						</div>
                </div>
            </div>
{% endblock %}

{% block javascript %}
{% endblock %}
