{% extends 'base.html' %} {% load static %}
 {% block seo %}
 <title>ADE | Latest Dental Innovations & Industry Insights </title>
 <meta name="description" content="Explore the Advance Dental Export Blog for the latest dental innovations, industry trends, and expert insights to enhance your dental practice.">
<meta property="og:locale" content="en_IN">
<meta property="og:type" content="website">
<meta property="og:title" content="Advance Dental Export Blog | Latest Dental Innovations & Industry Insights">
<meta property="og:description" content="Explore the Advance Dental Export Blog for the latest dental innovations, industry trends, and expert insights to enhance your dental practice.">
<meta property="og:url" content="https://advancedentalexport.com/blog/">
<meta property="og:site_name" content="Advance Dental Export ">
<meta property="article:section" content="Blog">
<meta property="og:image" content="{% static 'seo/blog/b125/8.jpg' %}">
<meta property="og:image:secure_url" content="{% static 'seo/blog/b125/8.jpg' %}">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="780">
<meta property="og:image:alt" content="Advance Dental Export Blog | Latest Dental Innovations & Industry Insights">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Explore the Advance Dental Export Blog for the latest dental innovations, industry trends, and expert insights to enhance your dental practice.">
<meta name="twitter:title" content="Advance Dental Export Blog | Latest Dental Innovations & Industry Insights">
<meta name="twitter:image" content="{% static 'seo/blog/b125/8.jpg' %}">
<link rel="canonical" href="https://advancedentalexport.com/blog/">
<link rel="alternate" hreflang="x-default" href="https://advancedentalexport.com/blog/" />
<link rel="alternate" hreflang="en-IN" href="https://advancedentalexport.com/blog/" />
{% endblock seo %} 
{% block css %} {% endblock css %}
{% block body %}
<!-- BREADCRUMB
			============================================= -->
			<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">
								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Stay Ahead in Dentistry – Expert Insights, Trends & Innovations</li>
								  	</ol>
								</nav>
								<!-- Title -->
								<h1 class="h4-sm steelblue-color">Stay Ahead in Dentistry – Expert Insights, Trends & Innovations</h1>
							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	

			<div class="newblog-page-section">
				<div class="container">
					<div class="row gap-4 gap-md-0 gap-lg-0 mt-5 mb-sm-4 mb-5 position-relative justify-content-center">
						<h2 class="blog-content-title order-lg-1 order-2 mb-0 mb-sm-3">Latest Blog</h2>
						{% for blog in first_blog %}
							<div class="col-lg-4 col-md-6 col-sm-11 order-lg-1 order-2">
										<div class="position-relative mx-auto all-blog-content card">
											<img src="{{blog.image.url}}" class="card-img-top h-100 img-fluid" />
											<div class="card-body">
												<div class="blog-content-txt">
													<div class="my-2 blog-author-date-content d-flex justify-content-between">
														<div class="blog-author-wrapper">
															<img src="{% static 'author.png'%}" alt="Author-Icon" class="blog-author"/>
															<span class="blog-author-txt"> By {{ blog.author }}</span>
														</div>
														<div class="blog-author-wrapper">
															<img src="{% static 'celender.png'%}" alt="Author-Icon" class="blog-author"/>
															<span class="blog-author-txt"> {{ blog.published|date:"M. d, Y" }} </span>
														</div>
													</div>
												</div>
												<div class="blog-main-content steelblue-color">
												<h2 class="mt-3 card-title text-start"><a href="{% url 'home:blogd' blog.slug %}" class="blog-item" data-title="{{ blog.title|lower }}" >{{blog.title}}</a></h2>
													<!-- Post Text -->
													<p class="blog-content-descripation mb-0">
														{{blog.description}}
													</p>
													<div class="card-footer blog-footer">
														<a href="{% url 'home:blogd' blog.slug %}" class="blog-read-more">Read More</a>
														<hr class="blog-divider">
													</div>
											</div>
											</div>
										</div>
							</div>
						{% endfor %}
						<div class="col-lg-4 order-lg-2 d-md-flex d-lg-block justify-content-between align-items-center align-items-sm-start order-1">
							<form class="blog_search_form" action="/blog/" method="GET">
								<input class="blog-txt-field form-control" type="text" id="searchInput" onchange="searchBlogs(event)" oninput="searchBlogs(event)" placeholder="Search Blogs and Tags" name="q">
								<img src="{% static 'search-icon3.svg' %}" class="search-icon-img img-fluid" id="searchicon-Img" />
								<i class="fa-solid fa-xmark fs-5 d-none" id="closebutton"></i>
							</form>
							<div id="suggestions"></div>
							<div class="blog_category_wrapper">
								<h2 class="blog_category_title">Category</h2>
								<select class="d-lg-none d-md-block form-select" name="category" aria-label="Select Category" onchange="redirectToCategory(this)">
									<option> Category</option>
									{% for ie in data2 %}
										<option value="{{ie.slug}}" {% if category == ie.category|stringformat:"s" %}selected{% endif %}>
											{{ie.category}}
										</option>
									{% endfor %}	
								</select>
								{% for ie in data2 %}
									<div class="blog_category_name mb-3 mx-2" >
										<h3 class="mb-0" onclick="redirectToCategory('{{ ie.slug }}')">{{ ie.category }}</h3>
									</div>
								{% endfor %}
							</div>

						</div>
					</div>
				

					<h2 class="blog-content-title mb-0 mb-sm-3">All Blogs</h2>
					<div class="row gap-4 gap-md-0 gap-lg-0  align-items-center justify-content-center mt-3  pb-sm-5 pb-0">
						{% for blog in all_blog %}
							<div class="col-lg-4 col-md-6 col-sm-11 mb-md-4 mb-lg-4 d-md-block blog-page-wrapper">
								<div class="position-relative mx-auto all-blog-content card">
										<img src="{{blog.image.url}}" class="card-img-top h-100 img-fluid" />
										<div class="card-body ">
											<div class="blog-content-txt">
												<div class="my-2 blog-author-date-content d-flex justify-content-between">
													<div class="blog-author-wrapper">
														<img src="{% static 'author.png'%}" alt="Author-Icon" class="blog-author"/>
														<span class="blog-author-txt"> By {{ blog.author }}</span>
													</div>
													<div class="blog-author-wrapper">
														<img src="{% static 'celender.png'%}" alt="Author-Icon" class="blog-author"/>
														<span class="blog-author-txt"> {{ blog.published|date:"M. d, Y" }} </span>
													</div>
												</div>
											</div>
											<div class="blog-main-content steelblue-color">
												<h2 class="mt-3 card-title text-start"><a href="{% url 'home:blogd' blog.slug %}" class="blog-item" data-title="{{ blog.title|lower }}" >{{blog.title}}</a></h2>
												<!-- Post Text -->
												<p class="blog-content-descripation mb-0">
													{{blog.description}}
												</p>
												<div class="card-footer blog-footer">
													<a href="{% url 'home:blogd' blog.slug %}" class="blog-read-more">Read More</a>
													<hr class="blog-divider">
												</div>
											</div>
										</div>
									</div>
                            </div>
						{% endfor %}
						<div class="blog-page-pagination mt-2 b-top justify-content-center col-12">
							<nav aria-label="Page navigation justify-content-center">
								<ul class="pagination justify-content-center primary-theme ">
									{% if page_obj.has_previous %}
										<li class="page-item">
											<a class="page-link" rel="prev" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" tabindex="-1">
												<span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										{% else %}
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">
												<span aria-hidden="true">
													<i class="fa fa-chevron-left"></i>
												</span>
											</a>
										</li>
									{% endif %}


											{% for i in page_obj.paginator.page_range %}
												{% if i == 1 or i == 2 %}
													<li class="page-item {% if data.number == i %}active{% endif %}">
														<a class="page-link" href="?page={{ i }}">{{ i }} {% if data.number == i %}<span class="sr-only">(current)</span>{% endif %}</a>
													</li>

												{% elif i >= data.number|add:'-1' and i <= data.number|add:'1' and i != data.paginator.num_pages %}
													{% if i == data.number|add:'-1' and i > 2 %}
														<li class="page-item disabled"><span class="page-link">...</span></li>
													{% endif %}

													<li class="page-item {% if data.number == i %}active{% endif %}">
														<a class="page-link" href="?page={{ i }}">{{ i }} {% if data.number == i %}<span class="sr-only">(current)</span>{% endif %}</a>
													</li>

												{% elif i == data.paginator.num_pages %}
													{% if data.number < i|add:'-2' %}
														<li class="page-item disabled"><span class="page-link">...</span></li>
													{% endif %}
													<li class="page-item {% if data.number == i %}active{% endif %}">
														<a class="page-link" href="?page={{ i }}">{{ i }} {% if data.number == i %}<span class="sr-only">(current)</span>{% endif %}</a>
													</li>
													
												{% endif %}
											{% endfor %} 		
									
									{% if page_obj.has_next %}
											<li class="page-item">
												<a class="page-link" rel="next" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
													<span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
													<span class="sr-only">Next</span>
												</a>
											</li>
										{% else %}
											<li class="page-item disabled">
												<a class="page-link" href="#">
													<i class="fa fa-chevron-right"></i>
												</a>
											</li>
									{% endif %}
								</ul>	
							</nav>
						</div>
					</div>
				</div>
			</div>
{% endblock body %}
{% block js %}
{% comment %} <script>
	document.getElementById('searchInput').addEventListener('change',function(event){
		const query = event.target.value.toLowerCase();
		const items = document.querySelectorAll('.blog-item') 
		console.log("items",items);
		fetch(`/blog/?q=${encodeURIComponent(query)}`)
		.then(response => response.text())
		.then(data => {
			let parser = new DOMParser();
			let doc = parser.parseFromString(data,"text/html");
			let newContent = doc.querySelector("#blogResults");

			if(newContent){
				document.getElementById("blogResults").innerHTML = newContent.innerHTML;
			}
			console.log("html",data)
		});
	})	
</script>	 {% endcomment %}
<script>
    function redirectToCategory(slug) {
		const dataType = typeof(slug)
		if(dataType === "string"){
			if (slug) {
           		window.location.href = "/blog/category/" + slug + "/"; 
        	}
		}
		else{
			const slug1 = slug.value;
           	window.location.href = "/blog/category/" + slug1 + "/"; 
		}
    }
</script>
<script>
	function searchBlogs(event) {
		if(event.target.value === ""){
			const a = document.getElementById("closebutton")
			const b = document.getElementById("searchicon-Img")
			a.classList.add("d-none");
			a.classList.remove("d-block")
			b.classList.add("d-block")
			b.classList.remove("d-none")
		}else{
			const a = document.getElementById("closebutton")
			const b = document.getElementById("searchicon-Img")
			a.classList.add("d-block")
			a.classList.remove("d-none")
			b.classList.add("d-none")
			b.classList.remove("d-block")
		}
		const query = document.getElementById('searchInput').value;
		if (query.length < 2) {
			document.getElementById('suggestions').innerHTML = '';
			return;
    	}

		fetch(`/blog/?q=${encodeURIComponent(query)}`,{headers: {
            'X-Requested-With': 'XMLHttpRequest' // important for detection in view
        }})
		.then(response => response.json())
		.then(data => {
				const suggestionBox = document.getElementById('suggestions');
				suggestionBox.innerHTML = '';
				if(data.results.length == 0 ){
					const div = document.createElement('p');
					div.textContent = "Not found blog data !";
					div.style.cursor = 'pointer';
					suggestionBox.appendChild(div);
				}else{
					data.results.forEach(blog => {
						const div = document.createElement('a');
						div.href= `/blog/${blog.slug}/`;
						div.textContent = blog.title;
						div.style.padding = '5px 10px';
						div.style.borderBottom = '1px solid #ccc';
						div.style.cursor = 'pointer';
						suggestionBox.appendChild(div);
        			});
				}
		})
	}
	document.getElementById('closebutton').addEventListener('click',function(){
		const input = document.getElementById('searchInput')
		input.value = '';

		const closeBtn = document.getElementById('closebutton')
		const searchIcon = document.getElementById("searchicon-Img")
		closeBtn.classList.add("d-none");
		closeBtn.classList.remove("d-block");
		searchIcon.classList.add("d-block");
		searchIcon.classList.remove("d-none");

		const suggestionBox = document.getElementById('suggestions');
    	suggestionBox.innerHTML = '';
	})
</script>
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Blog",
	  "name": "Advance Dental Export Blogs for Dentistry",
	  "url": "https://advancedentalexport.com/blog/",
	  "publisher": {
		"@type": "Organization",
		"name": "Advance Dental Export",
		"url": "https://advancedentalexport.com/"
	  }
	}
</script>
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "BreadcrumbList",
	  "itemListElement": [
		{
		  "@type": "ListItem",
		  "position": 1,
		  "name": "Home",
		  "item": "https://advancedentalexport.com/"
		},
		{
		  "@type": "ListItem",
		  "position": 2,
		  "name": "Blogs",
		  "item": "https://advancedentalexport.com/blog/"
		}
	  ]
	}
</script>
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "CollectionPage",
	  "name": "Dental & Dentistry Blogs - Insights, Trends, Innovations",
	  "url": "https://advancedentalexport.com/blog/",
	  "description": "Explore expert insights, emerging trends, and the latest innovations in dental care and dentistry through our informative blog articles."
	}
</script>	
{% endblock js %}