{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/custom-contact-form.css'%}" />
{% endblock %}
<section class="blog-conatct-wrapper mb-3">
    <div class="container contact-box">
        <p class="contact-text text-center">Looking for a trusted lab partner? Get high-precision restorations from Advance Dental Export</p>
        <a href="/contact-us/">
            <div class="new-contact-btn">
                Contact Us
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.614 4.97875L2.06208 17.5306L0 15.4685L12.5504 2.91667H1.48896V0H17.5306V16.0417H14.614V4.97875Z" fill="black"/>
                </svg>
            </div>
        </a>
    </div>
</section>