
{% extends 'base.html' %}
{% load static %}

{% block seo %}
<title>{% spaceless %}{{data.title}}{% endspaceless %}</title>
<meta name="description" content="{% spaceless %}{{data.description}}{% endspaceless %}">
<meta name="keyword" content="{% spaceless %}{{data.keyword}}{% endspaceless %}">
<link rel="canonical" href="{% spaceless %}{{data.canonical}}{% endspaceless %}">
<!-- Opengraphs -->
<meta property="og:title" content="{% spaceless %}{{data.title}}{% endspaceless %}" />
<meta property="og:type" content="{% spaceless %}{{data.og_type}}{% endspaceless %}" />
<meta property="og:url" content="{% spaceless %}{{data.canonical}}{% endspaceless %}" />
<meta property="og:image" content="{% spaceless %}{{data.image.url}}{% endspaceless %}" />
<meta property="og:description" content="{% spaceless %}{{data.description}}{% endspaceless %}" />

<meta name="twitter:card" content="{% spaceless %}{{data.description}}{% endspaceless %}" />
<meta name="twitter:site" content="@advancedentalexport" />
<meta name="twitter:title" content="{% spaceless %}{{data.title}}{% endspaceless %} " />
<meta name="twitter:description" content="{% spaceless %}{{data.description}}{% endspaceless %}" />
<meta name="twitter:image" content="{% spaceless %}{{data.image.url}}{% endspaceless %}" />
<link rel="alternate" hreflang="x-default" href="{% spaceless %}{{data.canonical}}{% endspaceless %}" />
<link rel="alternate" hreflang="en-IN" href="{% spaceless %}{{data.canonical}}{% endspaceless %}" />   
{{data.schema|safe}} 
{% endblock seo %}

{% block css %}
<style>
    p{
        font-size: 18px;
    }
    .content p{
        width: 100%!important;
    }
    .content ul,.content  ol{
        padding-left: 25px!important;
    }
</style>
<link  rel="preload" href="{% static 'css/blog.css' %}" as='stylesheet' />
<link  href="{% static 'css/blog.css' %}" rel='stylesheet' media="print" onload="this.media='all'" />
<link  rel="preload" href="{% static 'css/review.css' %}" as='stylesheet' />
<link  href="{% static 'css/review.css' %}" rel='stylesheet' media="print" onload="this.media='all'" />
{% endblock css %}
    


{% block body %}


<!-- BREADCRUMB
			============================================= -->
			<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
								    	<li class="breadcrumb-item active"><a href="#">{{data.breadcrumb}}</a></li>
								    	
								  	</ol>
								</nav>

								<!-- Title -->
								<h1 class="h4-sm steelblue-color">{{data.h1}}</h1>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- BLOG PAGE CONTENT ============================================= -->
	        <div id="blog-page" class="wide-75 blog-page-section division">
                {% if request.path == "/porcelain-fused-to-metal-pfm/" %}
                    <div class="pfm-main">
                        <div class="pfm-left">
                            <img src="{% static '/img/rotate1.png' %}" alt="Rotating" class="pfm-rotate" />
                        </div>
                        <div class="pfm-right">
                            <img src="{% static '/img/pfm-product.png' %}" class="img-fluid" width="1479" height="808" alt="static"/>
                        </div>
                    </div>
                {% endif %}
                <div class="container">
                    <div class="row">
                        <!-- BLOG POSTS HOLDER -->
                        <div class="col-lg-12">
                            <div class="posts-holder">
                                <div class="single-blog-post">
                                    <!-- BLOG POST IMAGE -->
                                    <div class="blog-post-img mb-40">
                                        {% if request.path != "/porcelain-fused-to-metal-pfm/" %}
                                            {% comment %} <div class="pfm-main">
                                                <div class="pfm-left">
                                                    <img src="{% static '/img/rotate.png' %}" alt="Rotating" class="pfm-rotate" />
                                                </div>
                                                <div class="pfm-right">
                                                    <img src="{% static '/img/pfm-product.png' %}" class="img-fluid" alt="static"/>
                                                </div>
                                            </div> {% endcomment %}
                                            <img class="img-fluid" src="{{ data.image.url }}" alt="{{ data.alt }}" />
                                            {% comment %} <img class="img-fluid" src="{{ data.image.url }}" alt="{{ data.alt }}"> {% endcomment %}
                                        {% endif %}
                                    </div>

                                    <!-- BLOG POST TEXT -->
                                    <div class="sblog-post-txt">
                                        {% comment %} <h2 class="steelblue-color">{{ data.title }}</h2> {% endcomment %}

                                        <div class="content mt-3">
                                            {{ data.content|safe }}
                                        </div>

                                        <!-- FAQ Section -->
                                        <h2 class="h2-m mt-5 steelblue-color">Frequently Asked Questions</h2>
                                        <section class="faq-section-product">
                                            <div class="faq" id="accordion">
                                                {% for ie in data4 %}
                                                    <div class="card">
                                                        <div class="card-header" id="faqHeading-1{{ forloop.counter }}">
                                                            <div class="mb-0">
                                                                <div class="faq-title collapsed" data-bs-toggle="collapse" data-bs-target="#faqCollapse-1{{ forloop.counter }}" aria-expanded="false" aria-controls="faqCollapse-1{{ forloop.counter }}">
                                                                    <span class="badge">
                                                                        <div class="test-xs">
                                                                            {{ forloop.counter }}
                                                                        </div>
                                                                    </span>
                                                                    <div class="pt-2">
                                                                        {{ ie.question }}
                                                                    </div>
                                                                    <span class="faq-toggle-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="faqCollapse-1{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="faqHeading-1{{ forloop.counter }}" data-bs-parent="#accordion">
                                                            <div class="card-body">
                                                                <span class="p3 faq-answer-product">
                                                                    <p>{{ ie.answer|safe }}</p>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </section>
                                        <!-- ABOUT POST AUTHOR -->
                                            <div class="author-senoff">
                                            <!-- Avatar -->
                                            <img src="{{author.image.url}}" alt="Haresh Savani Author Advance Dental Export Image" />

                                            <!-- Text -->
                                            <div class="author-senoff-txt">
                                                <!-- Title -->
                                                <span class="steelblue-color"> {{author}} </span>
                                                <p class="fw-bold">{{author.position}}</p>
                                                <p>{{author.description|safe}}</p>
                                                <div class="author-social-links mt-2">
                                                {% if author.fb %}
                                                    <a href="{{ author.fb }}" target="_blank" class="author-social-link">
                                                    <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                {% endif %}
                                                {% if author.insta %}
                                                    <a href="{{ author.insta }}" target="_blank" class="author-social-link">
                                                    <i class="fab fa-instagram"></i>
                                                    </a>
                                                {% endif %}
                                                {% if author.linkedin %}
                                                    <a href="{{ author.linkedin }}" target="_blank" class="author-social-link">
                                                    <i class="fab fa-linkedin-in"></i>
                                                    </a>
                                                {% endif %}
                                                </div>
                                            </div>
                                            </div>
                                        <!-- END ABOUT POST AUTHOR -->
                                        <!-- RELATED BLOG POSTS -->
                                        {% if related_blogs %}
                                            <div class="related-product-posts mt-5">
                                                <h2 class="steelblue-color mt-4">Related Blog Post</h2>
                                                <div class="swiper-container">
                                                    <div class="swiper related-product-swiper">
                                                        <div class="swiper-wrapper">
                                                            {% for ie in related_blogs %}
                                                                <div class="swiper-slide position-relative">
                                                                    <div class="position-relative all-blog-content card">
                                                                        <img src="{{ ie.image.url }}" alt="{{ ie.alt }}" class="card-img-top h-100 img-fluid" />
                                                                        <div class="card-body">
                                                                            <div class="blog-content-txt">
                                                                                <div class="my-2 blog-author-date-content d-flex justify-content-between">
                                                                                    <div class="blog-author-wrapper">
                                                                                        <img src="{% static 'author.png' %}" alt="Author profile identification icon for blog or article" class="blog-author" />
                                                                                        <span class="blog-author-txt">By {{ ie.author }}</span>
                                                                                    </div>
                                                                                    <div class="blog-author-wrapper">
                                                                                        <img src="{% static 'celender.png' %}" alt="Calendar-Icon" class="blog-author" />
                                                                                        <span class="blog-author-txt">{{ ie.published|date:"M. d, Y" }}</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="blog-main-content text-start steelblue-color">
                                                                                <span class="mt-3 card-title">
                                                                                    <a href="{% url 'home:blogd' ie.slug %}" class="blog-item" data-title="{{ ie.title|lower }}">{{ ie.title }}</a>
                                                                                </span>
                                                                                <p class="blog-content-descripation mb-0">{{ ie.description }}</p>
                                                                                <div class="card-footer blog-footer">
                                                                                    <a href="{% url 'home:blogd' ie.slug %}" class="blog-read-more">Read More</a>
                                                                                    <hr class="blog-divider">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="swiper-pagination"></div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div> <!-- END BLOG POST TEXT -->
                                </div>
                            </div>

                        </div> <!-- END BLOG POSTS HOLDER -->

                        <!-- SIDEBAR -->
                        {% comment %} {% include 'aside.html' %} {% endcomment %}
                    </div>
                </div>
            </div>
	
      <!-- END BLOG PAGE CONTENT -->




{% endblock body %}
    


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script> 
  var swiper = new Swiper(".related-product-swiper",{
    slidesPerView: 1,
    spaceBetween: 20,
    speed:600,
    loop:true,
    pagination: {
      el: ".swiper-pagination",
      clickable: !0,
      dynamicBullets: true,
      dynamicMainBullets: 3,
    },
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      576: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      991: {
        slidesPerView: 3,
      },
      1200: {
        slidesPerView: 3,
      },
    },
  })
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://advancedentalexport.com/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{data.h1}}",
          "item": "{% spaceless %}{{data.canonical}}{% endspaceless %}"
        }
      ]
    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "{{data.breadcrumb}} for Dental Restoration",
      "provider": {
        "@type": "Organization",
        "name": "Advance Dental Export",
        "url": "https://advancedentalexport.com/"
      },
      "areaServed": {
        "@type": "Country",
        "name": "India"
      },
      "description": "Advance Dental Export is one of the best dental labs in India and a trusted dental prosthetics manufacturer, custom dental solutions for global clients since 2009."
    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "url": "{% spaceless %}{{data.canonical}}{% endspaceless %}",
      "name": "{% spaceless %}{{data.h1}}{% endspaceless %}",
      "description": "{% spaceless %}{{data.description}}{% endspaceless %}",
      "datePublished": "{{ data.published|date:'c' }}T10:00:00+05:30"
    }
</script>
{% endblock js %}
    
