{% extends 'base.html' %}
{% load static %}

{% block seo %}
<title>Best Dental Lab in {{pk.name}} & Near by | Advance Dental Export</title>
<meta name="description" content="Looking for the best dental lab in {{pk.name}}? Advance Dental Export provides the best quality dental crowns, bridges, implants, dentures, and other dental prosthesis."/>
<meta name="keyword" content="{% spaceless %}{{pk.keyword}}{% endspaceless %}" />
<link rel="canonical" href="https://advancedentalexport.com/best-dental-lab-in-{{pk.slug}}/" />
<!-- Opengraphs -->
<meta property="og:title" content="{% spaceless %}{{pk.title}}{% endspaceless %}" />
<meta property="og:type" content="{% spaceless %}{{pk.og_type}}{% endspaceless %}" />
<meta property="og:url" content="https://advancedentalexport.com/best-dental-lab-in-{{pk.slug}}/" />
<meta property="og:site_name" content="Advance Dental Export"/>
{% if pk.image %}
<meta property="og:image" content="{% static 'img/feature.webp' %}" />
<meta property="og:image:alt" content="Best Dental Lab in {{pk.name}} & Near by | Advance Dental Export"/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/webp" />
{% endif %}
<meta name="og:description" content="Looking for the best dental lab in {{pk.name}}? Advance Dental Export provides the best quality dental crowns, bridges, implants, dentures, and other dental prosthesis." />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@advancedentalexport" />
<meta name="twitter:title" content="Best Dental Lab in {{pk.name}} & Near by | Advance Dental Export" />
<meta name="twitter:description" content="Looking for the best dental lab in {{pk.name}}? Advance Dental Export provides the best quality dental crowns, bridges, implants, dentures, and other dental prosthesis." />

{% if pk.image %}
<meta name="twitter:image" content="{% static 'img/feature.webp' %}" />
<meta property="twitter:image:alt" content="Best Dental Lab in {{pk.name}} & Near by | Advance Dental Export"/>
{% endif %}
<link rel="alternate" hreflang="x-default" href="https://advancedentalexport.com/best-dental-lab-in-{{pk.slug}}/" />
<link rel="alternate" hreflang="en-IN" href="https://advancedentalexport.com/best-dental-lab-in-{{pk.slug}}/" />
{% endblock seo %}

{% block css %}
  <link  rel="preload" href="{% static 'css/review.css' %}" as='stylesheet' />
  <link  href="{% static 'css/review.css' %}" rel='stylesheet' media="print" onload="this.media='all'" />
{% endblock css %}

{% block body %}
<div id="breadcrumb" class="division">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class=" breadcrumb-holder">

					<!-- Breadcrumb Nav -->
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Best Dental Lab in {{pk.name}}</li>
						</ol>
					</nav>

					<!-- Title -->
					<h1 class="h4-sm steelblue-color">Best Dental Lab in {{pk.name}}</h1>

				</div>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</div> <!-- END BREADCRUMB -->
<section id="about-6" class="pt-50 pb-50 about-section division">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-7">
				<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s"
					style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <span class="section-id blue-color">Welcome to Advance Dental Export</span>
					<h2 class="h2-m steelblue-color">Best Dental Lab In - {{pk.name}}</h2>
					<p>
						Looking for top-notch dental prosthetics? We’re <span class="fw-bold">{{pk.name}}’s best dental lab,</span> offering high-quality, 
            custom-made solutions for both dentists and patients. With years of experience in crafting dental 
            prosthetics and using the latest technology, we’re all about giving you the best care, a perfect fit, 
            and reliable service, every time. Trust us – we’ve got you covered!
					</p>
          <p>
            At Advanced Dental Export, we take pride in being one of the leading dental labs in India, 
            offering a wide range of dental solutions including dentures, implants, bridges, and more. 
            Our commitment to excellence has made us a trusted name in the dental industry not only in {{pk.name}} but across the nation.
          </p>
					<h2 class="h2-m section-id blue-color ">Here's why we stand out:</h2>
					<p>
						<b style="font-weight: bold;"> Quality Products:</b>We’re committed to delivering top-quality dental prosthetics 
            in {{pk.name}} that meet international standards. Our skilled team uses the latest technology to ensure every dental 
            appliance we create is precise and reliable.
					</p>

					<p>
						<b style="font-weight: bold;">Competitive Prices:</b> We know how important affordability is. That's why,
            even with our high-quality services, we offer competitive prices to make dental care accessible to 
            everyone in {{pk.name}}.
					</p>

					<p>
						<b style="font-weight: bold;">Experience and Expertise:</b> With years of experience in the dental industry, 
            our team is made up of passionate experts who always strive for the best results. We stay updated on the 
            latest advancements in dental technology to offer the best, cutting-edge solutions.
					</p>

					<p>
						<b style="font-weight: bold;">Imports and Exports:</b> We not only serve local clients in {{pk.name}} but also work 
            with national and international clients by importing and exporting dental prosthetic.
					</p>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="about-img text-center wow fadeInUp" data-wow-delay="0.6s"
					style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
					<img class="img-fluid" src="{% static 'harsh3.png' %}" alt="Haresh Savani, Founder"
						title="Haresh Savani, Founder" />
				</div>
			</div>
		</div>
	</div>
</section>
<section>
  <!--Static Counter -->
  <div class="container text-center my-5">
    <div class="row justify-content-center">
      <div class="col-md-3 col-6">
        <div class="stat-box d-flex align-items-center justify-content-center">
          <div class="icon-box">
            <img src="{% static 'cases.svg' %}" alt = "cases">
          </div>
          <div class="text-box">
            <h4><span class="count-element">6</span>L+</h4>
            <p>Cases</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="stat-box d-flex align-items-center justify-content-center">
          <div class="icon-box">
            <img src="{% static 'doctor.svg' %}" alt = "doctor">
          </div>
          <div class="text-box">
            <h4><span class="count-element">400</span>+</h4>
            <p>Qualified Professional</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="stat-box d-flex align-items-center justify-content-center">
          <div class="icon-box">
            <img src="{% static 'dentist.svg' %}" alt = "cases">
          </div>
          <div class="text-box">
            <h4><span class="count-element">3500</span>+</h4>
            <p>Trusted Dentists</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="stat-box d-flex align-items-center justify-content-center">
          <div class="icon-box">
            <img src="{% static 'location-new.svg' %}" alt = "cases">
          </div>
          <div class="text-box">
            <h4><span class="count-element">500</span>+</h4>
            <p>Local Partners</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About team -->
<section id="banner-7" class="bg-fixed banner-section division">
    <div class="container white-color px-0">
      <div class="row d-flex align-items-center justify-content-center justify-content-md-start justify-content-lg-start mx-auto">
        <div class="col-md-8 col-lg-6 col-xl-5 col-sm-10">
          <div class="banner-txt wow fadeInUp" data-wow-delay="0.4s" style="
            visibility: visible;
            animation-delay: 0.4s;
            animation-name: fadeInUp;
          ">
            <h2 class="h2-xs text-center text-sm-start text-lg-start" style="font-size: 2.1rem">
              Where Quality <br />
              Meets Excellence
            </h2>
            <p>
              One common dream fuels us:<br />
              Elevating Digital Dentistry to unparalleled <br />
              heights worldwide
            </p>
            <a href="{% url 'home:contact_new' %}" class="btn btn-blue tra-white-hover mt-20">Get In Touch</a>
          </div>
        </div>
      </div>
    </div>
</section>
<section id="services-7" class="bg-lightgrey wide-601 servicess-section division">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto section-title">
          <h2 class="h2-m steelblue-color mb-0">What Makes Us a Leading Dental Lab in {{pk.name}} City.</h2>
        </div>
        <div class="col-lg-12">
          <div class="row mx-sm-0">
            <div class="col-md-6 col-lg-4 future-card">
              <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible">
                <div class="hexagon">
                  <span class="flaticon-137-doctor blue-color"></span>
                </div>
                <div class="sbox-7-txt">
                  <h3 class="h3-m steelblue-color">Top-Level Technicians</h3>
                  <p class="p-sm" style="font-size: 12px">We’re committed to providing dental prosthetics to dentists in {{pk.name}} with the highest quality care, products, and services. Our team of skilled and qualified dental technicians is dedicated to delivering exceptional results every time.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 future-card">
              <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible">
                <div class="hexagon">
                  <span class="flaticon-076-microscope blue-color"></span>
                </div>
                <div class="sbox-7-txt">
                  <h3 class="h3-m steelblue-color">Advanced Technology</h3>
                  <p class="p-sm" style="font-size: 12px">We use the latest digital dentistry technology to create top-tier dental prosthetics. By staying updated with innovations, we offer affordable, high-quality products and services, ensuring our solutions meet the evolving needs of {{pk.name}}’s dental professionals.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 future-card">
              <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible">
                <div class="hexagon">
                  <span class="flaticon-080-shield blue-color"></span>
                </div>
                <div class="sbox-7-txt">
                  <h3 class="h3-m steelblue-color">Qualified Facilities</h3>
                  <p class="p-sm" style="font-size: 12px">Our fully equipped dental facilities in {{pk.name}} meet the highest industry standards, ensuring top-quality results. Every member of our dedicated team ensures you receive the best dental prosthetics and materials available.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 future-card">
              <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible">
                <div class="hexagon">
                  <span class="flaticon-113-clinic-history-4 blue-color"></span>
                </div>
                <div class="sbox-7-txt">
                  <h3 class="h3-m steelblue-color">Professional Dental Services</h3>
                  <p class="p-sm" style="font-size: 12px">We specialize in crown, bridge, and dentured, designing custom smiles for every patient. With a focus on professional care, we deliver personalized, functional, and aesthetic solutions. Our commitment to excellence has earned us a reputation as {{pk.name}}’s trusted lab for dental prosthetics.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 future-card">
              <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible">
                <div class="hexagon">
                  <span class="flaticon-143-teeth blue-color"></span>
                </div>
                <div class="sbox-7-txt">
                  <h3 class="h3-m steelblue-color">Precision Craftsmanship</h3>
                  <p class="p-sm" style="font-size: 12px">We take pride in our precision craftsmanship. Each restoration is designed with meticulous attention to detail, ensuring perfect fit, function, and aesthetics. Our blend of skill and technology ensures that every dental product meets the highest standards.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 future-card">
              <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible">
                <div class="hexagon">
                  <span class="flaticon-079-safebox blue-color"></span>
                </div>
                <div class="sbox-7-txt">
                  <h3 class="h3-m steelblue-color">Client-Centric Approach</h3>
                  <p class="p-sm" style="font-size: 12px">We build strong partnerships with {{pk.name}}’s dental professionals by maintaining clear communication. Every dental solution is tailored to your needs, ensuring optimal outcomes. Our client-focused approach ensures we help dentists create beautiful smiles.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
 <!-- - SERVICE SECTION -->
<section id="services-6" class="bg-blue wide-40 servicess-section division">
    <div class="container white-color">
      <div class="row">
        <div class="col-lg-12 mx-auto section-title">
          <h2 class="h2-m">Our Core Dental Services In {{pk.name}}</h2>
          <p>Experience an Unmatched Spectrum of Services: Catering to Every Dental Professional's Needs Today!</p>
        </div>
        <div class="col-md-6 col-lg-4 d-flex first">
          <div class="sbox-6 text-md-start text-lg-end wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s">
            <h3 class="h3-m justify-content-lg-end justify-content-md-start justify-content-sm-center">CAD/CAM Technology</h3>
            <p>We lead in digital dentistry, offering advanced technology like 3M True Definition, Cadent Itero, and other open architecture systems.</p>
          </div>
          <div class="sbox-6 text-md-start text-lg-end wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s">
            <h3 class="h3-m justify-content-lg-end justify-content-md-start justify-content-sm-center">Shade Analysis</h3>
            <p>
              We accurately match challenging shades using digital photos or in-lab consultations. Send photos to:
              <a href="mailto:color@advancedentalexport.com">color@advancedentalexport.com</a> for precise results.
            </p>
          </div>
          <div class="sbox-6 text-md-start text-lg-end wow fadeInRight" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s">
            <h3 class="h3-m justify-content-lg-end justify-content-md-start justify-content-sm-center">Case Planning Assistance</h3>
            <p>We offer personal consultations with doctors to discuss treatment options, providing technical recommendations for optimal patient care. </p>
          </div>
          <div class="sbox-6 text-md-start text-lg-end wow fadeInRight" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s">
            <h3 class="h3-m justify-content-lg-end justify-content-md-start justify-content-sm-center">Diagnostic Wax-Ups</h3>
            <p>Our comprehensive diagnostic wax-up services help in treatment planning, ensuring accurate and effective solutions for complex dental cases.</p>
          </div>
        </div>
        <div class="col-lg-4 d-lg-flex align-items-center s6-img">
          <div class="sbox-6-img text-center wow fadeInUp" data-wow-delay="0.4s">
            <img class="img-fluid lazy" src="{% static 'img/teeth-img93.webp' %}" data-src="{% static 'img/teeth-img93.webp' %}" alt="services-image" width="100%" height="100%" />
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex second">
          <div class="sbox-6 pl-30 text-lg-start wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s">
            <h3 class="h3-m">Cosmetic Restoration Service</h3>
            <p>We provide esthetic diagnostic wax-ups, silicone matrices, and temporaries, using the latest materials to achieve beautiful, predictable results for your patients.</p>
          </div>
          <div class="sbox-6 pl-30 text-lg-start wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s">
            <h3 class="h3-m">Implant Specialists</h3>
            <p>Our implant services include diagnostic wax-ups, stent fabrication, custom abutments, and denture bars, offering complete solutions for implant cases.</p>
          </div>
          <div class="sbox-6 pl-30 text-lg-start wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s">
            <h3 class="h3-m">Custom Milling</h3>
            <p>We specialize in custom milling for zirconia, implant abutments, overdenture bars, temporaries, and ceramics, ensuring precision and quality.</p>
          </div>
          <div class="sbox-6 pl-30 text-lg-start wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s">
            <h3 class="h3-m">Laser Welding</h3>
            <p>Quick, efficient laser welding services for partial denture repairs, providing high-quality results for urgent dental restorations.</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- new desgine of before & after -->
<section id="gallery-2" class="gallery-section division">
    <div class="container">
      <div class="row gallery-items-list text-center listing-gallery-img-items">
        <div class="col-lg-12 mx-auto section-title">
          <h3 class="h3-md steelblue-color mb-0">Before & After</h3>
        </div>
        <div class="swiper beforeSwiper">
          <div class="swiper-wrapper">
            {% for ie in gallery21 %}
              <div class="swiper-slide">
                <div class="hover03 wow zoomSlider">
                  <!-- Doctor Photo -->
                  <div class="image-item">
                    <img
                      class="img-fluid lazy"
                      src="{{ ie.image.url }}"
                      alt="doctor-foto"
                      width="100%"
                      height="100%"
                    />
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="col-md-12 text-center">
          <div class="all-posts-btn mb-40 wow fadeInUp" data-wow-delay="1s">
            <a
              href="{% url 'home:gallery' %}"
              class="btn btn-blue blue-hover submit"
              aria-label="See more in the Ade Gallery"
              >See More</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- client reviews -->
<section id="reviews-2">
    <div class="section-title text-center">
      <h2 class="h2-m steelblue-color mb-0">Client Chronicles: Their Stories, Their Experiences</h2>
    </div>
    <div class="review-section testimonials-slider">
      <div class="review-overlay" style="opacity: 0.7; background-color: rgb(36, 169, 146)"></div>
      <div class="container position-relative text-center">
        <div class="row justify-content-center carousel-row">
          <div class="col-sm-12 col-md-11 col-lg-11 col-11 carousel slide" data-bs-ride="carousel" id="carouselExampleControls">
            <div class="review-slider-testimonials">
              <div class="carousel-inner">
                {% for ie in data %}
                  <div class="{% if forloop.first %}active{% endif %} carousel-item" aria-label="Slide {{ forloop.counter }}">
                    <div class="review-user mx-auto col-lg-8 col-md-12 col-sm-11 col-12">
                      <div class="user_image">
                        <img src="{% static 'img/profile-user-3.png' %}" class="d-block w-100" alt="user" width="100%" height="100%" />
                      </div>
                      <p class="review-user-txt">
                        <i class="fa-solid fa-quote-left"></i>
                        {{ ie.review }}
                        <i class="fa-solid fa-quote-right"></i>
                      </p>
                      <p class="review-user-name mb-0">{{ ie.name }}</p>
                      <span class="review-user-desk" style="float: right">{{ ie.position }}</span>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="carousel-controls">
                <button class="carousel-control-prev review-prev-button" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></button>
                <button class="carousel-control-next review-next-button" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Testimonials-video -->
<section id="gallery-1" class="gallery-section division pt-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto section-title">
          <h2 class="h2-m steelblue-color mb-0">In Their Own Words: Tales of Trust from Our Clientele</h2>
        </div>
        <div class="swiper gallerySwiper">
          <div class="swiper-wrapper">
            {% for ie in video %}
            <div
              class="swiper-slide sbox-52 index-video1"
              data-video-id="{{ ie.link|cut:'https://www.youtube.com/embed/' }}"
            >
              <div class="video-container">
                <img
                  src="https://img.youtube.com/vi/{{ ie.link|cut:'https://www.youtube.com/embed/' }}/sddefault.jpg"
                  alt="Video Thumbnail"
                  class="video-thumbnail1"
                  width="100%"
                  height="100%"
                />
                <button class="play-button">▶</button>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
</section>
<!-- INFO-4
			============================================= -->
<section id="info-4" class="wide-100 info-section division">
	<div class="container">
		<!-- TOP ROW -->
		<div class="top-row mb-0">
			<div class="row d-flex align-items-center">


				<!-- INFO IMAGE -->
				<div class="col-lg-4">
					<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
						<img class="img-fluid" src="{% static 'aboutnew.png' %}" alt="info-image">
					</div>
					<!-- Singnature -->
					<div class="singnature mt-35 text-center">
						<!-- Singnature Image -->
						<!-- Recommended sizes for Retina Ready displays is 400x68px; -->
						<img class="img-fluid wow fadeInDown" data-wow-delay="0.6s" src="{% static 'img/puja.png' %}" width="200" height="34"
							alt="signature-image" /> 
					</div>  
				</div>


				<!-- INFO TEXT -->
				<div class="col-lg-8">
					<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

						<!-- Section ID -->
						<span class="section-id blue-color">Hear It From The Founder</span>

						<!-- Title -->
						<h2 class="h2-ms mb-20">Best Dental Lab Services in {{pk.name}} & Leader in Dental
							Implants, Cosmetic Dentistry and Digital Dentistry</h2>
            <div class="row">
      
              <!-- Vision -->
              <div class="col-md-6 mb-4">
                <div class="d-flex align-items-start">
                  <div class="ab-icon-outer me-3">
                    <img src="{% static 'vision.png' %}" class="img-fluid" alt="info-image"/>
                  </div>
                  <div class="text-start">
                    <h3 class="h3-m fw-bold mb-1 steelblue-color">Vision</h3>
                    <p class="mb-0">Deliver high-quality dental prosthetics for long-lasting and aesthetically pleasing results.</p>
                  </div>
                </div>
              </div>

              <!-- Manufacturing -->
              <div class="col-md-6 mb-4">
                <div class="d-flex align-items-start">
                <div class="ab-icon-outer me-3">
                  <img src="{% static 'Manufacturing.png' %}" class="img-fluid" alt="info-image"/>
                  </div>
                  <div class="text-start">
                    <h3 class="h3-m fw-bold mb-1 steelblue-color">Manufacturing</h3>
                    <p class="mb-0">100% in-house production ensures fast delivery, fewer remakes, and minimal adjustments.</p>
                  </div>
                </div>
              </div>

              <!-- Commitment -->
              <div class="col-md-6 mb-4">
                <div class="d-flex align-items-start">
                  <div class="ab-icon-outer me-3">
                    <img src="{% static 'Commitment.png' %}" class="img-fluid" alt="info-image"/>
                  </div>
                  <div class="text-start">
                    <h3 class="h3-m fw-bold mb-1 steelblue-color">Commitment</h3>
                    <p class="mb-0">Over 16 years focused on brilliance and durability—restoring confidence, one smile at a time.</p>
                  </div>
                </div>
              </div>

              <!-- Global Reach -->
              <div class="col-md-6 mb-4">
                <div class="d-flex align-items-start">
                  <div class="ab-icon-outer me-3">
                    <img src="{% static 'Global-Reach.png' %}" class="img-fluid" alt="info-image"/>
                  </div>
                  <div class="text-start">
                    <h3 class="h3-m fw-bold mb-1 steelblue-color">Global Reach</h3>
                    <p class="mb-0">Serving dentists in {{pk.name}}, India, the US, and Canada with trusted, top-tier lab services.</p>
                  </div>
                </div>
              </div>

              <!-- Digital Dentistry -->
              <div class="col-md-6 mb-4">
                <div class="d-flex align-items-start">
                  <div class="ab-icon-outer me-3">
                    <img src="{% static 'digital.png' %}" class="img-fluid" alt="info-image"/>
                  </div>
                  <div class=" text-start">
                    <h3 class="h3-m fw-bold mb-1 text-start steelblue-color">Digital Dentistry</h3>
                    <p class="mb-0">Leading with CAD/CAM for accuracy, cost-efficiency, and faster prosthetic production.</p>
                  </div>
                </div>
              </div>

              <!-- Technology -->
              <div class="col-md-6 mb-4">
                <div class="d-flex align-items-start">
                  <div class="ab-icon-outer me-3">
                    <img src="{% static 'Technology.png' %}" class="img-fluid" alt="info-image"/>
                  </div>
                  <div class="text-start">
                    <h3 class="h3-m fw-bold mb-1 steelblue-color">Technology</h3>
                    <p class="mb-0">Compatible with Cerec, 3Shape, iTero, 3M ESPE, Carestream and more. Digitally precise and fast.</p>
                  </div>
                </div>
              </div>

              <!-- Warranty and Authenticity -->
              <div class="col-md-12 mb-2">
                <div class="d-flex align-items-start">
                  <div class="ab-icon-outer me-3">
                    <img src="{% static 'Authenticity.png' %}" class="img-fluid" alt="info-image"/>
                  </div>
                  <div class=" text-start">
                    <h3 class="h3-m fw-bold mb-1 steelblue-color">Warranty & Authenticity</h3>
                    <p class="mb-0">Only authentic implant hardware and custom abutments used—ensuring product warranty and trust.</p>
                  </div>
                </div>
              </div>

            </div>

					</div>
				</div> <!-- END TEXT BLOCK -->

			</div> <!-- End row -->
		</div> <!-- END TOP ROW -->

	</div> <!-- End container -->
</section> <!-- END INFO-4 -->
<section id="contacts-1" class="wide-75 contact-section division" >
  <div class="container">
      <div class="row">
        <div class="col-lg-12 section-title">
          <h2 class="h2-m steelblue-color">Contact Us Today</h2>
          <p>
            Ready to elevate your dental practice with top-quality, custom prosthetics? 
            Reach out to us today to discover how our reliable, precision-crafted solutions can help take your practice to the next level.
          </p>
        </div>
        <div class="contact-wrapper d-lg-flex d-md-flex d-sm-block">
          <div class="col-md-5 col-lg-4 icon-xs wow fadeInUp mb-sm-4 mb-4 mb-md-0"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            ">
            <div class="contact-main-content">
              <h3 class="mb-3 contact-title">Contact Address</h3>
              <div class="contact-box mb-20">
                <h4 class="contact-content">India Office</h4>
                <a href="https://maps.app.goo.gl/XSUTrZ3JvfYqqFd47" target="_blank" class="contact-content">
                  <p>
                    Plot No. 1 to 8, Marutidham Industrial Estate, Behind Hotel
                    Royal, Velanja Road, Umra, Surat, Gujarat, India - 394 130.
                  </p>
                </a>
                <p class="contact-phone">
                    <div style="font-size: 12px;">
                        <i class="fa-sharp fa-solid fa-phone"></i> :
                        +91 84 88 88 88 77
                    </div>
                    <div style="font-size: 12px;">
                        <i class="fa-sharp fa-solid fa-phone"></i> :
                        +91 84 69 88 88 77
                    </div>
                </p>
                <p>
                  <i class="fa-sharp fa-solid fa-envelope"></i> :
                  <a href="mailto:info@advancedentalexport.com" class="blue-color" rel="nofollow">info@advancedentalexport.com</a>
                </p>
              </div>
              <div class="contact-box mb-20">
                <h4 class="contact-content mb-2">Canada Office</h4>
                <p>
                  <i class="fa-sharp fa-solid fa-phone"></i> :
                  +1 306-290-9222
                </p>
                <p>
                  <i class="fa-sharp fa-solid fa-envelope"></i> :
                  <a href="mailto: advancedentalservice@gmail.com" class="blue-color" rel="nofollow">advancedentalservice@gmail.com</a>
                </p>
              </div>
              <div class="contact-box mb-15">
                <h4 class="contact-content">USA Office</h4>
                <p>
                  <i class="fa-sharp fa-solid fa-phone"></i> :
                  +1 551-380-0385
                </p>
                <p class="d-flex align-items-center">
                  <i class="fa-sharp fa-solid fa-envelope me-1"></i>:
                  <a href="mailto:overseas@advancedentalexport.com" class="blue-color ms-1" rel="nofollow">overseas@advancedentalexport.com</a>
                </p>
              </div>
            </div>
        </div>

          <div class="col-md-7 col-lg-8 icon-xs wow fadeInUp"  data-wow-delay="0.4s" style="visibility: visible;animation-delay: 0.4s;animation-name: fadeInUp;">
              <div
                class="form-holder mb-40 d-flex align-items-center justify-content-center h-100">
                <form
                  class="row contact-form2 form align-items-center justify-content-center"
                  method="post"
                  action="{% url 'enquiry:contactd' %}"
                >
                  {% csrf_token %}
                  <div class="col-md-12 col-lg-6">
                    <div class="form-group">
                      <input
                        id="form_name"
                        name="name"
                        class="form-control name"
                        placeholder="Your Name*"
                        required
                        data-error="Enter no more than (2) characters."
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <div class="form-group">
                      <input
                        id="form_email"
                        class="form-control email"
                        type="email"
                        name="email"
                        placeholder="Your Email"
                        required
                        data-error="Email is required"
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <div class="form-group">
                      <input
                        id="form_phone"
                        class="form-control phone"
                        type="tel"
                        name="contact"
                        placeholder="Your Phone Number"
                        required
                        data-error="Please enter only digits."
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <div class="form-group">
                      <input
                        id="form_subject"
                        class="form-control subject"
                        name="subject"
                        placeholder="Subject*"
                        required
                        data-error="Subject is required"
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12 input-message">
                    <div class="form-group">
                      <textarea
                        id="form-message"
                        class="form-control message"
                        name="message"
                        rows="8"
                        placeholder="Your Message ..."
                        required  
                        data-error="Enter no more than (10) characters."
                      ></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mt-15 form-btn submit-btn">
                    <button type="submit" class="btn-blue submit">
                      Send Your Message
                    </button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock body %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
  var galleryswiper = new Swiper(".gallerySwiper", {
    speed: 1500,
    slidesPerView: 2,
    loop: true,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: !0,
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      767: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      991: {
        slidesPerView: 2,
      },
      1000: {
        slidesPerView: 2,
      },
    },
  });
  var BeforeSwiper = new Swiper(".beforeSwiper", {
    speed: 1500,
    slidesPerView: 3,
    loop: true,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: !0,
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      767: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      991: {
        slidesPerView: 2,
      },
      1000: {
        slidesPerView: 3,
      },
    },
  });
</script>
{% comment %} <script src="{% static 'js/galleryanimation.js' %}"></script> {% endcomment %}
{% comment %} {{pk.schema|safe}} {% endcomment %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "serviceType": "Dental Prosthesis Laboratory",
    "url": "https://advancedentalexport.com/",
    "provider": {
      "@type": "Organization",
      "name": "Advance Dental Export",
      "url": "https://advancedentalexport.com/"
    },
    "areaServed": {
      "@type": "Place",
      "name": "{{pk.name}}",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "{{pk.name}}",
        "addressCountry": "IN"
      }
    },
    "description": "Explore Advance Dental Export - the best dental lab in {{pk.name}} offering high-quality dental prosthetics including crowns, bridges, implants, dentures and all types of artificial teeths. Trusted by top dentists of {{pk.name}} for quality, our lab is well-quipped with advanced digital dentistry technologies like CAD/CAM lab, 3D printing, and intraoral scanning.",
    "availableChannel": {
      "@type": "ServiceChannel",
      "serviceUrl": "{{pk.canonical}}",
      "serviceLocation": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{pk.name}}",
          "addressCountry": "IN"
        }
      }
    }
  }
</script>
{% endblock js %}