{% extends 'base.html' %}
{% load static %}

{% block seo %}    
<title>Contact - Advance Dental Export</title>
<meta name="description" content="Advance Dental Lab is a trusted dental care facility, providing quality and personalized dental services. For any query at Advance Dental Lab contact us here" />
<link rel="canonical" href="https://advancedentalexport.com/contact/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Contact - Advance Dental Export" />
<meta property="og:description" content="Advance Dental Lab is a trusted dental care facility, providing quality and personalized dental services. For any query at Advance Dental Lab contact us here" />
<meta property="og:url" content="https://advancedentalexport.com/" />
<meta property="og:site_name" content="@advancedentalexport" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Advance Dental Lab is a trusted dental care facility, providing quality and personalized dental services. For any query at Advance Dental Lab contact us here" />
<meta name="twitter:title" content="Contact - Advance Dental Export" />

{% endblock seo %}
 
{% block css %}
{% endblock css %}
    


{% block body %}
	    	
			<!-- CONTACTS-1
			============================================= -->
			<section id="contacts-1" class="wide-60 contacts-section division">				
				<div class="container">
					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title">	

							<!-- Title 	-->	
							<h3 class="h3-md steelblue-color">Have a Question? Get In Touch</h3>	

							<!-- Text -->
							<p> Fill up the form and we will reply you with 24 hours.
							</p>
								
						</div>
					</div>
				
					<div class="container">
    					<div class="row">
                			<div class="col-lg-12">
                				<div class="row">
                				    <div class="col-md-4">
                						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
                							<span class="fa fa-user fa-2x blue-color"></span>       <!-- fa-2x for 2 times larger -->
            							    <div class="sbox-7-txt">
            							        <h5 class="h5-sm steelblue-color">Scan File Check</h5><hr>
                                                <p class="p">
                                                    <h6 class="h5-sm steelblue-color">Scan File Check 1</h6>
                                                    <!--<strong>Name:</strong> Dr. Sagar Dholakiya <br>-->
                                                    <strong>Contact:</strong> <a href="tel:+918849068626"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 8849068626</u></b>
                                                    </a>
                                                </p><hr>
                                                <p class="p">
                                                    <h6 class="h5-sm steelblue-color">Scan File Check 2</h6>
                                                    <!--<strong>Name:</strong> Mr. Bhavin Lagdhir <br>-->
                                                    <strong>Contact:</strong> <a href="tel:+919081338133"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 9081338133</u></b>
                                                    </a>
                                                </p><hr>
            						        </div>
                						</div>
                					</div>
                				    <div class="col-md-4">
                						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
                							<span class="fa fa-user fa-2x blue-color"></span>       <!-- fa-2x for 2 times larger -->
            							    <div class="sbox-7-txt">
            							        <h5 class="h5-sm steelblue-color">Advance zirconia</h5><hr>
                                                <p class="p">
                                                    <h6 class="h5-sm steelblue-color">Export Quality Advance zirconia </h6>
                                                    <strong>Name:</strong> Mr. Chetan Savani<br>
                                                    <strong>Contact:</strong> <a href="tel:+919998442300"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 9998442300</u></b>
                                                    </a>
                                                </p><hr>
                                                <p class="p">
                                                    <h6 class="h5-sm steelblue-color">Advance zirconia Crown and Bridges</h6>
                                                    <strong>Name:</strong> Mr. Keval Paladiya <br>
                                                    <strong>Contact:</strong> <a href="tel:+917567272507"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 7567272507</u></b>
                                                    </a>
                                                </p><hr>
            						        </div>
                						</div>
                					</div>
                					<div class="col-md-4">
                						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
                							<span class="fa fa-user fa-2x blue-color"></span>       <!-- fa-2x for 2 times larger -->
            							    <div class="sbox-7-txt">
            							        <h5 class="h5-sm steelblue-color">Case Receive and Dispatch</h5><hr>
                                                <p class="p">
                                                    <h6 class="h5-sm steelblue-color">Case Received </h6>
                                                    <!--<strong>Name:</strong> Mr. Lila Tukadiya<br>-->
                                                    <strong>Contact:</strong> <a href="tel:+917698828880"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 7698828880</u></b>
                                                    </a>
                                                </p><hr>
                                                <p class="p">
                                                    <h6 class="h5-sm steelblue-color">Case Dispatch</h6>
                                                    <!--<strong>Name:</strong> Mr. Mayur Baleja <br>-->
                                                    <strong>Contact:</strong> <a href="tel:+919727096232"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 9727096232</u></b>
                                                    </a>
                                                </p><hr>
            						        </div>
                						</div>
                					</div>
                					
                					<div class="col-lg-8">
                                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: .4s; animation-name: fadeInUp;">
                                            <span class="fa fa-user fa-2x blue-color"></span> <!-- fa-2x for 2 times larger -->
                                            <div class="sbox-7-txt">
                                                <h5 class="h5-sm steelblue-color">Impant Prosthesis</h5>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="p">
                                                            <h6 class="h5-sm steelblue-color">Export Quality Implant / Full arch</h6>
                                                            <strong>Name:</strong> Mr. Dhaval Mathukiya <br>
                                                            <strong>Contact:</strong> <a href="tel:+917622982298" class="steelblue-color" style="text-decoration: none;">
                                                                <b>&nbsp;<u>+91 7622982298</u></b>
                                                            </a>
                                                        </p><hr>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="p">
                                                            <h6 class="h5-sm steelblue-color">Implant General 1</h6>
                                                            <!--<strong>Name:</strong> Mr. Ravi Navadiya <br>-->
                                                            <strong>Contact:</strong> <a href="tel:+919081825800" class="steelblue-color" style="text-decoration: none;">
                                                                <b>&nbsp;<u>+91 9081825800</u></b>
                                                            </a>
                                                        </p><hr>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="p">
                                                            <h6 class="h5-sm steelblue-color">Implant General 2</h6>
                                                            <!--<strong>Name:</strong> Mr. Parth Bamroliya <br>-->
                                                            <strong>Contact:</strong> <a href="tel:+919081825700" class="steelblue-color" style="text-decoration: none;">
                                                                <b>&nbsp;<u>+91 9081825700</u></b>
                                                            </a>
                                                        </p><hr>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="p">
                                                            <h6 class="h5-sm steelblue-color">Implant Abutments & Over Dentures</h6>
                                                            <!--<strong>Name:</strong> Mr. Vignay Miroliya<br>-->
                                                            <strong>Contact:</strong> <a href="tel:+918799522882" class="steelblue-color" style="text-decoration: none;">
                                                                <b>&nbsp;<u>+91 8799522882</u></b>
                                                            </a>
                                                        </p><hr>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
                							<span class="fa fa-user fa-2x blue-color"></span>       <!-- fa-2x for 2 times larger -->
            							    <div class="sbox-7-txt">
            							        <h5 class="h5-sm steelblue-color">Pfm</h5><hr>
                                                <p class="p">
                                                    <h6 class="h5-sm steelblue-color">Full arch PFM / Advance Zirconiaa </h6>
                                                    <strong>Name:</strong> Mr. Hemal Shingala<br>
                                                    <strong>Contact:</strong> <a href="tel:+917622972297"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 7622972297</u></b>
                                                    </a>
                                                </p><hr>
                                                <p class="p">
                                                    <h6 class="h5-sm steelblue-color">PFM Crown and Bridges</h6>
                                                    <!--<strong>Name:</strong> PFM Hotline<br>-->
                                                    <strong>Contact:</strong> <a href="tel:+917434052208"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 74340 52208</u></b>
                                                    </a>
                                                </p><hr>
            						        </div>
                						</div>
                					</div>
                                    <div class="col-md-4">
                						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
                							<span class="fa fa-user fa-2x blue-color"></span>       <!-- fa-2x for 2 times larger -->
            							    <div class="sbox-7-txt">
            							        <h5 class="h5-sm steelblue-color">Emax</h5><hr>
                                                <!--<p class="p">-->
                                                    <!--<h6 class="h5-sm steelblue-color">Emax 1</h6>-->
                                                <!--    <strong>Name:</strong> Mr. Ankit Shingala <br>-->
                                                <!--    <strong>Contact:</strong> <a href="tel:+919998860982"class="steelblue-color" style="text-decoration: none;">-->
                                                <!--      <b>&nbsp;<u>+91 9998860982</u></b>-->
                                                <!--    </a>-->
                                                <!--</p><hr>-->
                                                <p class="p">
                                                    <!--<h6 class="h5-sm steelblue-color">Emax Hotline</h6>-->
                                                    <strong>Name:</strong> Emax Hotline<br>
                                                    <strong>Contact:</strong> <a href="tel:+917572872208"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 75728 72208</u></b>
                                                    </a>
                                                </p><hr>
            						        </div>
                						</div>
                					</div>
                					<div class="col-md-4">
                						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
                							<span class="fa fa-user fa-2x blue-color"></span>       <!-- fa-2x for 2 times larger -->
            							    <div class="sbox-7-txt">
            							        <h5 class="h5-sm steelblue-color">Removable</h5><hr>
                                                <!--<p class="p">-->
                                                    <!--<h6 class="h5-sm steelblue-color">Emax 1</h6>-->
                                                <!--    <strong>Name:</strong> Mr. Hitesh Radadiya<br>-->
                                                <!--    <strong>Contact:</strong> <a href="tel:+919979043200"class="steelblue-color" style="text-decoration: none;">-->
                                                <!--      <b>&nbsp;<u>+91 9979043200</u></b>-->
                                                <!--    </a>-->
                                                <!--</p><hr>-->
                                                <p class="p">
                                                    <!--<h6 class="h5-sm steelblue-color">Emax Hotline</h6>-->
                                                    <strong>Name:</strong> Removable Hotline<br>
                                                    <strong>Contact:</strong> <a href="tel:+918758492208"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 87584 92208</u></b>
                                                    </a>
                                                </p><hr>
            						        </div>
                						</div>
                					</div>
                				    {% for ie in data %}
                					<div class="col-md-4">
                						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
                							<span class="fa fa-user fa-2x blue-color"></span>       <!-- fa-2x for 2 times larger -->
            							    <div class="sbox-7-txt">
            							        <h5 class="h5-sm steelblue-color">{{ ie.department }}</h5>
                                                <p class="p">
                                                    {% if ie.name != "Mr. Dipak Tukadiya" %} 
                                                    <strong>Name:</strong> 
                                                        {{ ie.name }} <br>
                                                    {% endif %}
                                                    <strong>Contact:</strong> <a href="tel:+91{{ie.contact }}"class="steelblue-color" style="text-decoration: none;">
                                                      <b>&nbsp;<u>+91 {{ie.contact }}</u></b>
                                                    </a>
                                                </p>
            						        </div>
                						</div>
                					</div>
                					{% endfor %}
                				</div>
                			</div>
    			        </div>
    			    </div>  
    			     
					<div class="row">	
						<!-- CONTACTS INFO -->
		 				<div class="col-md-5 col-lg-4">
                            <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
            							
		 					<!-- General Information -->
		 					<div class="contact-box mb-40">
								<h5 class="h5-sm steelblue-color">India Office
								</h5>
								{% comment %} <p>Plot No.3/ 3-3/4, Dhuna House, Opp. Patel Nagar, A.K.Road, Varachha, Surat (Gujarat) India. Pincode-395008</p> {% endcomment %}
                                <p>Plot No. 1 to 8, Marutidham Industrial Estate, Behind Hotel Royal, Velanja Road, Umra, Surat ,Gujarat ,India. Pincode-394130</p>
								<p>Line 1: +91 84 88 88 88 77 </p>
								<p>Line 2: +91 84 69 88 88 77</p>
								<p>Email: <a href="mailto:info@advancedentalexport.com" class="blue-color">info@advancedentalexport.com
								</a></p>
		 					</div>

		 					<!-- Patient Experience -->
		 					<div class="contact-box mb-40">
								<h5 class="h5-sm steelblue-color">Canada Office
								</h5>
								<p>Phone: +1 306-290-9222</p>
								<p>Email: <a href="mailto:advancedentalservice@gmail.com" class="blue-color">advancedentalservice@gmail.com</a></p>
		 					</div>
                             <div class="contact-box">
								<h5 class="h5-sm steelblue-color">USA Office</h5>
								<p>Phone: +1 551-380-0385 </p>
								<p>Email: <a href="mailto:overseas@advancedentalexport.com" class="blue-color">overseas@advancedentalexport.com</a></p>
							</div>
		 					</div>
						</div>	<!-- END CONTACTS INFO -->


						<!-- CONTACT FORM -->	
				 		<div class="col-md-7 col-lg-8">
				 		    <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
            							
				 			<div class="form-holder mb-40">
				 				<form  method="POST" 
								 action="{% url 'enquiry:contactd' %}" class="row contact-form2">
								 {% csrf_token %}
				                                            
					                <!-- Contact Form Input -->
					                <div id="input-name" class="col-md-12 col-lg-6">
					                	<input type="text" name="name" class="form-control name" placeholder="Enter Your Name*" required> 
					                </div>
					                        
					                <div id="input-email" class="col-md-12 col-lg-6">
					                	<input type="text" name="email" class="form-control email" placeholder="Enter Your Email*" required> 
					                </div>

					                <div id="input-phone" class="col-md-12 col-lg-6">
					                	<input type="tel" name="contact" class="form-control phone" placeholder="Enter Your Phone Number*" required> 
					                </div>	

					               

					                <div id="input-subject" class="col-lg-6">
					                	<input type="text" name="subject" class="form-control subject" placeholder="Subject*" required> 
					                </div>					                          
					                        
					                <div id="input-message" class="col-lg-12 input-message">
					                	<textarea class="form-control message" name="message" rows="6" placeholder="Your Message ..." required></textarea>
					                </div> 
					                                            
					                <!-- Contact Form Button -->
					                <div class="col-lg-12 mt-15 form-btn">  
					                	<button type="submit" class="btn btn-blue blue-hover submit">Send Your Message</button> 
					                </div>
					                                                              
					                
				                                              
				                </form> 

				 			</div>	
				 			</div>
				 		</div> 	<!-- END CONTACT FORM -->	


				 	</div>	<!-- End row -->			  
 

				</div>	   <!-- End container -->		
			</section>	<!-- END CONTACTS-1 -->
			
            <!-- GOOGLE MAP
			============================================= -->
			<div  class="gmap w-100">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.3011808750475!2d72.84564231420534!3d21.219902286602988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04ef120e021eb%3A0x38b0e81455dedbe7!2sAdvance%20dental%20Export!5e0!3m2!1sen!2sin!4v1665697964873!5m2!1sen!2sin" class="gmap" style="border:0;width: 100%;min-height: 60vh;" allowfullscreen="" loading="lazy"></iframe>
			</div>




{% endblock body %}
    


{% block javascript %}
		
{% endblock javascript %}
    