<section id="contacts-1" class="wide-75 contact-section division" >
    <div class="container">
        <div class="row">
          <div class="col-lg-12 section-title">
            <h1 class="steelblue-color">Have a Question? Get In Touch</h1>
            <p>
              Have queries or need our price list? Interested in a lab visit? Fill
              out our form, and we'll assist promptly!
            </p>
          </div>
          <div class="contact-wrapper d-lg-flex d-md-flex d-sm-block">
            <div class="col-md-5 col-lg-4 icon-xs wow fadeInUp mb-sm-4 mb-4 mb-md-0"
              data-wow-delay="0.4s"
              style="
                visibility: visible;
                animation-delay: 0.4s;
                animation-name: fadeInUp;
              ">
              <div class="contact-main-content">
                <h2 class="mb-3 contact-title">Contact Address</h2>
                <div class="contact-box mb-20">
                  <h5 class="contact-content">India Office</h5>
                  <a href="https://maps.app.goo.gl/XSUTrZ3JvfYqqFd47" target="_blank" class="contact-content">
                    <p>
                      Plot No. 1 to 8, Marutidham Industrial Estate, Behind Hotel
                      Royal, Velanja Road, Umra, Surat, Gujarat, India - 394 130.
                    </p>
                  </a>
                  <p class="contact-phone">
                      <div style="font-size: 12px;">
                          <i class="fa-sharp fa-solid fa-phone"></i> :
                          +91 84 88 88 88 77
                      </div>
                      <div style="font-size: 12px;">
                          <i class="fa-sharp fa-solid fa-phone"></i> :
                          +91 84 69 88 88 77
                      </div>
                  </p>
                  <p>
                    <i class="fa-sharp fa-solid fa-envelope"></i> :
                    <a href="mailto:info@advancedentalexport.com" class="blue-color">info@advancedentalexport.com</a>
                  </p>
                </div>
                <div class="contact-box mb-20">
                  <h5 class="contact-content mb-2">Canada Office</h5>
                  <p>
                    <i class="fa-sharp fa-solid fa-phone"></i> :
                    +1 306-290-9222
                  </p>
                  <p>
                    <i class="fa-sharp fa-solid fa-envelope"></i> :
                    <a href="mailto:advancedentalservice@gmail.com" class="blue-color" >advancedentalservice@gmail.com</a>
                  </p>
                </div>
                <div class="contact-box mb-15">
                  <h5 class="contact-content">USA Office</h5>
                  <p>
                    <i class="fa-sharp fa-solid fa-phone"></i> :
                    +1 551-380-0385
                  </p>
                  <p class="d-flex align-items-center">
                    <i class="fa-sharp fa-solid fa-envelope me-1"></i>:
                    <a href="mailto:overseas@advancedentalexport.com" class="blue-color ms-1">overseas@advancedentalexport.com</a>
                  </p>
                </div>
              </div>
          </div>

            <div class="col-md-7 col-lg-8 icon-xs wow fadeInUp"  data-wow-delay="0.4s" style="visibility: visible;animation-delay: 0.4s;animation-name: fadeInUp;">
                <div
                  class="form-holder mb-40 d-flex align-items-center justify-content-center h-100">
                  <form
                    class="row contact-form2 form align-items-center justify-content-center"
                    method="post"
                    action="{% url 'enquiry:contactd' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <input
                          id="form_name"
                          name="name"
                          class="form-control name"
                          placeholder="Your Name*"
                          required
                          data-error="Enter no more than (2) characters."
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <input
                          id="form_email"
                          class="form-control email"
                          type="email"
                          name="email"
                          placeholder="Your Email"
                          required
                          data-error="Email is required"
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <input
                          id="form_phone"
                          class="form-control phone"
                          type="tel"
                          name="contact"
                          placeholder="Your Phone Number"
                          required
                          data-error="Please enter only digits."
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <input
                          id="form_subject"
                          class="form-control subject"
                          name="subject"
                          placeholder="Subject*"
                          required
                          data-error="Subject is required"
                        />
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12 input-message">
                      <div class="form-group">
                        <textarea
                          id="form-message"
                          class="form-control message"
                          name="message"
                          rows="8"
                          placeholder="Your Message ..."
                          required  
                          data-error="Enter no more than (10) characters."
                        ></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-15 form-btn submit-btn">
                      <button type="submit" class="btn-blue submit">
                        Send Your Message
                      </button>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>