{% extends 'base.html' %}
{% load static %}

{% block seo %}    
<meta property="partnername:index" content="noindex,nofollow"/>
<title>Contact Us At Advance Dental Export</title>
<meta name="description" content="Contact Advance Dental Export today for outstanding dental support and expert advice. Our expert team is ready to answer your inquiries. Get in touch today" />
<link rel="canonical" href="https://advancedentalexport.com/contact-us/" />
<meta property="og:locale" content="en_IN" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Contact Us At Advance Dental Export" />
<meta property="og:description" content="Contact Advance Dental Export today for outstanding dental support and expert advice. Our expert team is ready to answer your inquiries. Get in touch today" />
<meta property="og:url" content="https://advancedentalexport.com/contact-us/" />
<meta property="og:site_name" content="Advance Dental Export" />
<meta name="og:image" content="{% static 'img/feature.webp' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/webp" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Contact Advance Dental Export today for outstanding dental support and expert advice. Our expert team is ready to answer your inquiries. Get in touch today" />
<meta name="twitter:title" content="Contact Us At Advance Dental Export" />
<meta name="twitter:image" content="{% static 'img/feature.webp' %}" />
<link rel="alternate" hreflang="x-default" href="https://advancedentalexport.com/contact-us/" />
<link rel="alternate" hreflang="en-IN" href="https://advancedentalexport.com/contact-us/" />
{% endblock seo %}
 
{% block css %}
{% endblock css %}
    
{% block body %}

			<!-- {% include 'contact_section.html' %} -->
			<section id="contacts-1" class="wide-75 contact-section division" >
				<div class="container">
					<div class="row">
					  <div class="col-lg-12 section-title">
						<h1 class="steelblue-color">Have a Question? Get In Touch</h1>
						<p>
						  Have queries or need our price list? Interested in a lab visit? Fill
						  out our form, and we'll assist promptly!
						</p>
					  </div>
					  <div class="contact-wrapper d-lg-flex d-md-flex d-sm-block">
						<div class="col-md-5 col-lg-4 icon-xs wow fadeInUp mb-sm-4 mb-4 mb-md-0"
						  data-wow-delay="0.4s"
						  style="
							visibility: visible;
							animation-delay: 0.4s;
							animation-name: fadeInUp;
						  ">
						  <div class="contact-main-content">
							<h2 class="mb-3 contact-title">Contact Address</h2>
							<div class="contact-box mb-20">
							  <h3 class="contact-content">India Office</h3>
							  <a href="https://maps.app.goo.gl/XSUTrZ3JvfYqqFd47" target="_blank" class="contact-content">
								<p>
								  Plot No. 1 to 8, Marutidham Industrial Estate, Behind Hotel
								  Royal, Velanja Road, Umra, Surat, Gujarat, India - 394 130.
								</p>
							  </a>
							  <p class="contact-phone">
								  <div style="font-size: 12px;">
									  <i class="fa-sharp fa-solid fa-phone"></i> :
									  +91 84 88 88 88 77
								  </div>
								  <div style="font-size: 12px;">
									  <i class="fa-sharp fa-solid fa-phone"></i> :
									  +91 84 69 88 88 77
								  </div>
							  </p>
							  <p>
								<i class="fa-sharp fa-solid fa-envelope"></i> :
								<a href="mailto:info@advancedentalexport.com" class="blue-color" rel="nofollow">info@advancedentalexport.com</a>
							  </p>
							</div>
							<div class="contact-box mb-20">
							  <h3 class="contact-content mb-2">Canada Office</h3>
							  <p>
								<i class="fa-sharp fa-solid fa-phone"></i> :
								+1 306-290-9222
							  </p>
							  <p>
								<i class="fa-sharp fa-solid fa-envelope"></i> :
								<a href="mailto: advancedentalservice@gmail.com" class="blue-color" rel="nofollow">advancedentalservice@gmail.com</a>
							  </p>
							</div>
							<div class="contact-box mb-15">
							  <h3 class="contact-content">USA Office</h3>
							  <p>
								<i class="fa-sharp fa-solid fa-phone"></i> :
								+1 551-380-0385
							  </p>
							  <p class="d-flex align-items-center">
								<i class="fa-sharp fa-solid fa-envelope me-1"></i>:
								<a href="mailto:overseas@advancedentalexport.com" class="blue-color ms-1" rel="nofollow">overseas@advancedentalexport.com</a>
							  </p>
							</div>
						  </div>
					  </div>
			
						<div class="col-md-7 col-lg-8 icon-xs wow fadeInUp"  data-wow-delay="0.4s" style="visibility: visible;animation-delay: 0.4s;animation-name: fadeInUp;">
							<div
							  class="form-holder mb-40 d-flex align-items-center justify-content-center h-100">
							  <form
								class="row contact-form2 form align-items-center justify-content-center"
								method="post"
								action="{% url 'enquiry:contactd' %}"
							  >
								{% csrf_token %}
								<div class="col-md-12 col-lg-6">
								  <div class="form-group">
									<input
									  id="form_name"
									  name="name"
									  class="form-control name"
									  placeholder="Your Name*"
									  required
									  data-error="Enter no more than (2) characters."
									/>
									<div class="help-block with-errors"></div>
								  </div>
								</div>
								<div class="col-md-12 col-lg-6">
								  <div class="form-group">
									<input
									  id="form_email"
									  class="form-control email"
									  type="email"
									  name="email"
									  placeholder="Your Email*"
									  required
									  data-error="Email is required"
									/>
									<div class="help-block with-errors"></div>
								  </div>
								</div>
								<div class="col-md-12 col-lg-6">
								  <div class="form-group">
									<input
									  id="form_phone"
									  class="form-control phone"
									  type="tel"
									  name="contact"
									  placeholder="Your Phone Number*"
									  required
									  data-error="Please enter only digits."
									/>
									<div class="help-block with-errors"></div>
								  </div>
								</div>
								<div class="col-md-12 col-lg-6">
								  <div class="form-group">
										<input
										id="form_city"
										class="form-control city"
										name="city"
										placeholder="Your City*"
										required
										data-error="City is required"
										/>
										<div class="help-block with-errors"></div>
								  </div>
								</div>
								<div class="col-md-12 col-lg-12">
								  <div class="form-group">
									<input
									  id="form_subject"
									  class="form-control subject"
									  name="subject"
									  placeholder="Subject*"
									  required
									  data-error="Subject is required"
									/>
									<div class="help-block with-errors"></div>
								  </div>
								</div>
								<div class="col-md-12 input-message">
								  <div class="form-group">
									<textarea
									  id="form-message"
									  class="form-control message"
									  name="message"
									  rows="8"
									  placeholder="Your Message ..."
									  required  
									  data-error="Enter no more than (10) characters."
									></textarea>
									<div class="help-block with-errors"></div>
								  </div>
								</div>
								<div class="col-md-12 mt-15 form-btn submit-btn">
								  <div class="g-recaptcha mb-3" data-sitekey="6Le8GKwrAAAAAI4AeSbEagkEiuafu8gVaLSqb98D"></div>
								  <button type="submit" class="btn-blue submit">
									Send Your Message
								  </button>
								</div>
							  </form>
							</div>
						</div>
					  </div>
					</div>
				</div>
			</section>
            <!-- GOOGLE MAP ============================================= -->
			<div  class="container gmap w-100">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.3011808750475!2d72.84564231420534!3d21.219902286602988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04ef120e021eb%3A0x38b0e81455dedbe7!2sAdvance%20dental%20Export!5e0!3m2!1sen!2sin!4v1665697964873!5m2!1sen!2sin" class="gmap" style="border:0;width: 100%;min-height: 60vh;" allowfullscreen="" loading="lazy"></iframe>
			</div>

{% endblock body %}
    


{% block javascript %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "BreadcrumbList",
	  "itemListElement": [
		{
		  "@type": "ListItem",
		  "position": 1,
		  "name": "Home",
		  "item": "https://advancedentalexport.com/"
		},
		{
		  "@type": "ListItem",
		  "position": 2,
		  "name": "Contact Us",
		  "item": "https://advancedentalexport.com/contact-us/"
		}
	  ]
	}
</script>
	
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "ContactPage",
	  "name": "Contact Us",
	  "url": "https://advancedentalexport.com/contact-us/",
	  "mainEntity": {
		"@type": "Organization",
		"name": "Advance Dental Export",
		"url": "https://advancedentalexport.com/",
		"contactPoint": {
		  "@type": "ContactPoint",
		  "telephone": "+91 84 88 88 88 77",
		  "contactType": "Customer Service",
		  "email": "info@advancedentalexport.com",
		  "areaServed": "IN",
		  "availableLanguage": ["English", "Hindi"]
		}
	  }
	}
</script>		
{% endblock javascript %}
    