{% extends 'base.html' %}
{% load static %}

{% block seo %}    
<title>	ADE at {% spaceless %}{{cat.name}}{% endspaceless %}: Event Highlights and Gallery</title>
<meta name="description" content="{% spaceless %}{{ meta_description }}{% endspaceless %}" />
{% if data.number > 1 %}
    <link rel="canonical" href="https://advancedentalexport.com/exhibition-gallery/{{ slug }}/?page={{ data.number }}" />
{% else %}
    <link rel="canonical" href="https://advancedentalexport.com/exhibition-gallery/{{ slug }}/" />
{% endif %}
<meta property="og:locale" content="en_IN" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% spaceless %}{{cat.name}}{% endspaceless %}" />
<meta property="og:description" content="{% spaceless %}{{ meta_description }}{% endspaceless %}" />
<meta property="og:url" content="https://advancedentalexport.com/exhibition-gallery/{{ slug }}/" />
<meta property="og:site_name" content="Advance Dental Export" />
<meta name="og:image" content="{% static 'img/feature.webp' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/webp" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{% spaceless %}{{ meta_description }}{% endspaceless %}" />
<meta name="twitter:title" content="{% spaceless %}{{cat.name}}{% endspaceless %}" />
<meta name="twitter:image" content="{% static 'img/feature.webp' %}" />
<link rel="alternate" hreflang="x-default" href="https://advancedentalexport.com/exhibition-gallery/{{ slug }}" />
<link rel="alternate" hreflang="en-IN" href="https://advancedentalexport.com/exhibition-gallery/{{ slug }}" />
<link  rel="preload" href="{% static 'css/magnific-popup.css' %}" as='stylesheet' />
<link  href="{% static 'css/magnific-popup.css' %}" rel='stylesheet' media="print" onload="this.media='all'"/>
{% endblock seo %}

{% block css %}
{% endblock css %}
    


{% block body %}

    <!-- BREADCRUMB
			============================================= -->
			<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">
                                
								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
								    	<li class="breadcrumb-item active"><a href="{% url 'home:exhibition' %}">Exhibition Gallery</a></li>
								    	<li class="breadcrumb-item">{{cat.name}}</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h1 class="h4-sm steelblue-color"> {{cat.name}} </h1>
							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	

            <div id="gallery-3" class="gallery-section division">
				<div class="container">
					<!-- GALLERY IMAGES HOLDER -->
					<div class="row">	
						<div class="col-md-12 gallery-items-list">
							<div class="masonry-wrap grid-loaded" style="position: relative; height: 1731.52px;">
                                {% for ie in data %}
                                    	<!-- IMAGE #1 -->
                                        <div class="gallery-item dental" style="position: absolute; left: 0%; top: 0px;">
                                            <div class="hover-overlay"> 

                                                <!-- Gallery Image -->
                                                <img class="img-fluid" src="{{ie.image.url}}" alt="{{ie.alt}}">			
                                                <div class="item-overlay"></div>				
                                                        
                                                <!-- Image Zoom -->		
                                                <div class="image-zoom">
                                                    <a class="image-link" href="{{ie.image.url}}" title="{{ie.alt}}"><i class="fas fa-search-plus"></i></a>
                                                </div> 

                                            </div>	
                                        </div>	<!-- END IMAGE #1 -->	
                                {% endfor %}
							</div>
						</div>	
                        {% if data.has_other_pages %}
								<!-- BLOG PAGE PAGINATION -->
								<div class="blog-page-pagination b-top">
									<nav aria-label="Page navigation">
										<ul class="pagination justify-content-center primary-theme">
											{% if data.has_previous %}
											<li class="page-item disabled"><a class="page-link" rel="prev" href="?page={{ data.previous_page_number }}" tabindex="-1"><i class="fas fa-long-arrow-alt-left"></i></a></li>
											{% else %}
											<li class="page-item disabled"><a class="page-link" rel="prev" href="#" tabindex="-1"><i class="fas fa-long-arrow-alt-left"></i></a></li>
											{% endif %}
											{% for i in data.paginator.page_range %}
											{% if data.number == i %}
											<li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
										    {% else %}
											<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a> </li>
											{% endif %}
											{% endfor %}
											{% if data.has_next %}
											<li class="page-item next-page"><a class="page-link" rel="next" href="?page={{ data.next_page_number }}"><i class="fas fa-long-arrow-alt-right"></i></a></li>
											{% else %}
											<li class="page-item next-page"><a class="page-link" rel="next" href="#"><i class="fas fa-long-arrow-alt-right"></i></a></li>
											{% endif %}
										</ul>	
	 								</nav>					
								</div>
								{% endif %}
					</div>	  <!-- END GALLERY IMAGES HOLDER -->

					
			 	</div>	   <!-- End container -->	
			</div>

{% endblock body %}
    


{% block javascript %}
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/gallery.js' %}"></script>
{% endblock javascript %}
    