{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% block seo %}
{% endblock %}
{% block header %}
{% endblock %}
{% block css %}
  <link href="{% static 'css/home-product.css' %}" rel="stylesheet" media="print" onload="this.media = 'all'" />
{% endblock %}
{% block body %}
  {% comment %} <div style="height: 100vh; background-color: rgb(218, 235, 32)"></div> {% endcomment %}
  <section class="home-product-section">
    <h2 class="text-header-subtitle text-center" data-aos="fade-down-right">Complete Dental Solutions with Advanced Digital Dentistry</h2>
    <div class="container pt-sm-0 pb-sm-0 pb-md-2 pb-lg-5 pb-3 overflow-hidden">
      <div class="swiper-container mt-sm-4 mt-md-5 mt-0">
        <div class="swiper hmpswiper">
          <div class="swiper-wrapper">
            <!-- card 1 -->
            <div class="swiper-slide hm-product-slide">
              <div class="hm-product-card">
                <div class="hm-product-image">
                  <img src="{% static 'home_product/emax-product.png' %}" />
                </div>
                <div class="hm-product-content">
                  <h3 class="hm-product-title">IPS E Max</h3>
                  <p class="hm-prodcut-description">Enhance your smile with IPS E Max, an all-ceramic restoration offering natural aesthetics and excellent translucency.</p>
                  <a href="#" class="hm-arrow-btn"><img src="{% static 'home_product/arrow-vector.svg' %}" alt="arrow" /></a>
                </div>
              </div>
            </div>

            <!-- card 2 -->
            <div class="swiper-slide hm-product-slide">
              <div class="hm-product-card">
                <div class="hm-product-image">
                  <img src="{% static 'home_product/pfm-product.png' %}" />
                </div>
                <div class="hm-product-content">
                  <h3 class="hm-product-title">PFM</h3>
                  <p class="hm-prodcut-description">Porcelain fused to metal crown offers both beauty and strength. Ideal choice of dental professionals, they are made from</p>
                  <a href="#" class="hm-arrow-btn"><img src="{% static 'home_product/arrow-vector.svg' %}" alt="arrow" /></a>
                </div>
              </div>
            </div>

            <!-- card 3 -->
            <div class="swiper-slide hm-product-slide">
              <div class="hm-product-card">
                <div class="hm-product-image">
                  <img src="{% static 'home_product/zirconia-product.png' %}" />
                </div>
                <div class="hm-product-content">
                  <h3 class="hm-product-title">Advance Zirconia</h3>

                  <p class="hm-prodcut-description">Our advanced zirconia delivers unmatched strength and natural appearance. Discover the</p>

                  <a href="#" class="hm-arrow-btn"><img src="{% static 'home_product/arrow-vector.svg' %}" alt="arrow" /></a>
                </div>
              </div>
            </div>

            <!-- card 4 -->
            <div class="swiper-slide hm-product-slide">
              <div class="hm-product-card">
                <div class="hm-product-image">
                  <img src="{% static 'home_product/implant-product.png' %}" />
                </div>
                <div class="hm-product-content">
                  <h3 class="hm-product-title">AD Implant</h3>

                  <p class="hm-prodcut-description">Our advanced dental implant solutions include dental implant with abutment for a complete and permanent tooth</p>

                  <a href="#" class="hm-arrow-btn"><img src="{% static 'home_product/arrow-vector.svg' %}" alt="arrow" /></a>
                </div>
              </div>
            </div>
            <!-- card 1 -->
            <div class="swiper-slide hm-product-slide">
              <div class="hm-product-card">
                <div class="hm-product-image">
                  <img src="{% static 'home_product/emax-product.png' %}" />
                </div>
                <div class="hm-product-content">
                  <h3 class="hm-product-title">IPS E Max</h3>
                  <p class="hm-prodcut-description">Enhance your smile with IPS E Max, an all-ceramic restoration offering natural aesthetics and excellent translucency.</p>
                  <a href="#" class="hm-arrow-btn"><img src="{% static 'home_product/arrow-vector.svg' %}" alt="arrow" /></a>
                </div>
              </div>
            </div>

            <!-- card 2 -->
            <div class="swiper-slide hm-product-slide">
              <div class="hm-product-card">
                <div class="hm-product-image">
                  <img src="{% static 'home_product/pfm-product.png' %}" />
                </div>
                <div class="hm-product-content">
                  <h3 class="hm-product-title">PFM</h3>
                  <p class="hm-prodcut-description">Porcelain fused to metal crown offers both beauty and strength. Ideal choice of dental professionals, they are made from</p>
                  <a href="#" class="hm-arrow-btn"><img src="{% static 'home_product/arrow-vector.svg' %}" alt="arrow" /></a>
                </div>
              </div>
            </div>

            <!-- card 3 -->
            <div class="swiper-slide hm-product-slide">
              <div class="hm-product-card">
                <div class="hm-product-image">
                  <img src="{% static 'home_product/zirconia-product.png' %}" />
                </div>
                <div class="hm-product-content">
                  <h3 class="hm-product-title">Advance Zirconia</h3>

                  <p class="hm-prodcut-description">Our advanced zirconia delivers unmatched strength and natural appearance. Discover the</p>

                  <a href="#" class="hm-arrow-btn"><img src="{% static 'home_product/arrow-vector.svg' %}" alt="arrow" /></a>
                </div>
              </div>
            </div>

            <!-- card 4 -->
            <div class="swiper-slide hm-product-slide">
              <div class="hm-product-card">
                <div class="hm-product-image">
                  <img src="{% static 'home_product/implant-product.png' %}" />
                </div>
                <div class="hm-product-content">
                  <h3 class="hm-product-title">AD Implant</h3>

                  <p class="hm-prodcut-description">Our advanced dental implant solutions include dental implant with abutment for a complete and permanent tooth</p>

                  <a href="#" class="hm-arrow-btn"><img src="{% static 'home_product/arrow-vector.svg' %}" alt="arrow" /></a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="home-product-pagination"></div>
      </div>
    </div>
  </section>
  {% comment %} <div style="height: 100vh; background-color: rgb(210, 49, 8)"></div> {% endcomment %}
{% endblock %} {% block js %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const swiper = new Swiper('.hmpswiper', {
        loop: true,
        centeredSlides: true,
        slidesPerView: 1,
        spaceBetween: 17,
        speed: 800,
    
        autoplay: {
          delay: 1000,
          disableOnInteraction: false,
          pauseOnMouseEnter: true
        },
    
        grabCursor: true,
        observer: true,
        observeParents: true,
    
        pagination: {
          el: '.home-product-pagination',
          clickable: true
        },
    
        breakpoints: {
          576: {
            slidesPerView: 1
          },
          768: {
            slidesPerView: 2
          },
          1024: {
            slidesPerView: 3
          }
        },
    
        on: {
          init: function () {
            this.update()
          }
        }
      })
    })
  </script>
{% endblock %}
