{% extends 'base.html' %} {% load static %} {% block seo %}
<title>Best Dental Labs In India | Advance Dental Export</title>
<meta
  name="description"
  content="Advance Dental Export is a full service dental lab that specializes in dentures, implants, bridges and other teeth services. Lab also imports and exports"
/>
<link rel="canonical" href="https://advancedentalexport.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Advance Dental Export" />
<meta property="og:description" content="Advance Dental Export" />
<meta property="og:url" content="https://advancedentalexport.com/" />
<meta name="og:image" content="{% static 'img/11.jpg' %}" />
<meta property="og:site_name" content="Advance Dental Export" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Advance Dental Export is a full service dental lab that specializes in dentures, implants, bridges and other teeth services. Lab also imports and exports" />
<meta name="twitter:title" content="Advance Dental Export" />
<meta name="twitter:image" content="{% static 'img/11.jpg' %}" />
{% endblock %} {% block css %} {% endblock %} {% block body %}
<h3 class="d-none">Best Dental Labs In India, US & Canada</h3>

{% comment %} <div class="your-slider">
  <div>
    <img src="{% static 'aa.jpg' %}" alt="Image 1" class="slide-img" />
    <div class="b1-txt">
      <p class="animated-b1-text">Your animated text here</p>
    </div>
  </div>
  <div>
    <div class="container banner-2 position-relative">
      <img
        src="{% static 'banner-2/Group.png'%}"
        alt="zir-logo"
        class="zir-logo"
      />
      <img
        src="{% static 'banner-2/Group281.png'%}"
        alt="ele-pic1"
        class="ele-pic1"
      />
      <img
        src="{% static 'banner-2/letter-1.png'%}"
        alt="let-pic"
        class="let-pic"
      />
      <img
        src="{% static 'banner-2/letter-2.png'%}"
        alt="let2-pic"
        class="let2-pic"
      />
      <button class="btn btn-read-more">
        Discover More <i class="fa-solid fa-arrow-right ms-1"></i>
      </button>
    </div>
    <div class="larger-ele position-relative">
      <img
        src="{% static 'banner-2/image27.png'%}"
        alt="grass-pic"
        class="grass-pic"
      />
      <img
        src="{% static 'banner-2/Group26.png'%}"
        alt="white-pic"
        class="white-pic"
      />
    </div>
    <div class="optional">
      <img
        src="{% static 'banner-2/frameTest2.png'%}"
        alt="slide2-optional"
        class="slide2-optional"
      />
    </div>
  </div>
</div> {% endcomment %}

<section class="hero-section1">
  <div
    style="--swiper-navigation-color:red; --swiper-pagination-color: red"
    class="swiper mySwiper"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide position-relative">
        <img
          src="{% static 'aa.jpg' %}"
          class="banner-img"
          alt="Advance Dental Export Images"
        />
        <div class="container">
          <div class="row">
            <div class="texts col-lg-8 col-md-10 col-sm-9 col-8">
              <div class="title h1s text-black" data-swiper-parallax="-300" style="transform: translate3d(0px, 0px, 0px);">
                Bringing Digital Revolution In
              </div>
              <div class="subtitle h2s text-black" data-swiper-parallax="-200" style="transform: translate3d(0px, 0px, 0px);">
                Digital Dentistry
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="overlay container">
          <div class="row justify-content-center ">
            <div class="texts col-lg-8 col-md-10 col-sm-9 col-8 text-center">
              <div class="banner-title h1s text-black" data-swiper-parallax="-300">
                Bringing Digital Revolution In
              </div>
              <div class="banner-subtitle h2s text-black" data-swiper-parallax="-200">
                Digital Dentistry
              </div>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
      {% comment %} <div class="swiper-slide banner-2-img1" id="banner-2-img1">
        <div class="container px-md-0">
          <div class="row align-items-center justify-content-between">
             <div class="col-lg-6 col-md-7 col-sm-7 col-7 banner-2-1 px-0">
              <div class="banner-2-img2">
                <img
                  src="{% static 'banner-2/letter-1.png'%}"
                  class="banner-img"
                />
              </div>
              <div class="banner-3-img6">
                <h6>
                  Experience seamless smile integration with precision and
                  comfort, powered by Advance dental export for a perfect,
                  confident smile.
                </h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-4 banner-2-2 px-0">
              <div class="banner-2-img3" id="banner-2-img3">
                <img
                  src="{% static 'banner-2/Group.png' %}"
                  class="img-fluid"
                />
              </div>
              <button class="btn btn-discover-more">
               Discover More <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div> 
        </div>
      </div> {% endcomment %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<section id="about-3" class="about-section division">
  <div class="container abox-3-holder">
    <div
      class="row abox-3 wow fadeInUp"
      style="visibility: visible; animation-name: fadeInUp"
    >
      <!-- First Column -->
      <div class="col-lg-4 col-md-6 text-center">
        <div class="w-100 h-auto d-flex justify-content-center">
          <img
            src="{% static 'premium.png' %}"
            class="pt-lg-2 pt-md-2 pt-sm-2 pt-0 mb-0"
            style="width: 100px"
            alt="Uncompromised Quality"
            width="100"
            height="100%"
          />
        </div>
        <p
          class="blue-color my-1 mt-sm-2 mt-md-2 mt-lg-3 d-flex justify-content-center align-items-center"
        >
          Uncompromised Quality
        </p>
        <h5
          class="h5-xs blue-color d-flex my-1 my-sm-2 my-md-2 my-lg-3 justify-content-center align-items-center"
        >
          Highest Quality Dental Implant Prosthetics
        </h5>
        <p class="my-1 my-sm-2 my-md-2 my-lg-3 d-flex w-100 align-items-center">
          Advance Dental Export is a Dental Laboratory that has been in the
          market for more than 20+ years. We provide high quality dental implant
          prosthetics, including dental implants, crowns, bridges and dentures,
          to patients in both the U.S. and worldwide.
        </p>
      </div>

      <!-- Second Column -->
      <div class="col-lg-4 col-md-6 text-center">
        <div
          class="w-100 h-auto d-flex justify-content-center align-items-center"
        >
          <img
            src="{% static 'locations.png' %}"
            class="pt-2 mb-0"
            style="width: 100px"
            alt="World Wide Presence"
            width="100"
            height="100%"
          />
        </div>

        <p
          class="blue-color my-2 mt-sm-2 mt-md-2 mt-lg-3 d-flex justify-content-center align-items-center"
        >
          World Wide Presence
        </p>
        <h5
          class="h5-xs blue-color my-2 my-sm-2 my-md-2 my-lg-3 d-flex justify-content-center align-items-center"
        >
          Services Now Available In Canada
        </h5>
        <p class="my-2 my-sm-2 my-md-2 my-lg-3 d-flex w-100 align-items-center">
          With a global presence, we export dental prosthesis and other dental
          supplies all over the world since 2009. We have customers in Asia,
          Europe, USA and Canada, who are satisfied with our services and
          products.
        </p>
      </div>

      <!-- Third Column -->
      <div class="col-lg-4 col-md-6 text-center">
        <div
          class="w-100 h-auto d-flex justify-content-center align-items-center"
        >
          <img
            src="{% static 'updatedfda (1).png' %}"
            class="pt-2 mb-0"
            style="width: 165px"
            alt="FDA Registered"
            width="165"
            height="100%"
          />
        </div>

        <p
          class="blue-color my-2 mt-sm-2 mt-md-2 mt-lg-3 d-flex justify-content-center align-items-center"
        >
          FDA Registered
        </p>
        <h5
          class="h5-xs blue-color d-flex my-2 my-sm-2 my-md-2 my-lg-3 justify-content-center align-items-center"
        >
          Bringing The Best Technology To Dental Labs
        </h5>
        <p
          class="my-2 my-sm-2 my-md-2 my-lg-3 d-flex w-100 h-auto align-items-center"
        >
          With our FDA registration, we are able to provide your clients with
          the latest dental equipment and techniques.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- About us -->
<section id="about-6" class="pb-0 about-section division">
  <div class="container">
    <div class="row d-flex align-items-center mt-0 mx-0">
      <div class="col-lg-7 d-flex">
        <div
          class="txt-block pc-30 wow fadeInUp pt-5"
          data-wow-delay="0.4s"
          style="
            visibility: visible;
            animation-delay: 0.4s;
            animation-name: fadeInUp;
          "
        >
          <span class="section-id blue-color"
            >Welcome to Advance Dental Export</span
          >
          <h3 class="h3-md steelblue-color mb-0" style="font-size: 1.6rem">
            The Art Of Esthetic Laboratories
          </h3>
          <p class="mb-4" style="font-size: 14px">
            “As an accomplished founder and CEO, seasoned digital dental
            technician, experienced ceramist, and a guide to thousands of
            budding professionals, my vision is to bring a dental renaissance to
            the global canvas.
          </p>
          <p class="mb-3" style="font-size: 14px">
            For the past 20 years, we have toiled and carved our path to
            becoming a leading dental lab for providing the latest products,
            innovative materials, and state-of-the-art digital technology. Today
            it fills us with pride when the dental fraternity considers ADE to
            be synonymous with international quality. I am confident that we
            will continue to provide you with innovative, precise, and supremely
            esthetic products even in the future.”
          </p>
          <div class="singnature mt-25">
            <p class="p-small mb-15 fw-bold">Haresh Savani, Founder</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex">
        <div
          class="about-img text-center wow fadeInUp"
          data-wow-delay="0.6s"
          style="
            visibility: visible;
            animation-delay: 0.6s;
            animation-name: fadeInUp;
          "
        >
          <img
            class="img-fluid lazy"
            src="https://unsplash.it/12/8?image=777"
            data-src="{% static 'hresh-about.png' %}"
            alt="Haresh Savani, Founder"
            title="Haresh Savani, Founder"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Static counts -->
<div id="statistic-1" class="bg-scroll statistic-section division">
  <div class="" style="background-color: rgb(36, 169, 146, 0.7)">
    <div class="container white-color">
      <div class="row container-content">
        <div class="col-md-6 col-lg-3 col-sm-6 col-11 mx-auto">
          <div
            class="statistic-block icon-lg wow fadeInUp"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            "
          >
            <span class="flaticon-143-teeth" style="color: #333"></span>
            <h5 class="statistic-number">
              <span class="count-element">6</span>L
            </h5>
            <p class="txt-400">Cases</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-11 mx-auto">
          <div
            class="statistic-block icon-lg wow fadeInUp"
            data-wow-delay="0.6s"
            style="
              visibility: visible;
              animation-delay: 0.6s;
              animation-name: fadeInUp;
            "
          >
            <span class="flaticon-137-doctor" style="color: #333"></span>
            <h5 class="statistic-number">
              <span class="count-element">400</span>
            </h5>
            <p class="txt-400">Qualified Professionals</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-11 mx-auto">
          <div
            class="statistic-block icon-lg wow fadeInUp"
            data-wow-delay="0.8s"
            style="
              visibility: visible;
              animation-delay: 0.8s;
              animation-name: fadeInUp;
            "
          >
            <span
              ><img
                src="{% static 'dentistlogo.png' %}"
                style="width: 70px; height: 100%"
                alt="Dentist"
                width="70"
                height="70"
            /></span>
            <h5 class="statistic-number">
              <span class="count-element" style="color: #333">3500</span>
            </h5>
            <p class="txt-400">Trusted Dentist</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-11 mx-auto">
          <div
            class="statistic-block icon-lg wow fadeInUp"
            data-wow-delay="1s"
            style="
              visibility: visible;
              animation-delay: 1s;
              animation-name: fadeInUp;
            "
          >
            <span class="flaticon-040-placeholder" style="color: #333"></span>
            <h5 class="statistic-number">
              <span class="count-element">500</span>
            </h5>
            <p class="txt-400">Local Partners</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- All Product sort information -->
<section id="services-5" class="bg-lightgrey wide-75 services-section division">
  <div class="container">
    <div class="row align-items-center justify-content-center mx-auto">
      <div class="col-lg-12 mx-auto section-title">
        <h3 class="h3-md steelblue-color mb-0">The Complete Dental Solution</h3>
        <h3 class="h3-md steelblue-color mb-0">
          Pioneering Modern Technology for Dentists
        </h3>
      </div>
      <div class="col-md-12 col-sm-12 col-12 px-0">
        <div class="owl-carousel owl-theme services-holder">
          <div class="sbox-51 mx-auto">
            <div class="sbox-51-img">
              <img
                class="mb-0 mt-3"
                src="{% static 'fn.png' %}"
                alt="Advance Dental Image"
                srcset=""
                width="100"
                height="100"
              />
            </div>
            <div class="sbox-51-txt">
              <h3 class="card-title">
                <a
                  href="{% url 'blogd' 'porcelain-fused-to-metal-pfm' %}"
                  class="title-link"
                  >Porcelain fused to metal (PFM)</a
                >
              </h3>
              <p class="card-desc">
                Porcelain bonded to metal has reminded one of the most
                predictable and strongest choices for dental restoration. Our
                dental laboratory specializes in crafting traditional PFMS.
                These resolutions bring esthetic’s white providing amazing
                strength and function in the area of the posterior.
              </p>
              <a
                href="{% url 'blogd' 'porcelain-fused-to-metal-pfm' %}"
                class="card-link"
              >
                Learn more
                <i class="fa fa-arrow-right pl-10" style="width: 25px"></i>
              </a>
            </div>
          </div>
          <div class="sbox-51 mx-auto">
            <div class="sbox-51-img">
              <img
                src="{% static 'img/zirconi-advance.png' %}"
                class="mb-0 mt-3"
                alt="Image"
                srcset=""
                width="100%"
                height="100%"
              />
            </div>
            <div class="sbox-51-txt">
              <h3 class="card-title">
                <a
                  href="{% url 'blogd' 'zir-icon' %}"
                  class="title-link"
                  style="text-decoration: none; color: inherit"
                  >Advance Zirconia</a
                >
              </h3>
              <p class="card-desc">
                Zir-icon is a high strength, milled to full contour, highly
                translucent zirconia restoration with NO porcelain layering.
                Zir-icon utilizes the latest. The technology available in our
                CAD/CAM product line. Ideal for posterior crowns and bridges.
              </p>
              <a href="{% url 'blogd' 'zir-icon' %}" class="card-link">
                Learn more
                <i class="fa fa-arrow-right pl-10" style="width: 25px"></i>
              </a>
            </div>
          </div>
          <div class="sbox-51 mx-auto">
            <div class="sbox-51-img">
              <img
                src="{% static 'img/IPS.png' %}"
                class="mb-0 mt-3"
                alt="Advance Dental Image"
                srcset=""
                width="100%"
                height="100%"
              />
            </div>
            <div class="sbox-51-txt">
              <h3 class="card-title">
                <a
                  href="{% url 'blogd' 'aesthetic-maxima' %}"
                  class="title-link"
                  style="text-decoration: none; color: inherit"
                  >IPS e.max All Ceramic Restorations</a
                >
              </h3>
              <p class="card-desc">
                Our revolutionary new e.max CAD/CAM ceramic restorations offer
                the latest in digital design technology and ceramic engineering
                science. IPS e.max is the ultimate in metal-free esthetics and
                strength, offering a wide range of restorative options for
                veneers, inlays, onlays, crowns, bridges and implants
                prosthetics.
              </p>
              <a href="{% url 'blogd' 'aesthetic-maxima' %}" class="card-link">
                Learn more
                <i class="fa fa-arrow-right pl-10" style="width: 25px"></i>
              </a>
            </div>
          </div>
          <div class="sbox-51 mx-auto">
            <div class="sbox-51-img">
              <img
                src="{% static 'img/Implant.png' %}"
                class="mb-0 mt-3"
                alt="Advance Dental Image"
                srcset=""
                width="100%"
                height="100%"
              />
            </div>
            <div class="sbox-51-txt">
              <h3 class="card-title">
                <a
                  href="{% url 'blogd' 'ad-abutments' %}"
                  class="title-link"
                  style="text-decoration: none; color: inherit"
                  >Ad- Abutments Product Implant</a
                >
              </h3>
              <p class="card-desc">
                AD- abutments are custom engineered to best meet each patient’s
                case needs. ADE uses the most advanced design and milling
                technologies to deliver the most precise fits available. ADE has
                developed the technology in order to deliver abutments that are
                compatible with most major implant prosthetics platforms.
              </p>
              <a href="{% url 'blogd' 'ad-abutments' %}" class="card-link">
                Learn more
                <i class="fa fa-arrow-right pl-10" style="width: 25px"></i>
              </a>
            </div>
          </div>
          <div class="sbox-51 mx-auto">
            <div class="sbox-51-img">
              <img
                src="{% static 'img/17.png' %}"
                class="mb-0 mt-3"
                alt="Advance Dental Image"
                srcset=""
                width="100%"
                height="100%"
              />
            </div>
            <div class="sbox-5-txt">
              <h3 class="card-title">
                <a
                  href="{% url 'blogd' 'digital-crown-bridge' %}"
                  class="title-link"
                  style="text-decoration: none; color: inherit"
                  >Digital Crown & Bridges</a
                >
              </h3>
              <p class="card-desc">
                Digital dentistry at advance dental export CAD/CAM milling and
                3D printing Full Service Dental Laboratory The world of Cad-Cam
                and digital dentistry has changed and improved dramatically in
                the last few years. Advance dental export has invested heavily
                in this new digital market and has taken time to study these
                advancements in the dental Industry.
              </p>
              <a
                href="{% url 'blogd' 'digital-crown-bridge' %}"
                class="card-link"
              >
                Learn more
                <i class="fa fa-arrow-right pl-10" style="width: 25px"></i>
              </a>
            </div>
          </div>
          <div class="sbox-51 mx-auto">
            <div class="sbox-51-img">
              <img
                src="{% static 'img/BPS.png' %}"
                class="mb-0 mt-3"
                alt="Advance Dental Image"
                srcset=""
                width="100%"
                height="100%"
              />
            </div>
            <div class="sbox-5-txt">
              <h3 class="card-title">
                <a
                  href="{% url 'blogd' 'bps-biofunctional-prosthetic-system' %}"
                  class="title-link"
                  style="text-decoration: none; color: inherit"
                  >BPS – Biofunctional Prosthetic System</a
                >
              </h3>
              <p class="card-desc">
                They provide you with self-confidence, charisma, and
                self-assurance. Therefore, you want to gather all the necessary
                information before you make the decision regarding the optimum
                dentures for you.
              </p>
              <a
                href="{% url 'blogd' 'bps-biofunctional-prosthetic-system' %}"
                class="card-link"
              >
                Learn more
                <i class="fa fa-arrow-right pl-10" style="width: 25px"></i>
              </a>
            </div>
          </div>
          <div class="sbox-51 mx-auto">
            <div class="sbox-51-img">
              <img
                src="{% static 'img/nolbel-procera.png' %}"
                class="mb-0 mt-3"
                alt="Advance Dental Image"
                srcset=""
                width="100%"
                height="100%"
              />
            </div>
            <div class="sbox-5-txt">
              <h3 class="card-title">
                <a
                  href="{% url 'blogd' 'nobelprocera' %}"
                  class="title-link"
                  style="text-decoration: none; color: inherit"
                  >NobelProcera Solution</a
                >
              </h3>

              <p class="card-desc">
                No one knows industrially produced CAD/CAM dental prosthetics
                like we do. Nobel Biocare was the first to produce dental
                restorations in this way. Over 30 years and more than 11 million
                units later, NobelProcera remains a leader in the precision
                engineering and manufacturing of dental implant prosthetics.
              </p>
              <a href="nobelprocera" class="card-link">
                Learn more
                <i class="fa fa-arrow-right pl-10" style="width: 25px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About team -->
<section id="banner-7" class="bg-fixed banner-section division">
  <div class="container white-color px-0">
    <div
      class="row d-flex align-items-center justify-content-center justify-content-md-start justify-content-lg-start mx-auto"
    >
      <div class="col-md-8 col-lg-6 col-xl-5 col-sm-10">
        <div
          class="banner-txt wow fadeInUp"
          data-wow-delay="0.4s"
          style="
            visibility: visible;
            animation-delay: 0.4s;
            animation-name: fadeInUp;
          "
        >
          <h2 class="h2-xs" style="font-size: 2.1rem">
            Where Quality <br />
            Meets Excellence
          </h2>
          <p>
            One common dream fuels us:<br />
            Elevating Digital Dentistry to unparalleled <br />
            heights worldwide
          </p>
          <a
            href="{% url 'home:contact' %}"
            class="btn btn-blue tra-white-hover mt-20"
            >Get In Touch</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials-video -->
<section id="gallery-1" class="gallery-section division pt-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto section-title">
        <h3 class="h3-md steelblue-color mb-0">
          In Their Own Words: Tales of Trust from Our Clientele
        </h3>
      </div>
      <div class="owl-carousel owl-theme services-holder3">
        <!-- SERVICE BOX #1 -->
        {% for ie in video %}
        <div
          class="sbox-5 index-video1"
          data-video-id="{{ ie.link|cut:'https://www.youtube.com/embed/' }}"
        >
          <div class="video-container">
            <img
              src="https://img.youtube.com/vi/{{ ie.link|cut:'https://www.youtube.com/embed/' }}/sddefault.jpg"
              alt="Video Thumbnail"
              class="video-thumbnail1"
              width="100%"
              height="100%"
            />
            <button class="play-button">▶</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Introduction for the lab -->
<section
  id="services-7"
  class="bg-lightgrey wide-601 servicess-section division"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto section-title">
        <h3 class="h3-md steelblue-color mb-0">
          Building The Future Of Digital Dentistry
        </h3>
      </div>
      <div class="col-lg-12">
        <div class="row mx-sm-0">
          <div class="col-md-6 col-lg-4 future-card">
            <div
              class="sbox-7 icon-xs wow fadeInUp"
              data-wow-delay="0.2s"
              style="
                visibility: visible;
                animation-delay: 0.2s;
                animation-name: fadeInUp;
              "
            >
              <div class="hexagon">
                <span class="flaticon-137-doctor blue-color"></span>
              </div>
              <div class="sbox-7-txt">
                <h5 class="h5-sm steelblue-color">Top Level Technician</h5>
                <p class="p-sm" style="font-size: 12px">
                  We are dedicated to provide our dentist with the highest level
                  of care, quality products and top notch services. We have a
                  team of highly qualified dental technicians who are committed
                  to provide you with the best services possible.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 future-card">
            <div
              class="sbox-7 icon-xs wow fadeInUp"
              data-wow-delay="0.4s"
              style="
                visibility: visible;
                animation-delay: 0.4s;
                animation-name: fadeInUp;
              "
            >
              <div class="hexagon">
                <span class="flaticon-076-microscope blue-color"></span>
              </div>
              <div class="sbox-7-txt">
                <h5 class="h5-sm steelblue-color">Modern Equipment</h5>
                <p class="p-sm" style="font-size: 12px">
                  Advance Dental Export makes the use of the latest technologies
                  in digital dentistry to manufacture all the dental
                  prosthetics. We are committed to providing high-quality,
                  affordable products and services to all our dentist.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 future-card">
            <div
              class="sbox-7 icon-xs wow fadeInUp"
              data-wow-delay="0.2s"
              style="
                visibility: visible;
                animation-delay: 0.2s;
                animation-name: fadeInUp;
              "
            >
              <div class="hexagon">
                <span class="flaticon-080-shield blue-color"></span>
              </div>
              <div class="sbox-7-txt">
                <h5 class="h5-sm steelblue-color">Qualified Facilities</h5>
                <p class="p-sm" style="font-size: 12px">
                  We firmly prioritize quality foremost. Every dedicated member
                  on our passionate, committed team consistently ensures you
                  always receive the absolute highest quality dental prosthesis
                  and materials available in the industry.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 future-card">
            <div
              class="sbox-7 icon-xs wow fadeInUp"
              data-wow-delay="0.2s"
              style="
                visibility: visible;
                animation-delay: 0.2s;
                animation-name: fadeInUp;
              "
            >
              <div class="hexagon">
                <span class="flaticon-113-clinic-history-4 blue-color"></span>
              </div>
              <div class="sbox-7-txt">
                <h5 class="h5-sm steelblue-color">Professional Services</h5>
                <p class="p-sm" style="font-size: 12px">
                  We offer specialized services in dental care, focusing on
                  crown and bridge preparation. Our team is committed to
                  providing customized smile designs, ensuring each patient
                  achieves their ideal smile. With a dedication to quality and
                  patient-specific care, we stand out as a leading dental
                  laboratory.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 future-card">
            <div
              class="sbox-7 icon-xs wow fadeInUp"
              data-wow-delay="0.4s"
              style="
                visibility: visible;
                animation-delay: 0.4s;
                animation-name: fadeInUp;
              "
            >
              <div class="hexagon">
                <span class="flaticon-143-teeth blue-color"></span>
              </div>
              <div class="sbox-7-txt">
                <h5 class="h5-sm steelblue-color">Precision Craftsmanship</h5>
                <p class="p-sm" style="font-size: 12px">
                  We at Advance Dental Export pride ourselves on precision
                  craftsmanship. Our team meticulously designs and fabricates
                  each dental product, ensuring exceptional quality in fit,
                  functionality, and aesthetics. This attention to detail,
                  combined with the latest technology, sets us apart in the
                  dental industry as a premier laboratory.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 future-card">
            <div
              class="sbox-7 icon-xs wow fadeInUp"
              data-wow-delay="0.6s"
              style="
                visibility: visible;
                animation-delay: 0.6s;
                animation-name: fadeInUp;
              "
            >
              <div class="hexagon">
                <span class="flaticon-079-safebox blue-color"></span>
              </div>
              <div class="sbox-7-txt">
                <h5 class="h5-sm steelblue-color">Client-Centric Approach</h5>
                <p class="p-sm" style="font-size: 12px">
                  We maintain an open channel for communication, ensuring that
                  each dental solution is tailored to your specific needs and
                  preferences. We view our collaboration as a partnership,
                  aiming to support every dentist in delivering smiles that not
                  only look natural but also stand the test of time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- - SERVICE SECTION -->
<section id="services-6" class="bg-blue wide-40 servicess-section division">
  <div class="container white-color">
    <div class="row">
      <div class="col-lg-12 mx-auto section-title">
        <h3 class="h3-md">Our Core Dental Services</h3>
        <p>
          Experience an Unmatched Spectrum of Services: Catering to Every Dental
          Professional's Needs Today!
        </p>
      </div>
      <div class="col-md-6 col-lg-4 d-flex first">
        <div
          class="sbox-6 text-md-start text-lg-end wow fadeInRight"
          data-wow-delay="0.2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInRight;
          "
        >
          <h5
            class="h5-md justify-content-lg-end justify-content-md-start justify-content-sm-center"
          >
            CAD/CAM Technology
          </h5>
          <p>
            Advance Dental Export remains the leader in offering digital
            technology to our clients. We currently support 3M True Definition,
            Cadent Itero, as well as many other open architecture systems.
            Contact our dedicated staff for further assistance.
          </p>
        </div>
        <div
          class="sbox-6 text-md-start text-lg-end wow fadeInRight"
          data-wow-delay="0.4s"
          style="
            visibility: visible;
            animation-delay: 0.4s;
            animation-name: fadeInRight;
          "
        >
          <h5
            class="h5-md justify-content-lg-end justify-content-md-start justify-content-sm-center"
          >
            Shade Analysis
          </h5>
          <p>
            We can match the most difficult shades using your digital photos or
            in-lab consultation. – Send digital photos to:
            <a href="mailto:color@advancedentalexport.com"
              >color@advancedentalexport.com</a
            >
          </p>
        </div>
        <div
          class="sbox-6 text-md-start text-lg-end wow fadeInRight"
          data-wow-delay="0.6s"
          style="
            visibility: visible;
            animation-delay: 0.6s;
            animation-name: fadeInRight;
          "
        >
          <h5
            class="h5-md justify-content-lg-end justify-content-md-start justify-content-sm-center"
          >
            Case Planning Assistance
          </h5>
          <p>
            Personal consultations with doctors and staff for treatment options
            with recommendations from a technical perspective.
          </p>
        </div>
        <div
          class="sbox-6 text-md-start text-lg-end wow fadeInRight"
          data-wow-delay="0.8s"
          style="
            visibility: visible;
            animation-delay: 0.8s;
            animation-name: fadeInRight;
          "
        >
          <h5
            class="h5-md justify-content-lg-end justify-content-md-start justify-content-sm-center"
          >
            Diagnostic Wax-Ups
          </h5>
          <p>Complete diagnostic wax-up service for treatment planning.</p>
        </div>
      </div>
      <div class="col-lg-4 d-lg-flex align-items-center s6-img">
        <div class="sbox-6-img text-center wow fadeInUp" data-wow-delay="0.8s">
          <img
            class="img-fluid lazy"
            src="https://unsplash.it/12/8?image=777"
            data-src="{% static 'img/teeth-img93.jpg' %}"
            alt="services-image"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex second">
        <div
          class="sbox-6 pl-30 text-lg-start wow fadeInLeft"
          data-wow-delay="0.2s"
          style="
            visibility: visible;
            animation-delay: 0.2s;
            animation-name: fadeInLeft;
          "
        >
          <h5 class="h5-md">Cosmetic Restoration Service</h5>
          <p>
            Esthetic diagnostic wax-ups, silicone matrices for intraoral
            mock-ups and temporaries. We use the latest materials and
            technologies to achieve predictable results for your patients.
          </p>
        </div>
        <div
          class="sbox-6 pl-30 text-lg-start wow fadeInLeft"
          data-wow-delay="0.4s"
          style="
            visibility: visible;
            animation-delay: 0.4s;
            animation-name: fadeInLeft;
          "
        >
          <h5 class="h5-md">Implant Specialists</h5>
          <p>
            Assistance with implant cases, including diagnostic wax-up, stent
            fabrication and components for implant systems. In house design for
            custom abutments and denture bars.
          </p>
        </div>
        <div
          class="sbox-6 pl-30 text-lg-start wow fadeInLeft"
          data-wow-delay="0.6s"
          style="
            visibility: visible;
            animation-delay: 0.6s;
            animation-name: fadeInLeft;
          "
        >
          <h5 class="h5-md">Custom Milling</h5>
          <p>
            Custom milling of zirconia, implant abutments, overdenture bars,
            temporaries and ceramics.
          </p>
        </div>
        <div
          class="sbox-6 pl-30 text-lg-start wow fadeInLeft"
          data-wow-delay="0.8s"
          style="
            visibility: visible;
            animation-delay: 0.8s;
            animation-name: fadeInLeft;
          "
        >
          <h5 class="h5-md">Laser Welding</h5>
          <p>Laser welding for quick repairs of partial dentures</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- new desgine of before & after -->
<section id="gallery-2" class="gallery-section division">
  <div class="container">
    <div class="row gallery-items-list text-center listing-gallery-img-items">
      <div class="col-lg-12 mx-auto section-title">
        <h3 class="h3-md steelblue-color mb-0">Before & After</h3>
      </div>

      <div
        class="owl-carousel owl-theme services-holder listing-gallery-img-item"
      >
        {% for ie in gallery21 %}
        <!-- SERVICE BOX #1 -->
        <div class="gbox listing-gallery-link-block">
          <div class="hover03 wow zoomSlider w-100 h-100">
            <!-- Doctor Photo -->
            <img
              class="img-fluid w-100 h-100"
              src="{{ ie.image.url }}"
              alt="Before & After"
              width="100%"
              height="100%"
            />
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-md-12 text-center">
        <div class="all-posts-btn mb-40 wow fadeInUp" data-wow-delay="1s">
          <a
            href="{% url 'home:beforeafter' %}"
            class="btn btn-blue blue-hover submit"
            aria-label="See more in the Ade after befor"
            >See More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- client reviews -->
<section id="reviews-2">
  <div class="section-title text-center">
    <h3 class="h3-md steelblue-color mb-0">
      Client Chronicles: Their Stories, Their Experiences
    </h3>
  </div>
  <div class="review-section testimonials-slider">
    <div
      class="review-overlay"
      style="opacity: 0.7; background-color: rgb(36, 169, 146)"
    ></div>
    <div class="container position-relative text-center">
      <div class="row justify-content-center carousel-row">
        <div class="col-sm-12 col-md-11 col-lg-11 col-11">
          <div
            class="carousel slide"
            data-bs-ride="carousel"
            id="carouselExampleControls"
          >
            <div class="review-slider-testimonials">
              <div class="carousel-inner">
                {% for ie in data %}
                <div
                  class="{% if forloop.first %}active{% endif %} carousel-item"
                  aria-label="Slide {{ forloop.counter }}"
                >
                  <div
                    class="review-user mx-auto col-lg-8 col-md-12 col-sm-11 col-12"
                  >
                    <div class="user_image">
                      <img
                        src="{% static 'img/profile-user-3.png' %}"
                        class="d-block w-100"
                        alt="user"
                        width="100%"
                        height="100%"
                      />
                    </div>
                    <p class="review-user-txt">
                      <i class="fa-solid fa-quote-left"></i>
                      {{ ie.review }}
                      <i class="fa-solid fa-quote-right"></i>
                    </p>
                    <h5 class="review-user-name">{{ ie.name }}</h5>
                    <span class="review-user-desk" style="float: right"
                      >{{ ie.position }}</span
                    >
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="carousel-controls">
                <button
                  class="carousel-control-prev review-prev-button"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  class="carousel-control-next review-next-button"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Gallery -->
<section id="gallery-1" class="gallery-section division pt-50">
  <div class="container">
    <div class="row gallery-items-list text-center">
      <div class="col-lg-12 mx-auto section-title">
        <h3 class="h3-md steelblue-color mb-0">
          Gallery - Advance Dental Export
        </h3>
      </div>
      <div class="col-12">
        <div class="owl-carousel owl-theme services-holder">
          {% for ie in gallery %}
          <!-- SERVICE BOX #1 -->
          <div class="gbox listing-gallery-link-block">
            <div class="hover03 wow zoomSlider">
              <!-- Doctor Photo -->
              <div class="image-item">
                <img
                  class="img-fluid"
                  src="{{ ie.image.url }}"
                  alt="doctor-foto"
                  width="100%"
                  height="100%"
                />
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="all-posts-btn mb-40 wow fadeInUp" data-wow-delay="1s">
          <a
            href="{% url 'home:gallery' %}"
            class="btn btn-blue blue-hover submit"
            aria-label="See more in the Ade Gallery"
            >See More in the Gallery</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact us -->
{% include 'contact_section.html' %}

<!-- Blogs section -->
<section class="news1-wrapper">
  <div class="news-blog-wrapper mt-5 mb-3 container">
    <div class="section-title">
      <h2 class="h3-md steelblue-color mb-0">
        Our Stories, Tips & Latest News
      </h2>
    </div>
    <div class="row mx-0 mt-0 g-4 justify-content-center">
      {% for blog in data2 %}
      <div
        class="col-lg-4 col-md-6 col-sm-12 col-11 mt-0 mt-sm-4 mt-lg-0 mt-md-4"
      >
        <div class="news-blog-card card">
          <img
            src="{{ blog.image.url }}"
            class="news-img img-fluid"
            alt="news-blog-1"
            width="100%"
            height="100%"
          />
          <div class="card-body">
            <div
              class="d-flex align-items-center position-relative justify-content-between"
            >
              <h2 style="font-size: 16px; color: #24a992" class="mb-0">
                <i class="fa-solid fa-calendar-days me-1"></i>
                {{ blog.published }}
              </h2>
              <div class="news-blogs-admin-title">
                <i class="fas fa-user-alt me-2"></i>
                <span>{{ blog.author }}</span>
              </div>
            </div>
            <a href="{% url 'home:blogd' blog.slug %}">
              <h5 class="blogs-title fw-bold">{{ blog.h1 }}</h5>
            </a>
          </div>
          <div class="card-footer border-0 d-flex">
            <a href="{% url 'home:blogd' blog.slug %}">Read More</a
            ><i class="fa-solid fa-arrow-right ms-2"></i>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-md-12 text-center">
        <div class="all-posts-btn mb-40 mt-20 wow fadeInUp" data-wow-delay="1s">
          <a
            href="{% url 'home:blogs' %}"
            class="btn btn-blue blue-hover submit"
            >Read More Posts</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- company parter logo -->
<section class="customer-logos slider mb-4" style="height: auto !important">
  {% for ie in client %}
  <div class="slide">
    <img
      alt="Client Of ADE"
      class="company-partner-image img-fluid"
      width="100%"
      height="100%"
      src="{{ ie.image.url }}"
    />
  </div>
  {% endfor %}
</section>
{% endblock %}

<!-- jQuery (required by Owl Carousel) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Advance Dental Export",
    "url": "https://advancedentalexport.com/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Advance Dental Export",
    "alternateName": "Advance Dental Export",
    "url": "https://advancedentalexport.com/",
    "logo": "https://advancedentalexport.com/static/img/logo.png",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+91 84 88 88 88 77",
      "contactType": "customer service",
      "areaServed": ["US", "IN"],
      "availableLanguage": "en"
    },
    "sameAs": [
      "https://www.facebook.com/advance.dental.surat/",
      "https://www.instagram.com/advance_dental_export/",
      "https://www.linkedin.com/company/advance-dental-export/"
    ]
  }
</script>

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>
  $(document).ready(function () {
    var $customerLogos = $(".customer-logos");
    var owl = $(".services-holder");

    $customerLogos.slick({
      slidesToShow: 10,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1000,
      arrows: false,
      dots: false,
      pauseOnHover: false,
      infinite: true,
      responsive: [
        {
          breakpoint: 1900,
          settings: {
            slidesToShow: 8,
          },
        },
        {
          breakpoint: 1500,
          settings: {
            slidesToShow: 7,
          },
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 6,
          },
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 5,
          },
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 4,
          },
        },
        {
          breakpoint: 520,
          settings: {
            slidesToShow: 3,
          },
        },
      ],
    });

    $customerLogos.on("afterChange", function (event, slick, currentSlide) {
      var totalSlides = slick.$slides.length;
      var slidesToShow = slick.options.slidesToShow;

      // When the last 5 slides are displayed
      if (currentSlide >= totalSlides - slidesToShow - 1) {
        setTimeout(function () {
          $customerLogos.slick("slickGoTo", 0, true);
        }, 1000);
      }
    });

    if (owl.length) {
      owl.owlCarousel({
        items: 2,
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        smartSpeed: 1500,
        navBy: 1,
        responsive: {
          0: { items: 1 },
          767: { items: 1 },
          768: { items: 2 },
          991: { items: 2 },
          1200: { items: 3 },
        },
      });
    }
  });
</script>
<script src="{% static 'js/galleryanimation.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script>
  {% comment %} const videoWrappers=document.querySelectorAll(".index-video1");videoWrappers.forEach(e=>{e.onclick=()=>{let r=e.getAttribute("data-video-id"),t=document.createElement("iframe1");t.src=`https://www.youtube.com/embed/${r}?autoplay=1`,t.frameBorder="0",t.allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",t.allowFullscreen=!0,t.style.width="100%",t.style.height="100%";let o=e.querySelector(".video-container");o.innerHTML="",o.appendChild(t)}}); {% endcomment %}
  const videoWrappers = document.querySelectorAll(".index-video1");
  videoWrappers.forEach((wrapper) => {
    wrapper.onclick = () => {
      const videoId = wrapper.getAttribute("data-video-id");
      const iframe = document.createElement("iframe");
      iframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1`;
      iframe.frameBorder = "0";
      iframe.allow =
        "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
      iframe.allowFullscreen = true;

      iframe.style.width = "100%";
      iframe.style.height = "100%";

      const videoContainer = wrapper.querySelector(".video-container");
      videoContainer.innerHTML = "";
      videoContainer.appendChild(iframe);
    };
  });
</script>

<script>
  $(document).ready(function () {
    $(".your-slider").slick({
      dots: true,
      loop: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      speed: 500,
      autoplay: false,
      autoplaySpeed: 3000,
    });
  });
</script>
{% endblock %}
