{% extends 'base.html' %}
{% load static %}

{% block seo %}    
<title></title>
<meta name="description" content="" />
<link rel="canonical" href="https://advancedentalexport.com/terms-and-condition/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="https://advancedentalexport.com/" />
<meta property="og:site_name" content="My One Blog" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="" />
<meta name="twitter:title" content="" />

{% endblock seo %}

{% block css %}
{% endblock css %}
    


{% block body %}
<!-- BREADCRUMB
			============================================= -->
			<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Terms & Condition</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Terms & Condition</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	



<div class="blog-area-wrapper Political-blog-grid-wrapper" data-padding-top="100" data-padding-bottom="100">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12 pt-5 pb-5">
	            <h3 class="mb-4">Terms and Conditions for Dental Prosthesis Repair or Replacement Warranty</h3>

<p>These terms and conditions (&quot;Terms&quot;) govern the warranty provided for the repair or replacement of your dental prosthesis (&quot;Prosthesis&quot;). By utilizing our services, you agree to adhere to these Terms and understand the scope of coverage and limitations outlined herein.</p>

<p><b>1. What Is Covered?</b></p>

<p>We offer a warranty for the repair or replacement of your dental prosthesis subject to the conditions stated below. If your Prosthesis is found to be defective due to material or manufacturing faults, we will undertake the necessary repair or replacement, as determined by our expert dental professionals.</p>

<p><b>2. What Is Not Covered?</b></p>

<p>The following situations are excluded from warranty coverage:</p>

<p><u>Cash Refund For Prosthesis:</u> We do not provide cash refunds for the Prosthesis.</p>

<p><u>Cost Incurred for Removal or Insertion:</u> Any expenses associated with the removal or insertion of the Prosthesis are not covered under this warranty.</p>

<p>Repairs Resulting From Accident, Neglect, Abuse, Failure of Supportive Tooth or Tissue Structure, Improper Dental Hygiene, or Improper Adjustments: The warranty is void in instances where the damage or malfunction of the Prosthesis is caused by accidents, neglect, abuse, failure of supportive tooth or tissue structure, improper dental hygiene, or unauthorized adjustments.</p>

<p><u>Incidental or Consequential Damages:</u> We shall not be liable for any incidental or consequential damages arising from the use or inability to use the Prosthesis, including but not limited to inconvenience, lost wages, chair-time, or pain and suffering.</p>

<p><u>Shipping Cost for Repair:</u> The cost of shipping the Prosthesis for repair is not covered by this warranty and shall be the responsibility of the customer.</p>

<p><u>Dental Fees for Repair and Replacement of Prosthesis:</u> Any dental fees incurred in connection with the repair or replacement of the Prosthesis, including fees charged by the licensed, practicing dentist, are not covered under this warranty.</p>

<p><b>3. Conditions to Be Met for Warranty to Apply</b></p>

<p>To avail of the warranty coverage, the following conditions must be met:</p>

<p> The Prosthesis must be inserted by a licensed and practicing dentist following standard dental practices and protocols.</p>

<p>Prosthesis Must Be Returned with Old Model and New Impression (Without Change in Tooth Preparation) or Remark Prosthesis: To initiate a warranty claim, the Prosthesis must be returned to us along with the old model and new impression (without any changes in tooth preparation) or, in case of repairs, remark the specific issues to be addressed.</p>

<p><b>4. For warranty claims</b></p>

<p>The claimant is required to visit the same dentist as the one initially providing the dental service. This condition is applicable to all warranty claims and must be adhered to in order to qualify for warranty coverage.</p>

<p><b>5. Subject to Surat Court's Jurisdiction Only</b></p>

<p>Any disputes or claims arising from or related to this warranty shall be subject to the exclusive jurisdiction of the courts located in Surat, India.</p>

<p><b>6. Terms &amp; Conditions of Warranty Are Subject to Change Without Notice</b></p>

<p>Please note that the terms and conditions of this warranty are subject to change without prior notice. It is your responsibility to regularly review the latest version of the warranty terms available on our official website or request a copy from our customer service department.</p>

<p>By using our services and accepting the Prosthesis repair or replacement, you agree to be bound by these Terms and Conditions. If you do not agree with any part of these Terms, please refrain from using our services. For any queries or concerns regarding the warranty, please contact our customer service team.</p>

<p>Last updated: <b>04-August-2023.</b></p>
	        </div>
	    </div>
	</div>
</div>

{% endblock body %}
    


{% block javascript %}
		
{% endblock javascript %}
    