{% load static %}
<div id="statistic-1" class="bg-scroll statistic-section division">
  <div class="" style="background-color:rgb(36, 169, 146,0.7)">
        <div class="container white-color">
    <div class="row container-content justify-content-center mx-auto">
      <div class="col-md-6 col-lg-3 col-10">
        <div
          class="statistic-block icon-lg wow fadeInUp"
          data-wow-delay="0.4s"
          style="
            visibility: visible;
            animation-delay: 0.4s;
            animation-name: fadeInUp;
          "
        >
          <span class="flaticon-143-teeth" style="color: #333;"></span>
          <h5 class="statistic-number">
            <span class="count-element">6</span>L
          </h5>
          <p class="txt-400">Cases</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-10">
        <div
          class="statistic-block icon-lg wow fadeInUp"
          data-wow-delay="0.6s"
          style="
            visibility: visible;
            animation-delay: 0.6s;
            animation-name: fadeInUp;
          "
        >
          <span class="flaticon-137-doctor" style="color: #333;"></span>
          <h5 class="statistic-number">
            <span class="count-element">400</span>
          </h5>
          <p class="txt-400">Qualified Professionals</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-10">
        <div
          class="statistic-block icon-lg wow fadeInUp"
          data-wow-delay="0.8s"
          style="
            visibility: visible;
            animation-delay: 0.8s;
            animation-name: fadeInUp;
          "
        >
          <span
            ><img
              src="{% static 'dentistlogo.png' %}"
              style="width: 70px"
              alt="Dentist"
          /></span>
          <h5 class="statistic-number">
            <span class="count-element" style="color: #333;">3500</span>
          </h5>
          <p class="txt-400">Trusted Dentist</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-10">
        <div
          class="statistic-block icon-lg wow fadeInUp"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: fadeInUp;
          "
        >
          <span class="flaticon-040-placeholder" style="color: #333;"></span>
          <h5 class="statistic-number">
            <span class="count-element">500</span>
          </h5>
          <p class="txt-400">Local Partners</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>