{% extends 'base.html' %} {% load static %} {% block seo %}
<title>Advance Dental Export Reviews, Testimonials, & Feedback</title>
<meta
  name="description"
  content="Hear directly from our clients. Read authentic reviews of Advance Dental Export dental lab. Explore testimonials and feedback from our satisfied clients & dentists."
/>
<link rel="canonical" href="https://advancedentalexport.com/testimonials/" />
<meta property="og:locale" content="en_IN" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="Advance Dental Export Reviews, Testimonials, & Feedback"
/>
<meta
  property="og:description"
  content="Hear directly from our clients. Read authentic reviews of Advance Dental Export dental lab. Explore testimonials and feedback from our satisfied clients & dentists."
/>
<meta
  property="og:url"
  content="https://advancedentalexport.com/testimonials/"
/>
<meta property="og:site_name" content="Advance Dental Export" />
<meta name="og:image" content="{% static 'img/feature.webp' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/webp" />
<meta name="twitter:card" content="summary_large_image" />
<meta
  name="twitter:description"
  content="Hear directly from our clients. Read authentic reviews of Advance Dental Export dental lab. Explore testimonials and feedback from our satisfied clients & dentists."
/>
<meta
  name="twitter:title"
  content="Advance Dental Export Reviews, Testimonials, & Feedback"
/>
<meta name="twitter:image" content="{% static 'img/feature.webp' %}" />
<link
  rel="alternate"
  hreflang="x-default"
  href="https://advancedentalexport.com/testimonials/"
/>
<link
  rel="alternate"
  hreflang="en-IN"
  href="https://advancedentalexport.com/testimonials/"
/>
{% endblock seo %} {% block css %}
<link rel="preload" href="{% static 'css/review.css' %}" as="stylesheet" />
<link
  href="{% static 'css/review.css' %}"
  rel="stylesheet"
  media="print"
  onload="this.media='all'"
/>
{% endblock css %} {% block body %}
<!-- BREADCRUMB ============================================= -->
<div id="breadcrumb" class="division">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="breadcrumb-holder">
          <!-- Breadcrumb Nav -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home:home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="#"> Testimonials</a>
              </li>
            </ol>
          </nav>

          <!-- Title -->
          <h1 class="h4-sm steelblue-color">
            Testimonials: Voices of Dentists & Clientele
          </h1>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</div>
<!-- END BREADCRUMB -->
<div id="gallery-1" class="gallery-section division pt-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 section-title">
        <h2 class="h2-ms steelblue-color">Hear It From Them - Our Clientele</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="swiper gallerySwiper">
      <div class="swiper-wrapper">
        {% for ie in videoData %}
        <div
          class="swiper-slide sbox-52 index-video1"
          data-video-id="{{ ie.link|cut:'https://www.youtube.com/embed/' }}"
        >
          <div class="video-container">
            <img
              src="https://img.youtube.com/vi/{{ ie.link|cut:'https://www.youtube.com/embed/' }}/sddefault.jpg"
              alt="Video Thumbnail"
              class="video-thumbnail1"
            />
            <button class="play-button">▶</button>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!-- client reviews -->
  <section id="reviews-2 pt-20">
    <div class="section-title text-center">
      <h2 class="h2-ms steelblue-color pt-50">
        Client Chronicles: Their Stories, Their Experiences
      </h2>
    </div>
    <div class="review-section testimonials-slider">
      <div
        class="review-overlay"
        style="opacity: 0.7; background-color: rgb(36, 169, 146)"
      ></div>
      <div class="container position-relative text-center">
        <div class="row justify-content-center carousel-row">
          <div class="col-sm-11 col-md-11 col-lg-10 col-11">
            <div
              class="carousel slide"
              data-bs-ride="carousel"
              id="carouselExampleControls"
            >
              <div class="review-slider-testimonials">
                <div class="carousel-inner">
                  {% for ie in data %}
                  <div
                    class="{% if forloop.first %}active{% endif %} carousel-item"
                    aria-label="Slide {{ forloop.counter }}"
                  >
                    <div
                      class="review-user mx-auto col-lg-8 col-md-10 col-sm-11 col-12"
                    >
                      <div class="user_image">
                        <img
                          src="{% static 'img/profile-user-3.png' %}"
                          class="d-block w-100"
                          alt="..."
                        />
                      </div>
                      <div class="review-user-txt">
                        <p>
                          <i class="fa-solid fa-quote-left"></i>
                          {{ie.review}}
                          <i class="fa-solid fa-quote-right"></i>
                        </p>
                      </div>
                      <div class="review-user-name">{{ie.name}}</div>
                      <div class="review-user-desk">{{ie.position}}</div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="carousel-controls">
                  <button
                    class="carousel-control-prev review-prev-button"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                  </button>
                  <button
                    class="carousel-control-next review-next-button"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container mt-30 pt-5">
    <div class="row gallery-items-list">
      <div class="swiper testimonalSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="">
              <iframe
                width="100%"
                height="500"
                src="https://player.vimeo.com/video/790146326?h=211a9911a2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="">
              <iframe
                width="100%"
                height="500"
                src="https://player.vimeo.com/video/781419231?h=8ce2f809d6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="swiper-slide">
            <iframe
              width="100%"
              height="500"
              src="https://player.vimeo.com/video/781418955?h=7c269d8ab9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
{% endblock body %} {% block javascript %}
<script src="{% static 'js/galleryanimation.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script>
  var galleryswiper = new Swiper(".gallerySwiper", {
    speed: 1500,
    slidesPerView: 2,
    loop: true,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: !0,
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      767: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      991: {
        slidesPerView: 2,
      },
      1000: {
        slidesPerView: 2,
      },
    },
  });
  var testionalswiper = new Swiper(".testimonalSwiper", {
    speed: 1500,
    slidesPerView: 2,
    spaceBetween: 20,
    loop: true,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: !0,
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      767: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      991: {
        slidesPerView: 2,
      },
      1000: {
        slidesPerView: 2,
      },
    },
  });
</script>
<script>
  {% comment %} const videoWrappers=document.querySelectorAll(".index-video1");videoWrappers.forEach(e=>{e.onclick=()=>{let r=e.getAttribute("data-video-id"),t=document.createElement("iframe1");t.src=`https://www.youtube.com/embed/${r}?autoplay=1`,t.frameBorder="0",t.allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",t.allowFullscreen=!0,t.style.width="100%",t.style.height="100%";let o=e.querySelector(".video-container");o.innerHTML="",o.appendChild(t)}}); {% endcomment %}
  const videoWrappers = document.querySelectorAll(".index-video1");
  videoWrappers.forEach((wrapper) => {
    wrapper.onclick = () => {
      const videoId = wrapper.getAttribute("data-video-id");
      const iframe = document.createElement("iframe");
      iframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1`;
      iframe.frameBorder = "0";
      iframe.allow =
        "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
      iframe.allowFullscreen = true;

      iframe.style.width = "100%";
      iframe.style.height = "100%";

      const videoContainer = wrapper.querySelector(".video-container");
      videoContainer.innerHTML = "";
      videoContainer.appendChild(iframe);
    };
  });
</script>
{% endblock javascript %}
