{% extends 'base.html' %}
{% load static %}

{% block seo %}    
<title>Video Testimonials | Advance Dental Export</title>
<meta name="description" content="Video Testimonials" />
<link rel="canonical" href="https://advancedentalexport.com/testimonals/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="https://advancedentalexport.com/" />
<meta property="og:site_name" content="My One Blog" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="" />
<meta name="twitter:title" content="" />

{% endblock seo %}

{% block css %}
{% endblock css %}
    

{% block body %}
 <!-- BREADCRUMB
            ============================================= -->
            <div id="breadcrumb" class="division">
                <div class="container">
                    <div class="row">                       
                        <div class="col">
                            <div class=" breadcrumb-holder">
                                
                                <!-- Breadcrumb Nav -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                                        <li class="breadcrumb-item active"><a href="#"> Testimonials</a></li>
                                        
                                    </ol>
                                </nav>

                                <!-- Title -->
                                <h4 class="h4-sm steelblue-color"> Video Testimonials</h4>

                            </div>
                        </div>
                    </div>  <!-- End row -->    
                </div>  <!-- End container -->      
            </div>  <!-- END BREADCRUMB --> 

            <div id="gallery-1" class="gallery-section division pt-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 section-title">
                            <h3 class="h3-md steelblue-color">Hear It From Them - Our Clientele</h3></div>
                    </div>
                </div>
                <div class="container">
                <div class="owl-carousel owl-theme services-holder3">
                    <!-- SERVICE BOX #1 -->
                    {% for ie in videoData %}
                      <div class="sbox-5 index-video1" data-video-id="{{ ie.link|cut:'https://www.youtube.com/embed/' }}">
                        <div class="video-container">
                          <img src="https://img.youtube.com/vi/{{ ie.link|cut:'https://www.youtube.com/embed/' }}/sddefault.jpg" alt="Video Thumbnail" class="video-thumbnail1" />
                          <button class="play-button">▶</button>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                </div>
                <!-- client reviews -->
<section id="reviews-2 pt-20">
    <div class="section-title text-center">
      <h3 class="h3-md steelblue-color pt-30">
        Client Chronicles: Their Stories, Their Experiences
      </h3>
    </div>
    <div class="review-section testimonials-slider">
      <div
        class="review-overlay"
        style="opacity: 0.7; background-color: rgb(36, 169, 146)"
      ></div>
      <div class="container position-relative text-center">
        <div class="row justify-content-center carousel-row">
          <div class="col-sm-11 col-md-11 col-lg-10 col-11">
            <div
              class="carousel slide"
              data-bs-ride="carousel"
              id="carouselExampleControls"
            >
              <div class="review-slider-testimonials">
                <div class="carousel-inner">
          
                  {% for ie in data %}
                  <div
                    class="{% if forloop.first %}active{% endif %} carousel-item"
                    aria-label="Slide {{ forloop.counter }}"
                  >
                    <div
                      class="review-user mx-auto col-lg-8 col-md-10 col-sm-11 col-12"
                    >
                      <div class="user_image">
                        <img
                          src="{% static 'img/profile-user-3.png' %}"
                          class="d-block w-100"
                          alt="..."
                        />
                      </div>
                      <div class="review-user-txt">
                        <p>
                          <i class="fa-solid fa-quote-left"></i>
                          {{ie.review}}
                          <i class="fa-solid fa-quote-right"></i>
                        </p>
                      </div>
                      <div class="review-user-name">{{ie.name}}</div>
                      <div class="review-user-desk">{{ie.position}}</div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="carousel-controls">
                  <button
                    class="carousel-control-prev review-prev-button"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                  </button>
                  <button
                    class="carousel-control-next review-next-button"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

                 <div class="container mt-30">
                    <div class="row gallery-items-list">
                        <div class="owl-carousel owl-theme services-holder3 pt-30
">
                            <div class="" >
                                <iframe
                                  width="100%"
                                  height="500"
                                  src="https://player.vimeo.com/video/790146326?h=211a9911a2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                  allowfullscreen
                                ></iframe>
                              </div>    
                              <div class="">
                                <iframe
                                  width="100%"
                                  height="500"
                                  src="https://player.vimeo.com/video/781419231?h=8ce2f809d6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                  allowfullscreen
                                ></iframe>
                              </div>
                            
                            <div class="">
                                <iframe
                                  width="100%"
                                  height="500"
                                  src="https://player.vimeo.com/video/781418955?h=7c269d8ab9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                  allowfullscreen
                                ></iframe>
                              </div>    
                                {% comment %} <div class="sbox-5">
                                    <div style="padding:125% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/790146326?h=211a9911a2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Testimonial_-_3"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                                </div>
                                <div class="sbox-5">
                                    <div style="padding:125% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/781419231?h=8ce2f809d6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="VID-20221130-WA0021_HLbYZzr"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                                </div>
                                
                                <div class="sbox-5">
                                    <div style="padding:125% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/781418955?h=7c269d8ab9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Testimonial Dr.Brijesh Patel"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                                </div> {% endcomment %}
                        </div>
                    </div>
                    
                </div> 
            </div>
           

{% endblock body %}
    

{% block javascript %}
<script src="{% static 'js/galleryanimation.js' %}"></script>
  <script src="{% static 'js/modernizr.custom.js' %}"></script>

  <script>
    {% comment %} const videoWrappers=document.querySelectorAll(".index-video1");videoWrappers.forEach(e=>{e.onclick=()=>{let r=e.getAttribute("data-video-id"),t=document.createElement("iframe1");t.src=`https://www.youtube.com/embed/${r}?autoplay=1`,t.frameBorder="0",t.allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",t.allowFullscreen=!0,t.style.width="100%",t.style.height="100%";let o=e.querySelector(".video-container");o.innerHTML="",o.appendChild(t)}}); {% endcomment %}
    const videoWrappers = document.querySelectorAll(".index-video1");
    videoWrappers.forEach((wrapper) => {
      wrapper.onclick = () => {
        const videoId = wrapper.getAttribute("data-video-id");
        const iframe = document.createElement("iframe");
        iframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1`;
        iframe.frameBorder = "0";
        iframe.allow =
          "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
        iframe.allowFullscreen = true;

        iframe.style.width = "100%";
        iframe.style.height = "100%";

        const videoContainer = wrapper.querySelector(".video-container");
        videoContainer.innerHTML = "";
        videoContainer.appendChild(iframe);
      };
    });

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<script>
$(document).ready(function () {
  var $customerLogos = $(".customer-logos");
  var owl = $('.services-holder');

  $customerLogos.slick({
      slidesToShow: 6,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1000,
      arrows: false,
      dots: false,
      pauseOnHover: false,
      infinite: true,
      responsive: [
          {
              breakpoint: 768,
              settings: {
                  slidesToShow: 4,
              },
          },
          {
              breakpoint: 520,
              settings: {
                  slidesToShow: 3,
              },
          },
      ],
  });

  $customerLogos.on('afterChange', function (event, slick, currentSlide) {
    var totalSlides = slick.$slides.length;
    var slidesToShow = slick.options.slidesToShow;

    // When the last 5 slides are displayed
    if (currentSlide >= totalSlides - slidesToShow - 1) {
      setTimeout(function () {
        $customerLogos.slick('slickGoTo', 0, true);
      }, 1000); 
    }
  });

   
});
</script>
        
{% endblock javascript %}
