{% extends 'base.html' %}
{% load static %}

{% block seo %}    
<title> Web Stories of Advance Dental Export</title>
<meta name="description" content="Explore Advance Dental Export's journey in digital dentistry, showcasing innovation, precision, and global trust in dental prosthetics." />
<link rel="canonical" href="https://advancedentalexport.com/web-story/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Web Stories of Advance Dental Export" />
<meta property="og:description" content="Explore Advance Dental Export's journey in digital dentistry, showcasing innovation, precision, and global trust in dental prosthetics." />
<meta property="og:url" content="https://advancedentalexport.com/web-story/" />
<meta property="og:site_name" content="ADVANCE DENTAL EXPORT" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Explore Advance Dental Export's journey in digital dentistry, showcasing innovation, precision, and global trust in dental prosthetics." />
<meta name="twitter:title" content="Web Stories of Advance Dental Export" />
<meta name="twitter:image" content="{% spaceless %}{{data.image.url}}{% endspaceless %}" />    
{% endblock seo %}


{% block css %}
    <link  href="{% static 'css/web_story.css' %}" rel="stylesheet"/>
{% endblock css %}
    
{% block body %}
<div id="breadcrumb" class="division mb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-holder">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                            <li class="breadcrumb-item active" arial-current="page">Web-Story</li>
                        </ol>
                    </nav>
                    <h1 class="h4-sm steelblue-color">Web-Story</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="posts-holder pr-30">
        <div class="row">
          {% if stories %}
              {% for story in stories %}
                  <div class="col-md-4 col-sm-6">
                      <a href="{% url 'home:web_story_detail' story.slug %}" target="_blank">    
                      <div class="ws-out-card"> 
                          <div class="card">
                              <div class="card-img position-relative">
                                  <img class="card-img-top" src="{{ story.image.url }}" alt="{{ story.title }}">
                                  <div class="card-overlay">
                                      <div class="ws-head">
                                          {{ story.title }}
                                      </div>
                                  </div>
                              </div>
                              <div class="card-body">
                              <div class="row">
                                  <div class="col d-flex justify-content-start card-title">{{ story.author }}</div>
                                  <div class="col d-flex justify-content-end card-title">{{ story.publish_date }}</div>
                              </div>  
                              </div>
                              <p class="card-text limited-text">{{ story.description }}</p>
                          </div>
                      </div> 
                    </a>
                  </div>
              {% endfor %}
              {% else %}
                  <div class="col-12">
                      <p>No stories available.</p>
                  </div>
              {% endif %}        
        </div>
    </div>           
</div>
{% endblock body %}
    


{% block javascript %}
		
{% endblock javascript %}