{% extends 'base.html' %}
{% load static %}

{% block seo%}
<title>Advance Zirconia for Teeth & Metal-Free Dental Prostheses</title>
<meta name="description" content="Get Advance Zirconia for teeth, crowns, bridges, implant & other dental restorations, offering exceptional strength, natural aesthetics, and precision milling."/>
<link rel="canonical" href="https://advancedentalexport.com/zirconia-crown/"/>
<meta property="og:locale" content="en_IN" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Advance Zirconia for Teeth & Metal-Free Dental Prostheses" />
<meta property="og:description" content="Get Advance Zirconia for teeth, crowns, bridges, implant & other dental restorations, offering exceptional strength, natural aesthetics, and precision milling." />
<meta property="og:url" content="https://advancedentalexport.com/zirconia-crown/" />
<meta name="og:image" content="{% static 'img/feature.webp' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/webp" />
<meta property="og:site_name" content="Advance Dental Export" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Get Advance Zirconia for teeth, crowns, bridges, implant & other dental restorations, offering exceptional strength, natural aesthetics, and precision milling." />
<meta name="twitter:title" content="Advance Dental Export" />
<meta name="twitter:image" content="{% static 'img/feature.webp' %}" />
{% endblock seo %}

{% block header %}
{% endblock header %}

{% block css %}
<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
<link  rel="preload" href="{% static 'css/zir.css' %}" as='stylesheet' />
<link  href="{% static 'css/zir.css' %}" rel='stylesheet' media="print" onload="this.media='all'" />
{% comment %} <link href="{% static 'css/banner.css' %}" rel="stylesheet" /> {% endcomment %}
{% comment %} <link
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
  rel="stylesheet"
/> {% endcomment %}
{% if not is_mobile %}
<link rel="preload" as="image" href="{% static 'banner-2/new-banner2-img12.webp' %}" type="image/png" fetchpriority="high">
<link rel="preload" as="image" href="{% static 'banner-2/new-banner2-img16.webp' %}" type="image/png" fetchpriority="high">
<link rel="preload" as="image" href="{% static 'banner-2/new-banner2-logo.png' %}" type="image/png" fetchpriority="high">
<link rel="preload" as="image" href="{% static 'banner-2/new-banner2-text.png' %}" type="image/png" fetchpriority="high">
{% else %}
<link rel="preload" as="image" href="{% static 'banner-2/new-banner2-mobileSize33.webp' %}" type="image/png" fetchpriority="high">
{% endif%}

{% endblock css %}

{% block body %}
<div style="background-color: white; z-index:2; ">
    <!-- hero section -->
    <section class="hero-section1 zirconia-hero-section position-relative mx-auto p-0 overflow-hidden d-block ">
        <div class="swiper-wrapper">
            <div class="swiper-slide banner2-swiper-slide position-relative">
                <img
                    src="{% static 'banner-2/new-banner2-img12.webp' %}"
                    class="new-banner2-bg d-none d-md-none d-lg-block img-fluid"
                    alt="banner2-bg"
                    loading="eager"
                    fetchpriority="high"
                />
                <img
                    src="{% static 'banner-2/new-banner2-img16.webp' %}"
                    class="new-banner2-bg d-lg-none d-md-block d-none img-fluid"
                    alt="banner2-bg"
                    loading="eager"
                    fetchpriority="high"
                />
                <img
                    src="{% static 'banner-2/new-banner2-mobileSize33.webp' %}"
                    class="new-banner2-bg d-block d-md-none d-lg-none img-fluid"
                    alt="banner2-bg"
                    loading="eager"
                    fetchpriority="high"
                />
            <div class="container new-banner2">
                <img
                    src="{% static 'banner-2/new-banner2-logo.png' %}"
                    class="new-banner2-logo img-fluid"
                    alt="banner2-logo"
                    loading="eager"
                    fetchpriority="high"
                />
                <img
                    src="{% static 'banner-2/new-banner2-text.png' %}"
                    class="new-banner2-text img-fluid"
                    alt="banner2-text"
                    loading="eager"
                    fetchpriority="high"
                />
            </div>
            </div>
        </div>
    </section>
    <!-- what is zirconia -->
    <section class="zirconia-second">
        <div class="container position-relative">
            <div class="row g-4 justify-content-center align-items-center pb-md-2 pb-lg-3">
                <div class="col-11 col-sm-12 col-lg-6">
                    <h1 class="zirfirst-headS ">Advance Zirconia for Teeth Restoration</h1>
                    <div class="zirfirst-text">
                        <p> Discover Advance Zirconia, the gold standard in zirconia dental solutions, meticulously engineered for 
                            high-performance crowns, bridges, implants & other dental prosthesis. Crafted fromZirconium dioxide, 
                            our prostheses deliver unmatched zirconia for teeth aesthetics, biocompatibility, and strength. 
                        </p>
                        <p>Zirconia dental crowns are often chosen for their ability to blend seamlessly with natural teeth, 
                            offering an excellent solution for both front and back teeth. The result is a great zirconia tooth 
                            that provides long-lasting protection and functionality. Whether you're looking for an aesthetic 
                            restoration or a durable solution, an Advance Zirconia Crown is a reliable choice for anyone needing dental restoration.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="zirfirstgroup">
                        <img src="{% static 'zirfirstgroup.webp' %}" class="position-relative groupImage" 
                            alt="Smile Step Group 1" />
                        <!-- <img src="{% static 'zir-txt.png' %}" class="zirconia-text1" loading="lazy"
                            alt="Smile Step Group 1" /> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- radial smile -->
    <section class="radial_smile mt-md-4 mt-lg-4">
        <div class="container position-relative">
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-2">
            <h2 class="zirconia-wrapper-title pt-2 pt-sm-3 pb-xl-2">The Path To Radiant Smile</h2>
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-1">
            <div class="row g-4 webviewofprocess justify-content-center mb-5">
                <div class="col-12 col-md-6 col-lg-5 d-flex left-column flex-column align-items-center justify-content-center">
                    <div class="bigcont"></div>
                    {% for card in cards %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="radient-amile-card ">
                        <p class="radient-amile-card-subhead">{{ card.title }}</p>
                        <div class="radient-amile-card-head left">{{ card.subtitle }}</div>
                        <div class="image-wrapper d-flex  align-items-end justify-content-end">
                            <div class="overlay slice-1"></div>
                            <div class="overlay slice-2"></div>
                            <div class="overlay slice-3"></div>
                            <div class="overlay slice-4"></div>
                            <div class="overlay slice-5"></div>
                            <img src="{% static card.image %}" class="animated-image" 
                                alt="Smile Step Group 1" />
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-12 col-md-6 col-lg-5 right-column d-flex flex-column">
                    {% for card in cards %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <div class="radient-amile-card1 ">
                        <p class="radient-amile-card-subhead">{{ card.title }}</p>
                        <div class="radient-amile-card-head">{{ card.subtitle }}</div>
                        <div class="image-wrapper d-flex  align-items-start justify-content-start">
                            <div class="overlay slice-1"></div>
                            <div class="overlay slice-2"></div>
                            <div class="overlay slice-3"></div>
                            <div class="overlay slice-4"></div>
                            <div class="overlay slice-5"></div>
                            <img src="{% static card.image %}" class="animated-image"
                                alt="Smile Step Group 1" />
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row g-4 mobileviewofprocess">
                <div class="col-12 col-md-6 col-lg-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="bigcont"></div>
                    {% for card in cards %}
                    <div class="radient-amile-card-m ">
                        <p class="radient-amile-card-subhead">{{ card.title }}</p>
                        <div class="radient-amile-card-head">{{ card.subtitle }}</div>
                        <div class="image-wrapper d-flex  align-items-center justify-content-center">
                            <div class="overlay slice-1"></div>
                            <div class="overlay slice-2"></div>
                            <div class="overlay slice-3"></div>
                            <div class="overlay slice-4"></div>
                            <div class="overlay slice-5"></div>
                            <img src="{% static card.image %}" class="animated-image" 
                                alt="Smile Step Group 1" />
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Type Of Zirconia Crown -->
    <section class="typeOfZirconia position-relative">
        <div class="container">
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-2">
            <h2 class="zirconia-wrapper-title pt-md-4 pt-sm-4 pt-5 pb-0">Type Of Advance Zirconia</h2>
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-1">
            <div class="swiper-button-next d-block d-sm-none"></div>
            <div class="swiper-button-prev d-block d-sm-none"></div>

            <div class="outerslider mobileviewofType">
                <div class="swiper-container swiper-one">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-start pb-0 p-3" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex ">
                                    <img src="{% static '01.svg' %}" class="img-fluid numbersvgmobile" 
                                        alt="Smile Step Group 1" />
                                    <div class="mobileviewofType-content">
                                        <span style="color: #1B8976" class="pl-2">Monolithic Zirconia Crown</span>
                                        <p style="color: #000;" >
                                            Monolithic zirconia is a single-piece, durable dental material known for its strength, aesthetics, and longevity.
                                            It's often used for crowns and bridges, offering a smooth, translucent, and natural-looking finish that mimics real teeth.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/01mobileSize.webp' %}" class="img-fluid side-img-mobile" 
                                    alt="Smile Step Group 1" />
                            </div>
                        </div>
                        <div class="swiper-slide text-start p-3" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex">
                                    <img src="{% static '02.svg' %}" class="img-fluid numbersvgmobile" 
                                        alt="Smile Step Group 1" />
                                    <div class="pl-5 mobileviewofType-content" style="padding-left: 8px">
                                        <span style="color: #1B8976">Multi-Layered Zirconia</span>
                                        <p style="color: #000" >
                                        Multilayered zirconia is a dental material with varying translucency, designed to mimic natural tooth structure. It combines strength, durability, and excellent aesthetics, making it the preferred choice for advanced zirconia implants due to its lifelike appearance.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/Multilayered-M.webp' %}" class="img-fluid side-img-mobile" 
                                    alt="Smile Step Group 1" />
                            </div>
                        </div>
                        <div class="swiper-slide text-start text-start p-3" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex">
                                    <img src="{% static '03.svg' %}" class="img-fluid numbersvgmobile"
                                        alt="Smile Step Group 1" />
                                    <div class="pl-5 mobileviewofType-content" style="padding-left: 8px">
                                        <span style="color: #1B8976">Zirconia Implant</span>
                                        <p style="color: #000" >
                                            Zirconia implants are advanced ceramic dental implants made from zirconium dioxide,45 offering exceptional strength and a natural, tooth-like appearance. They blend seamlessly with the surrounding teeth and can last 20-25 years with proper care.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/Implant-M.webp' %}" class="img-fluid side-img-mobile" 
                                    alt="Smile Step Group 1" />
                            </div>
                        </div>
                        <div class="swiper-slide text-start p-3" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex">
                                    <img src="{% static '04.svg' %}" class="img-fluid numbersvgmobile" 
                                        alt="Smile Step Group 1" />
                                    <div class="pl-5 mobileviewofType-content" style="padding-left: 8px">
                                        <span style="color: #1B8976">E Max Layered Zirconia</span>
                                        <p style="color: #000" >
                                            EMax layered zirconia is an advanced dental material that combines the strength of zirconia with the natural beauty of porcelain. It offers outstanding durability, lifelike aesthetics, and excellent wear resistance. Choose eMax layered zirconia for visible teeth or high-stress areas where both beauty and strength are essential.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/Emaxlayered-M.webp' %}" class="img-fluid side-img-mobile" 
                                    alt="Smile Step Group 1" />
                            </div>
                        </div>
                        {% comment %} <div class="swiper-slide text-start p-4" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex">
                                    <img src="{% static '05.svg' %}" class="img-fluid numbersvgmobile" loading="lazy"
                                        alt="Smile Step Group 1" />
                                    <div class="pl-5" style="padding-left: 8px">
                                        <h3 style="color: #1B8976">Monolithic</h3>
                                        <p style="color: #000">
                                            Monolithic zirconia is a single-piece, durable dental material known for its strength, aesthetics, and longevity. It's often used for crowns and bridges, offering a smooth, translucent, and natural-looking finish that mimics real teeth.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/05mobileSize.webp' %}" class="img-fluid side-img-mobile" loading="lazy"
                                    alt="Smile Step Group 1" />
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
                <!-- Pagination outside -->
                <div class="custom-pagination pagination-one"></div>
            </div>
        </div>
        <div class="webviewoftype">
                <div class="main_process_card">
                        <div class="container item-left d-flex align-items-start inner_process_card">
                            <img src="{% static '01.svg' %}" class="img-fluid px-2 numbersvg"  alt="Smile Step Group 1" data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                            <div>
                                <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" style="color: #1B8976">Monolithic Zirconia Crown</h3>
                                <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" data-aos-delay="250" style="color: #000" class="pb-3">
                                        Monolithic zirconia is a single-piece, durable dental material known for its strength, aesthetics, and longevity.
                                        It's often used for crowns and bridges, offering a smooth, translucent, and natural-looking finish that mimics real teeth.
                                </p>
                            </div>
                        </div>
                        <img src="{% static 'img/01crown.webp' %}" class="img-fluid side-img"    alt="Smile Step Group 1" />
                </div>
                <div class="main_process_card">
                    <div class="container item-left d-flex align-items-start inner_process_card">
                        <img src="{% static '02.svg' %}" class="img-fluid px-2 numbersvg"  alt="Smile Step Group 1"
                            data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                        <div>
                            <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                style="color: #1B8976">Multi-Layered Zirconia</h3>
                            <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                data-aos-delay="250" style="color: #000" class="pb-3">
                                Multilayered zirconia is a dental material with varying translucency, designed to mimic natural tooth structure. It combines strength, durability, and excellent aesthetics, making it the preferred choice for advanced zirconia implants due to its lifelike appearance.
                            </p>
                        </div>
                    </div>
                    <img src="{% static 'img/Multilayered.webp' %}" class="img-fluid side-img" 
                        alt="Smile Step Group 2" />
                </div>
                <div class="main_process_card">
                    <div class="container item-left d-flex align-items-start inner_process_card">
                        <img src="{% static '03.svg' %}" class="img-fluid px-2 numbersvg"  alt="Smile Step Group 1"
                            data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                        <div>
                            <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                style="color: #1B8976">Zirconia Implant</h3>
                            <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                data-aos-delay="250" style="color: #000" class="pb-3">
                                Zirconia implants are advanced ceramic dental implants made from zirconium dioxide, offering exceptional strength and a natural, tooth-like appearance. They blend seamlessly with the surrounding teeth and can last 20-25 years with proper care.
                            </p>
                        </div>
                    </div>
                    <img src="{% static 'img/Implant31.webp' %}" class="img-fluid side-img" 
                        alt="Smile Step Group 3" />
                </div>
                <div class="main_process_card">
                    <div class="container item-left d-flex align-items-start inner_process_card">
                        <img src="{% static '04.svg' %}" class="img-fluid px-2 numbersvg"  alt="Smile Step Group 1"
                            data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                        <div>
                            <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                style="color: #1B8976">E Max Layered Zirconia</h3>
                            <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                data-aos-delay="250" style="color: #000" class="mb-1">
                                EMax layered zirconia is an advanced dental material that combines the strength of zirconia with the natural beauty of porcelain. It offers outstanding durability, lifelike aesthetics, and excellent wear resistance. Choose eMax layered zirconia for visible teeth or high-stress areas where both beauty and strength are essential.
                            </p>
                        </div>
                    </div>
                    <img src="{% static 'img/Emaxlayered.webp' %}" class="img-fluid side-img" 
                        alt="Smile Step Group 4" />
                </div>
                <!-- <div class="main_process_card">
                    <div class="container item-left d-flex align-items-start inner_process_card">
                        <img src="{% static '05.svg' %}" class="img-fluid px-2 numbersvg" loading="lazy" alt="Smile Step Group 1"
                            data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                        <div>
                            <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                style="color: #1B8976">Monolithic</h3>
                            <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                data-aos-delay="250" style="color: #000" class="pb-4">
                                Monolithic zirconia is a single-piece, durable dental material known for its strength, aesthetics, and longevity. It's often used for crowns and bridges, offering a smooth, translucent, and natural-looking finish that mimics real teeth.
                            </p>
                        </div>
                    </div>
                    <img src="{% static 'img/Monolithic.webp' %}" class="img-fluid side-img" loading="lazy"
                        alt="Smile Step Group 5" />
                </div> -->
        </div>
    </section>
    <!-- Why Zirconia Crown -->
    <section class="zirconia-wrapper">
        <div class="container position-relative">
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-2">
            <h2 class="zirconia-wrapper-title  pt-4 pb-3 pb-sm-4">Why Advance Zirconia?</h2>
             {% comment %} <p class="zirconia-tagline">“Baki Zirconia Bar Bar, Advance Zirconia Ek Bar”</p> {% endcomment %}
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-1">
            <div class="zirconia-content-wrapper">
                <div class="zirconia-content-item _1">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-12"><span>01</span></div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <h3>Exceptional Strength and Longevity</h3>
                        </div>
                        <div class="col-12 col-lg-7 col-md-7 col-sm-12">
                            <p>
                                Crafted from high-grade zirconium, Advance Zirconia Crowns offer superior durability and resistance to cracks, 
                                making them ideal for long-term dental restoration.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="zirconia-content-item _2">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-12"><span>02</span></div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <h3>Natural Aesthetics</h3>
                        </div>
                        <div class="col-12 col-lg-7 col-md-7 col-sm-12">
                            <p>
                                Designed to replicate the look of natural teeth, these crowns provide a lifelike appearance with excellent 
                                color matching, making them suitable for both front and back teeth.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="zirconia-content-item _3">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-12"><span>03</span></div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <h3>Biocompatibility and Comfort</h3>
                        </div>
                        <div class="col-12 col-lg-7 col-md-7 col-sm-12">
                            <p>
                                Made from a material that is safe and well-tolerated by the body, Advance Zirconia Crowns ensure a secure, 
                                comfortable fit with minimal risk of allergic reactions or irritation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Benefits of the zirconia -->
    <section class="BenefitOfZirconia">
        <div class="container position-relative">
            <div class="col-12 text-center">
                <!-- <div class="zirfirst-headS"></div> -->
                <img src="{% static 'img/line.svg' %}" class="img-fluid line-2">
                    <h3 class="zirconia-wrapper-title pt-3 pb-2">Benefits of Using Advance Zirconia</h3>
                <img src="{% static 'img/line.svg' %}" class="img-fluid line-1">
                <div class="zirfirst-text benefittxt">
                    Advance Zirconia offers a perfect blend of durability, aesthetics, and biocompatibility. 
                    Its high strength ensures long-lasting performance, while its tooth-colored appearance provides 
                    a natural, seamless look. Being metal-free and gentle on surrounding tissues, it’s an excellent 
                    choice for safe, comfortable, and visually appealing dental restorations.
                </div>
            </div>
            <div class="swiper swiper-two">
                <div class="swiper-wrapper">
                    {% for ie in Benefit %}
                     <div class="swiper-slide benslide">
                        <div class="freebennum">{{ie.id}}</div>
                        <img src="{% static 'img/'|add:ie.imgUrl %}" class="img-fluid benicons" 
                            alt="Smile Step Group 1" />
                        <div class="benhead">
                            {{ie.title}}
                        </div>
                        <p class="bantext">{{ie.description}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="custom-pagination pagination-two"></div>
        </div>
    </section>
    <!-- >Testimonials -->
    <section class="testimonial-wrapper zirconia-wrapper mb-sm-5 user-reviews"  data-user-content="true">
        <div class="container position-relative text-center">
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-2t">
            <h2 class="zirconia-wrapper-title mb-3 mb-sm-4">Testimonials</h2>
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-1t">

            <p class="testinomial-subtitle mb-4">
                Read what our satisfied patients have to say about their exceptional experiences at Advance Dental
                Export.
                Our dedicated team provides top-notch care, ensuring comfort and satisfaction at every visit.
            </p>
            <div class="swiper pt-3 mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.webp' %}" alt="Avatar" class="testimonial-avatar" />
                        <span class="testimonial-name">Dr. Shefali Phogat</span>
                        <p class="testimonial-text">
                            It’s always a great experience to work in collaboration with Advance dental lab. We have done multiple cases of Full mouth rehabilitation with zirconia & Emax. They do excellent work with utmost precision. Their team is highly efficient and easy to reach. Keep up the good work.
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.webp' %}" alt="Avatar" class="testimonial-avatar" />
                        <span class="testimonial-name">Dr. Skpatel</span>
                        <p class="testimonial-text">
                            Excellent work especially for zirconia & e-max veneers.
                            A lot of perfection depends on lab & we have been very satisfied .perfect shade selection,perfect margin,perfect occlusion,timely delivery & no complaints from patient.
                            Thanks ,advance lab& keep going .
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.webp' %}" alt="Avatar" class="testimonial-avatar" />
                        <span class="testimonial-name">Dr. Jay Patel</span>
                        <p class="testimonial-text">
                            As a specialist prosthodontist, working very closely with Advanced Dental Export makes me extremely delighted to deliver dream smile design projects to our elite clients.Their quality of dental prosthesis is par international standards along with FDA approved materials.Technical aspects like crown margins, contact areas, occlusion, implant prosthetics,final denture processing are achieved and executed with utter precision and updated innovation.ADE has a professional and technical team dedicated to quality services and exact needs of the doctors,that is very unique virtue reflects in their team members.
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.webp' %}" alt="Avatar" class="testimonial-avatar" />
                        <span class="testimonial-name">Dr. Ankita</span>
                        <p class="testimonial-text">
                            I had the pleasure of working with Advance Dental Lab for over 8 years. It is such a joy to have a lab that can provide helpful and successful alternative options for extremely difficult cases and export level quality . Ultimate smile Designing is best. Support Digital dentistry . They have skilled technicians to provide Fast work. Ultimate smile designer .
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.webp' %}" alt="Avatar" class="testimonial-avatar" />
                        <span class="testimonial-name">Dr. Jugal Sherdiwala</span>
                        <p class="testimonial-text">
                            I have been sending my work to Advanced Lab since their inception. Their work is extraordinary along with quick service. I have worked with many labs but I always faced problems either with communication, not getting work on time or work satisfaction. I have never faced such issues with Advanced Lab. Their work is impeccable. If there is someone out there making life of a dentist easy- It’s them.
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gallery section -->
    <section class="Gallery-section">
        <div class="container p-0">
            <div class="row gallery-wrapper position-relative justify-content-center">
                <div class="col-11 col-md-6 col-lg-4 px-1 ">
                    <p>Step into our Advanced Zirconia Gallery, where precision meets innovation. Explore a stunning
                        collection of zirconia designs, showcasing superior craftsmanship, durability, and elegance.
                        Discover the future of Advance Zirconia.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="gallery-bg-text">Zirconia</div>
                    <h2>Gallery</h2>
                </div>
            </div>
            <div class="swiper gallery-swiper">
                <div class="swiper-wrapper mb-4">
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case1.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase1')">
                                <span>Click here </span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase1">
                            <img src="{% static 'img/case1.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case12.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case15.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case13.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case14.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case2.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase2')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase2">
                            <img src="{% static 'img/case2.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case21.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case22.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case23.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case24.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div> 
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case3.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase3')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase3">
                            <img src="{% static 'img/case3.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case31.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case32.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case33.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case34.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                        <img src="{% static 'img/case4.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase4')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase4">
                            <img src="{% static 'img/case4.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case41.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case42.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case43.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case44.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case5.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase5')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase5">
                            <img src="{% static 'img/case5.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case51.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case52.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case53.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case54.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case6.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase6')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase6">
                            <img src="{% static 'img/case6.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case61.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case62.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case63.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case64.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next d-none"></div>
                <div class="swiper-button-prev d-none"></div>
                <div class="swiper-pagination "></div>
                <div class="overlays-background"></div>
            </div>
        </div>
    </section>
    <!-- faq section -->
    <section class="faq-section zirconia-faq">
        <div class="container  position-relative">
          <img src="{% static 'img/line.svg' %}" class="img-fluid vector1" />
          <h2 class="product-section-title mb-4">Frequently Asked Questions</h2>
          <img src="{% static 'img/line.svg' %}" class="img-fluid vector2" />
          <div class="row">
            <div class="col-md-12 p-0 m-0">
              <div class="faq" id="accordion">
                {% for item in faq_data %}
                <div class="card">
                  <div class="card-header" id="faqHeading-{{ forloop.counter }}">
                    <div class="mb-0">
                      <div class="faq-title faq-question collapsed" data-bs-toggle="collapse" data-bs-target="#faqCollapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="faqCollapse-{{ forloop.counter }}">
                        <span class="badge"><div class="test-xs">{{ forloop.counter }}</div></span>
                        <div class="pt-0 pt-sm-2">{{ item.question }}</div>
                        <span class="faq-toggle-icon"></span>
                      </div>
                    </div>
                  </div>
                  <div id="faqCollapse-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="faqHeading-{{ forloop.counter }}" data-bs-parent="#accordion">
                    <div class="card-body">
                      <div class="container">
                        <span class="p3 text-start"><p class="zir-faq-answer">{{ item.answer }}</p></span>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    </section>
</div>
{% endblock body %}
{% block js %}
<script src="https://unpkg.com/aos@next/dist/aos.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" defer></script>

<script>
    AOS.init({
        offset: 10,
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var swiper = new Swiper(".swiper-one", {
            slidesPerView: 1,
            spaceBetween: 4,
            pagination: {
                el: ".pagination-one",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                576: { slidesPerView: 1 }, // Small screens (≤576px)
                768: { slidesPerView: 2 }, // Medium screens (≤768px)
                1024: { slidesPerView: 3 }, // Large screens (≥1024px)
            }
        });
    });
</script>
<script>
   var swiper = new Swiper(".swiper-two", {
            slidesPerView: 6,
            spaceBetween: 20,
            loop: true,
            autoplay: {
                delay: 3000, 
                disableOnInteraction: false, 
            },
            pagination: {
                el: ".pagination-two",
                clickable: !0,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                340: {
                    slidesPerView: 1,
                },
                576: {
                    slidesPerView: 1,
                },
                768: {
                    slidesPerView: 2,
                },
                1024: {
                    slidesPerView: 3,
                }
            },
        
           
        });

</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const wrappers = document.querySelectorAll(".image-wrapper");

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    if (entry.target && entry.target.classList) {
                        entry.target.classList.add('in-view');
                    } else {
                        console.warn("entry.target is invalid:", entry.target);
                    }
                }
            });
        }, {
            threshold: 0.5
        });

        wrappers.forEach(wrapper => observer.observe(wrapper));
    });
</script>
<script>
    var swiper1 = new Swiper(".gallery-swiper", {
        slidesPerView: 6,
        spaceBetween: 20,
        speed: 500,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: !0,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            340: {
                slidesPerView: 1,
            },
            576: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 3,
            },
            1200: {
                slidesPerView: 5,
            }
        },
    });

    let activeCase = null;
    function showCaseImage(e) {
        const cases = document.querySelectorAll(".galleryCaseImg-wrapper");
        const images = document.querySelectorAll(".gallery-img");
        const images1 = document.querySelectorAll(".gallery-caseimg");
        const overlay = document.querySelectorAll(".overlays-background");
        const clickhereButton = document.querySelectorAll(".gallery-btn");
        let isDeactivating = activeCase === e;

        cases.forEach((current, index) => {
            let img = images[index];
            let button = clickhereButton[index];

            if (current.id === e) {
                if (isDeactivating) {
                    // Deactivate the case
                    current.classList.add("d-none");
                    current.classList.remove("d-block");
                    img.style.margin = "0px";
                    img.classList.add("d-flex");
                    img.classList.remove("d-none");
                    button.classList.remove("d-none");
                    activeCase = null;
                } else {
                    // Activate the clicked case
                    current.classList.add("d-block");
                    current.classList.remove("d-none");
                    img.classList.add("d-none");
                    img.classList.remove("d-flex");
                    button.classList.add("d-none");
                    activeCase = e;
                    current.scrollTop = current.scrollHeight;
                }
            } else {
                // Hide other cases
                current.classList.add("d-none");
                current.classList.remove("d-block");
                img.classList.add("d-flex");
                img.classList.remove("d-none");
                button.classList.remove("d-none");
            }
        });
        images.forEach((img, index) => {
            let button = clickhereButton[index];
            if (window.innerWidth >= 576) {
                if (activeCase && cases[index].id == activeCase) {
                    img.style.margin = "0px 0px 15px";
                    img.style.width = "100%";
                    img.style.animation = "zoomOut .7s ease forwards";
                } else if (activeCase === null) {
                    img.style.margin = "0px 0px 15px";
                    img.style.width = "100%";
                    img.style.animation = "zoomOut .7s ease forwards"
                } else {
                    img.style.width = "95%";
                    img.style.animation = "zoomIn .7s ease forwards"
                }
            }

        })
        clickhereButton.forEach((button, index) => {
            if (window.innerWidth >= 576) {
                if (activeCase && cases[index].id == activeCase) {
                    button.style.left="50%";
                    button.style.padding="10px 20px";
                    button.style.minWidth="180px";
                    button.style.bottom="25px"; 
                } else if (activeCase === null) {
                    button.style.left="50%";
                    button.style.padding="10px 20px";
                    button.style.minWidth="180px";
                    button.style.bottom="25px"; 
                } else {
                    button.style.left="48%";
                    button.style.padding="6px 20px";
                    button.style.minWidth="160px";
                    button.style.bottom="35px";  
                }
            }
        })
    }

    // Click anywhere outside to deactivate the case
    window.addEventListener("click", function () {
        if (activeCase) {
            const cases = document.querySelectorAll(".galleryCaseImg-wrapper");
            const images = document.querySelectorAll(".gallery-img");
            const clickhereButton = document.querySelectorAll(".gallery-btn");

            cases.forEach(current => {
                current.classList.add("d-none");
                current.classList.remove("d-block");
                
            });
            images.forEach((img,index) => {
                img.classList.add("d-flex");
                img.classList.remove("d-none");
                img.style.margin = "0px 0px 20px";
                img.style.width = "100%";
                img.style.animation = "zoomOut .7s ease forwards"
            });
            clickhereButton.forEach((button, index) => {
                button.classList.remove("d-none");
                button.style.left="50%";
                button.style.padding="10px 20px";
                button.style.minWidth="180px";
                button.style.bottom="30px"; 
            })
            // Reset all images to padding 0px
            activeCase = null;
        }
    });

    // Prevent window click from triggering when clicking on a case
    document.querySelectorAll(".swiper-slide").forEach((slide) => {
        slide.addEventListener("click", function (event) {
            event.stopPropagation(); // Prevent window click from executing
        });
    });
</script>
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "cards",
        grabCursor: true,
        initialSlide: 2,
    });
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://advancedentalexport.com/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Advance Zirconia",
          "item": "https://advancedentalexport.com/zirconia-crown/"
        }
      ]
    }

</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "Zirconia Prosthetics for Dental Restoration",
      "provider": {
        "@type": "Organization",
        "name": "Advance Dental Export",
        "url": "https://advancedentalexport.com/"
      },
      "areaServed": {
        "@type": "Country",
        "name": "India"
      },
      "description": "Advance Dental Export is one of the best dental labs in India and a trusted dental prosthetics manufacturer, custom dental solutions for global clients since 2009."
    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "url": "https://advancedentalexport.com/zirconia-crown/",
      "name": "Advance Zirconia | Crowns, Bridges, Implants",
      "description": "Discover the benefits, types, and pricing of Advance Zirconia in dental prosthetics. We provide durable, aesthetic Zirconia crowns, bridges, implants, and dental prosthetics, ideal for natural-looking, long-lasting tooth restoration.",
      "datePublished": "2022-11-09T10:00:00+05:30"
    }
</script>
{% endblock  %}