{% extends 'base.html' %}
{% load static %}

{% block seo%}
<title>What Is Advance Zirconia Crown? Benefits, Types and Price</title>
<meta name="description" content="Discover the benefits, types, and pricing of advanced zirconia crowns, a durable and aesthetic solution for restoring damaged teeth with natural-looking results."/>
<link rel="canonical" href="https://advancedentalexport.com/zirconia-crown/"/>
{% endblock seo %}

{% block header %}
{% endblock header %}

{% block css %}
<link href="{% static 'css/banner.css' %}" rel="stylesheet" />
<link
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
  rel="stylesheet"
/>
{% endblock css %}

{% block body %}
<div style="background-color: white; z-index:2; ">
    <!-- Main Content -->
    <!-- <div id="container">
        <video src="https://ace-dental.s3.ap-south-1.amazonaws.com/Advance+Dental+Export+Milling+2.webm"
            playsinline="true" webkit-playsinline="true" preload="auto" muted="muted" class="video-background"></video>
    </div>
    <div id="video-spacer"></div> -->
    <!-- hero section -->
    <section class="hero-section1 zirconia-hero-section position-relative mx-auto p-0 overflow-hidden d-block ">
        <div class="swiper-wrapper">
            <div class="swiper-slide zirconia-slider-wrapper">
                <div class="container banner-2 position-relative">
                    <img src="{% static 'banner-2/banner-31.png' %}" alt="zir-logo" class="zir-logo1" />
                    <img src="{% static 'banner-2/Group281.webp' %}" alt="ele-pic1" class="ele-pic2" />
                    <img src="{% static 'banner-2/letter-1.webp' %}" alt="let-pic" class="let-pic1" />
                    {% comment %} <button class="btn btn-read-more1"><a href="/zir-icon/">Discover More <i class="fa-solid fa-arrow-right ms-1"></i></a></button> {% endcomment %}
                </div>
                <div class="larger-ele position-relative">
                    <img src="{% static 'banner-2/image27.webp' %}" alt="grass-pic" class="grass-pic1" />
                </div>
                <div class="optional1">
                    <img src="{% static 'banner-2/banner-32.webp' %}" alt="slide2-optional" class="slide2-optional1" />
                </div>
                </div>
            </div>
        </div>
    </section>

    <!-- what is zirconia -->
    <section class="zirconia-second">
        <div class="container position-relative">
            <div class="row g-4 justify-content-center align-items-center">
                <div class="col-10 col-lg-6">
                    <h1 class="zirfirst-headS ">What Is Advance Zirconia Crown?</h1>
                    <div class="zirfirst-text">
                        <p> A zirconia crown is a popular dental restoration option known for its strength, durability,
                            and aesthetic appeal. Zirconia, meaning a crystalline form of zirconium, is a material that
                            is widely used in dentistry due to its natural appearance and resistance to wear. A zirconia
                            crown is made of zirconium, a metal that is both biocompatible and highly durable, making it
                            ideal for restoring teeth. </p>
                        <p>Zirconium dental crowns are often chosen for their ability to blend seamlessly with natural
                            teeth, offering an excellent solution for both front and back teeth. The result is zirconia
                            teeth that not only look great but also provide long-lasting protection and functionality.
                            Whether you're looking for an aesthetic restoration or a durable solution, a zirconia crown
                            is a reliable choice for anyone in need of dental restoration.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="zirfirstgroup">
                        <img src="{% static 'zirfirstgroup.png' %}" class="position-relative groupImage" loading="lazy"
                            alt="Smile Step Group 1" />
                        <!-- <img src="{% static 'zir-txt.png' %}" class="zirconia-text1" loading="lazy"
                            alt="Smile Step Group 1" /> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% comment %} <div class="radient-amile-card ">
        <p class="radient-amile-card-subhead">Presentation</p>
        <div class="radient-amile-card-head">present The Treatment</div>
        <div class="image-wrapper">
            <div class="overlay slice-1"></div>
            <div class="overlay slice-2"></div>
            <div class="overlay slice-3"></div>
            <div class="overlay slice-4"></div>
            <div class="overlay slice-5"></div>
            <img src="{% static '01crown.png' %}" class="animated-image" loading="lazy" alt="Smile Step Group 1" />
        </div>
    </div> {% endcomment %}

    <!-- radial smile -->
    <section class="radial_smile">
        <div class="container position-relative">
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-2">
            <h2 class="zirconia-wrapper-title pt-2 pt-sm-4 pb-xl-2">The Path To Radiant Smile</h2>
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-1">
            <div class="row g-4 webviewofprocess justify-content-center mb-5">
                <div class="col-12 col-md-6 col-lg-5 d-flex left-column flex-column align-items-center justify-content-center">
                    <div class="bigcont"></div>
                    {% for card in cards %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="radient-amile-card ">
                        <p class="radient-amile-card-subhead">{{ card.title }}</p>
                        <div class="radient-amile-card-head">{{ card.subtitle }}</div>
                        <div class="image-wrapper d-flex  align-items-end justify-content-end">
                            <div class="overlay slice-1"></div>
                            <div class="overlay slice-2"></div>
                            <div class="overlay slice-3"></div>
                            <div class="overlay slice-4"></div>
                            <div class="overlay slice-5"></div>
                            <img src="{% static card.image %}" class="animated-image" loading="lazy"
                                alt="Smile Step Group 1" />
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-12 col-md-6 col-lg-5 right-column d-flex flex-column">
                    {% for card in cards %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <div class="radient-amile-card1 ">
                        <p class="radient-amile-card-subhead">{{ card.title }}</p>
                        <div class="radient-amile-card-head">{{ card.subtitle }}</div>
                        <div class="image-wrapper d-flex  align-items-start justify-content-start">
                            <div class="overlay slice-1"></div>
                            <div class="overlay slice-2"></div>
                            <div class="overlay slice-3"></div>
                            <div class="overlay slice-4"></div>
                            <div class="overlay slice-5"></div>
                            <img src="{% static card.image %}" class="animated-image" loading="lazy"
                                alt="Smile Step Group 1" />
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row g-4 mobileviewofprocess">
                <div class="col-12 col-md-6 col-lg-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="bigcont"></div>
                    {% for card in cards %}
                    <div class="radient-amile-card-m ">
                        <p class="radient-amile-card-subhead">{{ card.title }}</p>
                        <div class="radient-amile-card-head">{{ card.subtitle }}</div>
                        <div class="image-wrapper d-flex  align-items-center justify-content-center">
                            <div class="overlay slice-1"></div>
                            <div class="overlay slice-2"></div>
                            <div class="overlay slice-3"></div>
                            <div class="overlay slice-4"></div>
                            <div class="overlay slice-5"></div>
                            <img src="{% static card.image %}" class="animated-image" loading="lazy"
                                alt="Smile Step Group 1" />
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Type Of Zirconia Crown -->
    {% comment %} <hr /> {% endcomment %}
    <section class="typeOfZirconia position-relative">
        <div class="container">
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-2">
            <h2 class="zirconia-wrapper-title pt-md-4 pt-sm-4 pt-5 pb-0">Type Of Zirconia</h2>
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-1">
            <div class="swiper-button-next d-block d-sm-none"></div>
            <div class="swiper-button-prev d-block d-sm-none"></div>
        </div>
      
            <div class="webviewoftype">
                <div class="main_process_card">
                        <div class="container item-left d-flex align-items-start inner_process_card">
                            <img src="{% static '01.svg' %}" class="img-fluid px-2 numbersvg" loading="lazy" alt="Smile Step Group 1" data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                            <div>
                                <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" style="color: #1B8976">Crown/Monolithic</h3>
                                <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" data-aos-delay="250" style="color: #000" class="pb-3">
                                        Monolithic zirconia is a single-piece, durable dental material known for its strength, aesthetics, and longevity.
                                        It's often used for crowns and bridges, offering a smooth, translucent, and natural-looking finish that mimics real teeth.
                                </p>
                            </div>
                        </div>
                        <img src="{% static 'img/01crown.webp' %}" class="img-fluid side-img" loading="lazy"   alt="Smile Step Group 1" />
                </div>
                <div class="main_process_card">
                    <div class="container item-left d-flex align-items-start inner_process_card">
                        <img src="{% static '02.svg' %}" class="img-fluid px-2 numbersvg" loading="lazy" alt="Smile Step Group 1"
                            data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                        <div>
                            <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                style="color: #1B8976">Multilayered</h3>
                            <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                data-aos-delay="250" style="color: #000" class="pb-3">
                                Multilayered zirconia is a dental material with varying translucency, designed to mimic natural tooth structure. It combines strength, durability, and excellent aesthetics, making it the preferred choice for advanced zirconia implants due to its lifelike appearance.
                            </p>
                        </div>
                    </div>
                    <img src="{% static 'img/Multilayered.webp' %}" class="img-fluid side-img" loading="lazy"
                        alt="Smile Step Group 2" />
                </div>
                <div class="main_process_card">
                    <div class="container item-left d-flex align-items-start inner_process_card">
                        <img src="{% static '03.svg' %}" class="img-fluid px-2 numbersvg" loading="lazy" alt="Smile Step Group 1"
                            data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                        <div>
                            <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                style="color: #1B8976">Implant</h3>
                            <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                data-aos-delay="250" style="color: #000" class="pb-3">
                                Zirconia implants are advanced ceramic dental implants made from zirconium dioxide, offering exceptional strength and a natural, tooth-like appearance. They blend seamlessly with the surrounding teeth and can last 20-25 years with proper care.
                            </p>
                        </div>
                    </div>
                    <img src="{% static 'img/Implant31.webp' %}" class="img-fluid side-img" loading="lazy"
                        alt="Smile Step Group 3" />
                </div>
                <div class="main_process_card">
                    <div class="container item-left d-flex align-items-start inner_process_card">
                        <img src="{% static '04.svg' %}" class="img-fluid px-2 numbersvg" loading="lazy" alt="Smile Step Group 1"
                            data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                        <div>
                            <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                style="color: #1B8976">Emaxlayered</h3>
                            <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                data-aos-delay="250" style="color: #000" class="mb-1">
                                EMax layered zirconia is an advanced dental material that combines the strength of zirconia with the natural beauty of porcelain. It offers outstanding durability, lifelike aesthetics, and excellent wear resistance. Choose eMax layered zirconia for visible teeth or high-stress areas where both beauty and strength are essential.
                            </p>
                        </div>
                    </div>
                    <img src="{% static 'img/Emaxlayered.webp' %}" class="img-fluid side-img" loading="lazy"
                        alt="Smile Step Group 4" />
                </div>
                <!-- <div class="main_process_card">
                    <div class="container item-left d-flex align-items-start inner_process_card">
                        <img src="{% static '05.svg' %}" class="img-fluid px-2 numbersvg" loading="lazy" alt="Smile Step Group 1"
                            data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500" />
                        <div>
                            <h3 data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                style="color: #1B8976">Monolithic</h3>
                            <p data-aos="fade-up-left" data-aos-anchor-placement="right-bottom" data-aos-duration="1500"
                                data-aos-delay="250" style="color: #000" class="pb-4">
                                Monolithic zirconia is a single-piece, durable dental material known for its strength, aesthetics, and longevity. It's often used for crowns and bridges, offering a smooth, translucent, and natural-looking finish that mimics real teeth.
                            </p>
                        </div>
                    </div>
                    <img src="{% static 'img/Monolithic.webp' %}" class="img-fluid side-img" loading="lazy"
                        alt="Smile Step Group 5" />
                </div> -->

            </div>
            <div class="outerslider mobileviewofType">
                <div class="swiper-container swiper-one">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-start pb-0 p-3" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex ">
                                    <img src="{% static '01.svg' %}" class="img-fluid numbersvgmobile" loading="lazy"
                                        alt="Smile Step Group 1" />
                                    <div class="mobileviewofType-content">
                                        <h3 style="color: #1B8976" class="pl-2">Crown/Monolithic</h3>
                                        <p style="color: #000;" >
                                            Monolithic zirconia is a single-piece, durable dental material known for its strength, aesthetics, and longevity.
                                            It's often used for crowns and bridges, offering a smooth, translucent, and natural-looking finish that mimics real teeth.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/01mobileSize.webp' %}" class="img-fluid side-img-mobile" loading="lazy"
                                    alt="Smile Step Group 1" />
                            </div>
                        </div>
                        <div class="swiper-slide text-start p-3" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex">
                                    <img src="{% static '02.svg' %}" class="img-fluid numbersvgmobile" loading="lazy"
                                        alt="Smile Step Group 1" />
                                    <div class="pl-5 mobileviewofType-content" style="padding-left: 8px">
                                        <h3 style="color: #1B8976">Multilayered</h3>
                                        <p style="color: #000" >
                                        Multilayered zirconia is a dental material with varying translucency, designed to mimic natural tooth structure. It combines strength, durability, and excellent aesthetics, making it the preferred choice for advanced zirconia implants due to its lifelike appearance.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/Multilayered-M.webp' %}" class="img-fluid side-img-mobile" loading="lazy"
                                    alt="Smile Step Group 1" />
                            </div>
                        </div>

                        <div class="swiper-slide text-start text-start p-3" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex">
                                    <img src="{% static '03.svg' %}" class="img-fluid numbersvgmobile" loading="lazy"
                                        alt="Smile Step Group 1" />
                                    <div class="pl-5 mobileviewofType-content" style="padding-left: 8px">
                                        <h3 style="color: #1B8976">Implant</h3>
                                        <p style="color: #000" >
                                            Zirconia implants are advanced ceramic dental implants made from zirconium dioxide, offering exceptional strength and a natural, tooth-like appearance. They blend seamlessly with the surrounding teeth and can last 20-25 years with proper care.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/Implant-M.webp' %}" class="img-fluid side-img-mobile" loading="lazy"
                                    alt="Smile Step Group 1" />
                            </div>
                        </div>
                        <div class="swiper-slide text-start p-3" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex">
                                    <img src="{% static '04.svg' %}" class="img-fluid numbersvgmobile" loading="lazy"
                                        alt="Smile Step Group 1" />
                                    <div class="pl-5 mobileviewofType-content" style="padding-left: 8px">
                                        <h3 style="color: #1B8976">Emaxlayered</h3>
                                        <p style="color: #000" >
                                            EMax layered zirconia is an advanced dental material that combines the strength of zirconia with the natural beauty of porcelain. It offers outstanding durability, lifelike aesthetics, and excellent wear resistance. Choose eMax layered zirconia for visible teeth or high-stress areas where both beauty and strength are essential.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/Emaxlayered-M.webp' %}" class="img-fluid side-img-mobile" loading="lazy"
                                    alt="Smile Step Group 1" />
                            </div>
                        </div>
                        {% comment %} <div class="swiper-slide text-start p-4" style="background-color: #edf6f4;">
                            <div class=" item-left d-flex align-items-center flex-column mobile_innerproess_Card">
                                <div class="d-flex">
                                    <img src="{% static '05.svg' %}" class="img-fluid numbersvgmobile" loading="lazy"
                                        alt="Smile Step Group 1" />
                                    <div class="pl-5" style="padding-left: 8px">
                                        <h3 style="color: #1B8976">Monolithic</h3>
                                        <p style="color: #000">
                                            Monolithic zirconia is a single-piece, durable dental material known for its strength, aesthetics, and longevity. It's often used for crowns and bridges, offering a smooth, translucent, and natural-looking finish that mimics real teeth.
                                        </p>
                                    </div>
                                </div>
                                <img src="{% static 'img/05mobileSize.webp' %}" class="img-fluid side-img-mobile" loading="lazy"
                                    alt="Smile Step Group 1" />
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
                <!-- Pagination outside -->
                <div class="custom-pagination pagination-one"></div>
            </div>
    </section>
    {% comment %} <hr /> {% endcomment %}
    <!-- Why Zirconia Crown -->
    <section class="zirconia-wrapper">
        <div class="container position-relative">
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-2">
            <h2 class="zirconia-wrapper-title  pt-4 pb-3 pb-sm-4">Why Advance Zirconia?</h2>
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-1">
            <div class="zirconia-content-wrapper">
                <div class="zirconia-content-item _1">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-12"><span>01</span></div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <h2>Strength And Durability</h2>
                        </div>
                        <div class="col-12 col-lg-7 col-md-7 col-sm-12">
                            <p>
                                Advance Zirconia is an exceptionally strong and durable material,
                                making it ideal for a wide range of dental restorations. With its
                                high flexural strength and resilience, it is able to withstand the
                                natural forces of chewing and grinding, significantly reducing the
                                risk of fractures or chipping over time. This material offers a
                                dependable solution for patients in need of long-lasting dental
                                restorations that can endure the daily stresses placed on teeth.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="zirconia-content-item _2">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-12"><span>02</span></div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <h2>Biocompatibility and Versatility</h2>
                        </div>
                        <div class="col-12 col-lg-7 col-md-7 col-sm-12">
                            <p>
                                In addition to its strength, Advance Zirconia is biocompatible and
                                tissue-friendly, ensuring that it prevents irritation or adverse
                                reactions during and after dental procedures. This contributes to
                                the overall comfort and safety of the patient throughout their
                                treatment. The material's versatility makes it suitable for a
                                variety of dental applications, including crowns, bridges, inlays,
                                onlays, and implant abutments, offering reliable solutions for
                                diverse dental needs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="zirconia-content-item _3">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-12"><span>03</span></div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <h2>Precision and Long-Term Success</h2>
                        </div>
                        <div class="col-12 col-lg-7 col-md-7 col-sm-12">
                            <p>
                                Advance Zirconia is known for its excellent marginal fit, which helps minimize the
                                chances of bacterial leakage and secondary decay. The material’s stability and precision
                                contribute to the long-term success of the restorations. Its combination of strength,
                                aesthetic appeal, and adaptability provides dentists with a dependable, durable, and
                                aesthetically pleasing material that enhances patient outcomes and ensures the delivery
                                of high-quality dental care.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Benefits of the zirconia -->
    <section class="BenefitOfZirconia">
        <div class="container position-relative">
            <div class="col-12 text-center">
                <!-- <div class="zirfirst-headS"></div> -->
                <img src="{% static 'img/line.svg' %}" class="img-fluid line-2">
                    <h2 class="zirconia-wrapper-title pt-3 pb-2">Benefits of advance zirconia</h2>
                <img src="{% static 'img/line.svg' %}" class="img-fluid line-1">
                <div class="zirfirst-text benefittxt">
                    Zirconia crowns offer the ideal blend of strength, aesthetics, and biocompatibility in modern
                    dentistry. Made from zirconium dioxide, they are highly durable, resisting chipping and breaking,
                    making them perfect for both front and back teeth. Their natural translucency and color ensure a
                    seamless, lifelike appearance, while their metal-free composition minimizes allergies, gum
                    irritation, and discoloration. With advanced technology and long-lasting performance, zirconia
                    crowns provide both function and beauty for years to come.
                </div>
            </div>
            <div class="swiper swiper-two">
                <div class="swiper-wrapper">
                    {% for ie in Benefit %}
                     <div class="swiper-slide benslide">
                        <div class="freebennum">{{ie.id}}</div>
                        <img src="{% static 'img/'|add:ie.imgUrl %}" class="img-fluid benicons" loading="lazy"
                            alt="Smile Step Group 1" />
                        <div class="benhead">
                            {{ie.title}}
                        </div>
                        <p class="bantext">{{ie.description}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="custom-pagination pagination-two"></div>
        </div>
    </section>

    <!-- >Testimonials -->
    <section class="testimonial-wrapper zirconia-wrapper mb-5">
        <div class="container position-relative text-center">
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-2t">
            <h2 class="zirconia-wrapper-title mb-3 mb-sm-4">Testimonials</h2>
            <img src="{% static 'img/line.svg' %}" class="img-fluid line-1t">

            <p class="testinomial-subtitle mb-4">
                Read what our satisfied patients have to say about their exceptional experiences at Advance Dental
                Export.
                Our dedicated team provides top-notch care, ensuring comfort and satisfaction at every visit.
            </p>
            <div class="swiper pt-3 mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.png' %}" alt="Avatar" class="testimonial-avatar" />
                        <h5 class="testimonial-name">Dr. Shefali Phogat</h5>
                        <p class="testimonial-text">
                            It’s always a great experience to work in collaboration with Advance dental lab. We have done multiple cases of Full mouth rehabilitation with zirconia & Emax. They do excellent work with utmost precision. Their team is highly efficient and easy to reach. Keep up the good work.
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.png' %}" alt="Avatar" class="testimonial-avatar" />
                        <h5 class="testimonial-name">Dr. Skpatel</h5>
                        <p class="testimonial-text">
                            Excellent work especially for zirconia & e-max veneers.
                            A lot of perfection depends on lab & we have been very satisfied .perfect shade selection,perfect margin,perfect occlusion,timely delivery & no complaints from patient.
                            Thanks ,advance lab& keep going .
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.png' %}" alt="Avatar" class="testimonial-avatar" />
                        <h5 class="testimonial-name">Dr. Jay Patel</h5>
                        <p class="testimonial-text">
                            As a specialist prosthodontist, working very closely with Advanced Dental Export makes me extremely delighted to deliver dream smile design projects to our elite clients.Their quality of dental prosthesis is par international standards along with FDA approved materials.Technical aspects like crown margins, contact areas, occlusion, implant prosthetics,final denture processing are achieved and executed with utter precision and updated innovation.ADE has a professional and technical team dedicated to quality services and exact needs of the doctors,that is very unique virtue reflects in their team members.
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.png' %}" alt="Avatar" class="testimonial-avatar" />
                        <h5 class="testimonial-name">Dr. Ankita</h5>
                        <p class="testimonial-text">
                            I had the pleasure of working with Advance Dental Lab for over 8 years. It is such a joy to have a lab that can provide helpful and successful alternative options for extremely difficult cases and export level quality . Ultimate smile Designing is best. Support Digital dentistry . They have skilled technicians to provide Fast work. Ultimate smile designer .
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-card">
                        <img src="{% static 'img/avtar.png' %}" alt="Avatar" class="testimonial-avatar" />
                        <h5 class="testimonial-name">Dr. Jugal Sherdiwala</h5>
                        <p class="testimonial-text">
                            I have been sending my work to Advanced Lab since their inception. Their work is extraordinary along with quick service. I have worked with many labs but I always faced problems either with communication, not getting work on time or work satisfaction. I have never faced such issues with Advanced Lab. Their work is impeccable. If there is someone out there making life of a dentist easy- It’s them.
                        </p>
                        <div class="testimonial-stars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gallery section -->
    <section class="Gallery-section">
        <div class="container p-0">
            <div class="row gallery-wrapper position-relative justify-content-center">
                <div class="col-11 col-md-6 col-lg-4 px-1 ">
                    <p>Step into our Advanced Zirconia Gallery, where precision meets innovation. Explore a stunning
                        collection of zirconia designs, showcasing superior craftsmanship, durability, and elegance.
                        Discover the future of Advance Zirconia.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="gallery-bg-text">Zirconia</div>
                    <h2>Gallery</h2>
                </div>
            </div>
            <div class="swiper gallery-swiper">
                <div class="swiper-wrapper mb-4">
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case1.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase1')">
                                <span>Click here </span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase1">
                            <img src="{% static 'img/case1.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case12.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case15.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case13.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case14.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case2.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase2')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase2">
                            <img src="{% static 'img/case2.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case21.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case22.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case23.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case24.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div> 
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case3.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase3')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase3">
                            <img src="{% static 'img/case3.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case31.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case32.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case33.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case34.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                        <img src="{% static 'img/case4.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase4')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase4">
                            <img src="{% static 'img/case4.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case41.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case42.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case43.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case44.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case5.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase5')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase5">
                            <img src="{% static 'img/case5.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case51.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case52.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case53.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case54.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-container">
                            <img src="{% static 'img/case6.webp'%}" class="gallery-img img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <button class="gallery-btn" onclick="showCaseImage('galleryCase6')">
                                <span>Click here</span>
                                <img src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-icon" />
                            </button>
                        </div>
                        <div class="galleryCaseImg-wrapper d-none" id="galleryCase6">
                            <img src="{% static 'img/case6.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case61.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case62.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case63.webp'%}" class="gallery-caseimg mb-3 img-fluid" alt="gallery-img" width="100%" height="100%" />
                            <img src="{% static 'img/case64.webp'%}" class="gallery-caseimg img-fluid" alt="gallery-img" width="100%" height="100%" />
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next d-none"></div>
                <div class="swiper-button-prev d-none"></div>
                <div class="swiper-pagination "></div>
                <div class="overlays-background"></div>
            </div>
        </div>
    </section>
</div>
{% endblock body %}

{% block js %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    AOS.init({
        offset: 10,
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var swiper = new Swiper(".swiper-one", {
            slidesPerView: 1,
            spaceBetween: 4,
            pagination: {
                el: ".pagination-one",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                576: { slidesPerView: 1 }, // Small screens (≤576px)
                768: { slidesPerView: 2 }, // Medium screens (≤768px)
                1024: { slidesPerView: 3 }, // Large screens (≥1024px)
            }
        });
    });

</script>

<script>
   var swiper = new Swiper(".swiper-two", {
            slidesPerView: 6,
            spaceBetween: 20,
            loop: true,
            pagination: {
                el: ".pagination-two",
                clickable: !0,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                340: {
                    slidesPerView: 1,
                },
                576: {
                    slidesPerView: 1,
                },
                768: {
                    slidesPerView: 2,
                },
                1024: {
                    slidesPerView: 3,
                }
            },
        
           
        });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function () {
        console.clear();

        const video = document.querySelector(".video-background");
        // console.log(video, src);

        /* Ensure video is activated on iOS */
        function once(el, event, fn, opts) {
            var onceFn = function (e) {
                el.removeEventListener(event, onceFn);
                fn.apply(this, arguments);
            };
            el.addEventListener(event, onceFn, opts);
            return onceFn;
        }

        once(document.documentElement, "touchstart", function (e) {
            video.play();
            video.pause();
        });

        /* Scroll Control */
        gsap.registerPlugin(ScrollTrigger);

        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: "#container",
                start: "top top",
                end: "bottom bottom",
                scrub: 10,
                onUpdate: (self) => {
                    if (video.readyState >= 2) {
                        requestAnimationFrame(() => {
                            video.currentTime = video.duration * self.progress;
                        });
                    }
                    const fadeOutOpacity = gsap.utils.mapRange(0.95, 1, 1, 0, self.progress);
                    gsap.to(video, {
                        opacity: fadeOutOpacity,
                        duration: 0.2,
                        ease: "none"
                    });
                }
            }
        });

        once(video, "loadedmetadata", () => {
            tl.fromTo(
                video,
                { currentTime: 0 },
                { currentTime: video.duration || 1 }
            );
        });

        video.addEventListener("loadedmetadata", function () {
            console.log("Metadata loaded. Duration:", video.duration);
        });

        video.addEventListener("timeupdate", function () {
            console.log("Current Time:", video.currentTime, "Duration:", video.duration);
        });
        video.addEventListener("ended", function () {
            console.log("video ended.");
        });

        /* Reset video when scrolling back up */
        ScrollTrigger.create({
            trigger: "#container",
            start: "top 80%",
            onEnterBack: () => {
                console.log("Scrolled back to video section, resetting video.");
                video.currentTime = 0;
                gsap.to(video, { opacity: 1, duration: 0.3 });
            }
        });
    });
</script> {% endcomment %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const wrappers = document.querySelectorAll(".image-wrapper");

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    if (entry.target && entry.target.classList) {
                        entry.target.classList.add('in-view');
                    } else {
                        console.warn("entry.target is invalid:", entry.target);
                    }
                }
            });
        }, {
            threshold: 0.5
        });

        wrappers.forEach(wrapper => observer.observe(wrapper));
    });
</script>

<script>
    var swiper1 = new Swiper(".gallery-swiper", {
        slidesPerView: 6,
        spaceBetween: 20,
        speed: 500,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: !0,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            340: {
                slidesPerView: 1,
            },
            576: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 3,
            },
            1200: {
                slidesPerView: 5,
            }
        },
    });

    let activeCase = null;
    function showCaseImage(e) {
        const cases = document.querySelectorAll(".galleryCaseImg-wrapper");
        const images = document.querySelectorAll(".gallery-img");
        const images1 = document.querySelectorAll(".gallery-caseimg");
        const overlay = document.querySelectorAll(".overlays-background");
        let isDeactivating = activeCase === e;

        cases.forEach((current, index) => {
            let img = images[index];
         
            if (current.id === e) {
                if (isDeactivating) {
                    // Deactivate the case
                    current.classList.add("d-none");
                    current.classList.remove("d-block");
                    img.style.margin = "0px";
                    img.classList.add("d-flex");
                    img.classList.remove("d-none");
                    activeCase = null;
                } else {
                    // Activate the clicked case
                    current.classList.add("d-block");
                    current.classList.remove("d-none");
                    img.classList.add("d-none");
                    img.classList.remove("d-flex");
                    activeCase = e;
                    current.scrollTop = current.scrollHeight;
                }
            } else {
                // Hide other cases
                current.classList.add("d-none");
                current.classList.remove("d-block");
                img.classList.add("d-flex");
                img.classList.remove("d-none");
            }
        });
        images.forEach((img, index) => {
            if (window.innerWidth >= 576) {
                if (activeCase && cases[index].id == activeCase) {
                    img.style.margin = "0px 0px 20px";
                    img.style.width = "100%";
                    img.style.animation = "zoomOut .7s ease forwards"
                } else if (activeCase === null) {
                    img.style.margin = "0px 0px 20px";
                    img.style.width = "100%";
                    img.style.animation = "zoomOut .7s ease forwards"
                } else {
                    img.style.width = "95%";
                    img.style.animation = "zoomIn .7s ease forwards"
                }
            }

        })
    }

    // Click anywhere outside to deactivate the case
    window.addEventListener("click", function () {
        if (activeCase) {
            const cases = document.querySelectorAll(".galleryCaseImg-wrapper");
            const images = document.querySelectorAll(".gallery-img");
            cases.forEach(current => {
                current.classList.add("d-none");
                current.classList.remove("d-block");
            });
            images.forEach(img => {
                img.classList.add("d-flex");
                img.classList.remove("d-none");
                img.style.margin = "0px 0px 20px";
                img.style.width = "100%";
                img.style.animation = "zoomOut .7s ease forwards"
            });
            // Reset all images to padding 0px
            activeCase = null;
        }
    });

    // Prevent window click from triggering when clicking on a case
    document.querySelectorAll(".swiper-slide").forEach((slide) => {
        slide.addEventListener("click", function (event) {
            event.stopPropagation(); // Prevent window click from executing
        });
    });
</script>

<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "cards",
        grabCursor: true,
        initialSlide: 2,
    });
</script>
{% endblock  %}