
.team-section{
    padding: 60px 0;
    position: relative;
}
.team-section::after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 350px;
    background: url("/static/images/team-bg.webp")no-repeat top;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
    opacity: 0.7;
}

.team-section-id {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.team-section-title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.4px;
    max-width: 60%;
    display: block;
    margin: 0 auto;
    z-index: 10;
}
.team-card {
    position: relative;
    z-index: 2;
}

.team-frame {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.team-img {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    display: block;
}

.team-frame img{
    width: 100%;
    height: 100%;
    transition: transform 400ms ease-in-out;
}

.team-frame:hover img {
    transform: scale(1.1);
}

.team-frame::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 0%;
    left: 50%;
    top: 60%;
    background-color: rgb(255 255 255 / 0.7);
    transform: translate(-50%, -50%) rotate(-360deg);
    z-index: 3;
}
.team-frame:hover::after {
    height: 100%;
    transition: all 0.5s linear;
    background-color: #fff0
}

/* Meta-text */
.team-meta {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}
.team-name {
    font-weight: 700;
    font-size: 16px;
    color: #1b8967;
    margin-bottom: 5px;
}

.team-role {
    font-size: 12px;
    color: #777;
}

.team-position {
    font-size: 12px;
    color: #444;
    text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .team-section-title{
    font-size: 26px;
  }
  .team-img {
    width: 90% !important;
    height: 90% !important;
  }
}
@media (max-width: 768.98px){
    .team-section-title{
        font-size: 22px;
        max-width: 80%;
        letter-spacing: 1px;
    }
    .team-section::after {
        height: 450px;
    }
}
@media (max-width: 575.98px){
    .team-section-id{
        font-size: 16px;
    }
    .team-section-title{
        font-size: 20px;
        max-width: 100%;
        letter-spacing: 0.8px;
    }
    .team-meta {
        margin-top: 5px;
    }
    .team-name{
        font-size: 14px;
    }
}