.TypeofImplants{
    padding: 40px 0px 50px;
}
.TypeofImplants .product-section-title{
    font-size: 30px;
    color: #1B8976;
    width: 100%;
    text-align: center;
}
.TypeofImplants .vector1{
    position: absolute;
    top: 0.7%;
    left: 1%;
}
.TypeofImplants .vector2{
    position: absolute;
    top: 0.7%;
    right: 1%;
}
.TypeWrapper{
    border-top:1px solid #1B8976;
    border-bottom:1px solid #1B8976;
    position:relative;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.type-product_left-block{
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.type-product_right-block{
    overflow: hidden;
}
.type-product_img{
    object-fit: cover;
    /* border-radius: .5rem; */
    width: 30rem;
    height: 20rem;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.Type-content h3{
    color: #1B8976;
}

@media(max-width:1200px){
    .TypeofImplants .product-section-title{
        font-size: 28px;
    }
    .TypeofImplants .vector1{
        width:32%;
    }
    .TypeofImplants .vector2{
        width:32%;
    }
    .Type-content h3{
        font-size: 25px;
    }
}
@media(max-width:991px){
    .TypeofImplants{
        margin: 50px 0px;
    }
    .TypeofImplants .product-section-title{
        font-size: 25px;
    }
    .TypeofImplants .vector1,.TypeofImplants .vector2{
        width:30%;
    }
    .Type-content h3{
        font-size: 22px;
    }
}
@media(max-width:768px){
    .TypeWrapper{
        flex-direction: column;
        /* grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns:none;
        grid-auto-columns:none;
        grid-column-gap: 0px;
        grid-row-gap: 0px; */
    }
    .TypeofImplants .product-section-title{
        font-size: 20px;
    }
    .TypeofImplants .vector1, .TypeofImplants .vector2{
        width:28%;
        top:0.4%;
    }
    
    /* .TypeofImplants .vector2{
        top:0.4%;
    } */
    .type-product_left-block{
        padding: 20px 0px 10px;
    }
    .Type-content h3{
        font-size:20px
    }
    .Type-content p{
        margin-bottom: 0px;
    }
}
@media(max-width:576px){
    .TypeofImplants .product-section-title{
        font-size: 18px;
        text-align: left;
    }
    .TypeofImplants .vector1{
        display: none;
    }
    .TypeofImplants .vector2{
        width:33%;
        top: 0.35%;
        right:10.5%;
    }
    .TypeofImplants .container{
        --bs-gutter-x: 6rem;
    }
    .type-product_img{
        height: 100%;
    }
    .Type-content h3{
        font-size:18px
    }
}
/* @media(max-width:420px){
    .TypeofImplants .vector1, .TypeofImplants .vector2{
        width:24%;
        top: 0.5%;
    }
} */
/* .Type-content{
    width:50%;
} */
/* .TypeWrapper img{
    position: relative;
} */
/* .Type-img-wrapper{
    width:357px;
    height: 192px;
}
.Type-img-wrapper:hover{
    animation: zoomLeft 1.5s ease-in-out 0.1s forwards;
} */

/* .reveal-img{
    width:28%;
    object-fit: cover;
    height: 200px;
} */
/* .reveal-img:hover{
    animation: zoomLeft 1.5s ease-in-out  forwards,animateScale 1s ease-in-out forwards;
    animation-delay: 0s, 1s;  
} */
/* .Type-img-wrapper{
    width:45%;
    height: 220px;
    
} */
/* .Type-img-wrapper:has(.Type-img-wrapper img:hover) {
    animation:zoomRight 1.5s ease-in-out forwards;
} */
/* @keyframes zoomRight{
    0%{
        height: 220px;
    }
    100%{
        height: 100%;
    }
} */
/* .Type-img-wrapper img{
    width:60%;
} */
/* .Type-img-wrapper img:hover{
    animation: zoomLeft 1.5s ease-in-out  forwards , animateScale 1s ease-in-out forwards;
    animation-delay: 0s, 1s; 
} */
/* @keyframes zoomLeft{
    0%{
        width:28%;
        height: 200px;
    }
    100%{
        width:35%;
        height: 200px;
    }
} */
/* @keyframes zoomLeft{
    0%{
        width:60%;
    }
    100%{
        width:100%;
        height: 100%;
    }
} */
/* @keyframes animateScale{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.04);
    }
} */

