body.no-scroll {
    overflow: hidden !important;
}

.award-sectionnew {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.award-sectionnew::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/hello.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}

/* .award-sectionnew::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 157px;
    background: url('../img/image_border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    rotate: 180deg;
    z-index: 1;
} */

.AwardSwiper {
    overflow: hidden;
    cursor: grab;
    margin-left: 99px;

}

.AwardSwiper::before {
    content: "";
    width: 127px;
    height: 100%;
    position: absolute;
    background: url('../img/image_border.png');
    top: 0;
    left: -1px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 11;
}

.AwardSwiper::after {
    content: "";
    width: 157px;
    height: 100%;
    position: absolute;
    background: url('../img/image_border.png');
    top: 0;
    right: -1px;
    rotate: 180deg;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 11;
}

.AwardSwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    height: auto;
    width: 38%;

}

.AwardSwiper .swiper-slide:first-child {
    margin-left: 10px !important;
}

.award-sectionnew h2 {
    background: linear-gradient(92.19deg, #1B8976 -56.21%, #00D5FF 184.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
    font-weight: 700;
    display: inline-block;
}

.card {
    border: none;
}

.card-body {
    padding: 0px !important;
}

.AwardSwiper .swiper-slide .card {
    padding: 20px;
    /* border-radius: 14px; */
    position: relative;
    z-index: 1;
    color: #000000;
    width: 100%;
    height: 100%;
    background: linear-gradient(92.19deg, rgba(27, 137, 118, 0.05) -56.21%, rgba(0, 213, 255, 0.05) 184.49%);
    text-align: start !important;
}

.AwardSwiper .swiper-slide .card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    /* border-radius: 16px; */
    background: linear-gradient(92.19deg,
            rgba(27, 137, 118, 0.5) -56.21%,
            rgba(0, 213, 255, 0.5) 184.49%);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.AwardSwiper .swiper-slide .card-body {
    padding-top: 20px;
}

.AwardSwiper .swiper-slide .card-body h3 {
    font-size: 22px;
    background: linear-gradient(92.19deg,
            #1B8976 -56.21%,
            #00D5FF 184.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* optional but recommended */
    display: inline-block;
    margin-top: 10px;
    text-align: left;
}

.AwardSwiper .swiper-slide .card-body .card-text {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-top: 10px;
    margin-bottom: 0px;
    text-align: start;
}

.award-custom-icon {
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    margin-top: 10px;
    object-fit: contain !important;
}

.AwardSwiper {
    z-index: 99 !important;
}

.AwardSwiper .swiper-wrapper {
    gap: 30px;
}

@media(max-width:1922px) {

    .award-sectionnew h2 {
        font-size: 65px;
    }

    .AwardSwiper .swiper-slide {
        width: 38%;
    }
}

@media(max-width:1200px) {

    .AwardSwiper .swiper-slide {
        width: 45%;
    }

    .award-sectionnew h2 {
        font-size: 40px;

    }

    .AwardSwiper {
        overflow: hidden;
        cursor: grab;
        margin-left: 50px;
    }

}

@media(max-width:991px) {
    .award-sectionnew {
        height: 98dvh;
    }

    .AwardSwiper .swiper-slide {
        width: 50%;
        margin-right: 15px !important;
    }

    .AwardSwiper .swiper-slide .card-body .card-text {
        font-size: 16px;
    }

    .award-sectionnew h2 {

        line-height: 1.6;
        font-size: 35px;
    }

    .AwardSwiper {
        overflow: hidden;
        cursor: grab;
        margin-left: 25px;
    }

    .AwardSwiper .swiper-wrapper {
        gap: 5px;
    }

    .AwardSwiper::before {
        transform: translate(0px, 0px)
    }

}

@media(max-width:822px) {
    .text-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        /* transform: translateY(-150px); */
        transform: translateY(-50%);
    }

    .layout-section {
        flex-direction: column !important;
    }

    .card-section {
        width: 100% !important;
    }

    .award-sectionnew h2 {
        line-height: 1.5;
        font-size: 50px;
        text-align: center;
    }

}



@media(max-width:768px) {

    .text-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        transform: translateY(-30%);
    }

    .award-sectionnew h2 {
        font-size: 40px;
        margin-bottom: 100px;
        text-align: center;

    }

    .AwardSwiper .swiper-slide .card-body .card-text {
        font-size: 14px;
    }

}

@media(max-width:576px) {
    .AwardSwiper::before {
        width: 40px;
    }

    .AwardSwiper::after {
        width: 40px;
    }

    .AwardSwiper .swiper-slide:first-child {
        margin-left: 10px !important;
    }

    .AwardSwiper .swiper-slide {
        width: 50%;
        margin-left: 5px !important;
        margin-right: 20px !important;
    }

    .award-sectionnew h2 {
        font-size: 32px;
        letter-spacing: 0.6px;
        margin-bottom: 30px;
        font-weight: 900;
    }

    .text-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        transform: translateY(-45%);
    }

    .AwardSwiper .swiper-wrapper {
        gap: 0px;
    }

}

@media(max-width:480px) {
    .AwardSwiper .swiper-slide {
        width: 80%;
        margin-left: 5px !important;
        margin-right: 20px !important;
    }

    .AwardSwiper {
        overflow: hidden;
        cursor: grab;
        margin-left: 0px;
    }
}


/* review */

.new-testimonial-section {
    margin-top: 50px;
    background-image: url('../img/vector4.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 20px !important;
    margin-bottom: 50px;
    padding-top: 150px !important;

}

.myswiper {
    width: 100%;
    max-width: 100%;
    padding: 20px 0px;
    overflow: visible !important;
}

.text-header-subtitle {
    font-size: 40px;
    background: linear-gradient(92.19deg,
            #1B8976 -56.21%,
            #00D5FF 184.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    width: auto;
    margin-top: 30px;
}

/* Avatars */
.review-users {
    display: flex;
}

.review-users img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -10px;
}

.review-users img:first-child {
    margin-left: 0;
    z-index: 3;

}

/* Second image */
.review-users img:nth-child(2) {
    z-index: 2;
}

/* Third image (BOTTOM) */
.review-users img:nth-child(3) {
    z-index: 1;
}

/* Content */
.review-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


/* Top Row */
.rating-row {
    display: flex;
    align-items: center;

}

.rating-number {
    font-weight: 600;
    font-size: 20px;
}

/* Stars */
.review-stars {
    color: #f5c518;
    font-size: 14px;
}

/* Bottom text */
.review-content p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.add-review-btn {
    padding: 7px 10px;
    border: 1.5px solid rgba(27, 137, 118, 1);
    border-radius: 8px;
    color: #000;
    font-weight: 500
}

.add-review-btn:hover,
.add-review-btn:focus {
    border: 1.5px solid rgba(27, 137, 118, 1);
}

.myswiper .swiper-wrapper {
    display: flex;
}

/* Center pagination */
.swiper-container .swiper-pagination {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

/* Default bullets */
.swiper-container .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background: #cfecec;
    opacity: 1;
    transition: all 0.3s ease;
}

/* Active bullet (teal color like image) */
.swiper-container .swiper-pagination-bullet-active {
    background: linear-gradient(92.19deg,
            #1B8976 -56.21%,
            #00D5FF 184.49%) !important;
    width: 20px !important;
}

.testimonial-slide {
    background-color: transparent;
    align-items: center;
    text-align: left;
    border-radius: 0px;
    padding: 20px;
    transform: scale(0.9) !important;
}

.testimonial-slide .card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    padding: 25px 20px 25px;
    text-align: center;
    border-radius: 20px;
    height: auto;
    border: 1px solid rgba(27, 137, 118, 1);
}

.myswiper .swiper-slide.testimonial-slide .card {
    animation: smallBig2 2s ease-in-out forwards;
}

.myswiper .swiper-slide-prev.testimonial-slide .card {
    z-index: 2;
    animation: smallBig 2s ease-in-out forwards;
}

.myswiper .swiper-slide-active.testimonial-slide .card {
    animation: smallBig1 2s ease-in-out forwards;
}

.border-frame {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 32.5%;
    height: 97%;
    z-index: 9999;
    border-radius: 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    background-image: url("../img/border-frame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    pointer-events: none;
}

/* Modal CSS */
.review-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
}

.review-modal-content {
    background-color: #ffffff;
    padding: 35px 25px;
    border-radius: 16px;
    width: 600px;
    position: relative;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    animation: modalScaleIn 0.3s ease-out;
}

@keyframes modalScaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.review-modal-close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.review-modal-close:hover,
.review-modal-close:focus {
    color: #11a6a9;
    text-decoration: none;
}

#reviewModalText {
    font-size: 17px;
    line-height: 1.5;
    color: #444;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.3px;
    background: transparent !important;
    -webkit-text-fill-color: #444 !important;
    margin-top: 26px;
}

@keyframes smallBig {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

@keyframes smallBig1 {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.15);
    }
}

@keyframes smallBig2 {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.9);
    }
}

.Client_image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Client_image img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewName {
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 10px;
}

.city_name {
    font-size: 16px;
    font-weight: 400;
    color: rgba(37, 37, 37, 1);
    margin-bottom: 0px;
}

.fancy_border {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #D9D9D9 12%, #000000 50%, #FFFFFF 87.5%);
    margin: 0px auto;
}

.reviewContent {
    position: relative;
    color: #484848;
    font-weight: 500;
    font-size: 15px;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
    height: auto;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.read-more {
    font-weight: 600;
    cursor: pointer !important;
    color: #040404;
}

.google_icon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.google_icon img {
    width: 140px;
    height: 68px;
    object-fit: cover;
}

.myswiper .swiper-slide-active .reviewContent {
    height: auto;
    line-height: 1.75;
    margin-top: 15px;
}

.testimonial_subcontent {
    text-align: center !important;
    width: 64%;
    font-size: 20px;
    font-weight: 500;
}

.stars {
    position: relative;
    margin-bottom: 15px;
    font-size: 20px;
    background: linear-gradient(92.19deg, #1B8976 -56.21%, #00D5FF 184.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1550px) {
    .new-testimonial-section {
        background-size: cover !important;
        background-image: url(../img/review_bg_border.png);
    }

}

@media (max-width: 1300px) {
    .new-testimonial-section {
        background-size: cover !important;
        background-image: url(../img/review_bg_border.png);
    }

    .border-frame {
        width: 29.5%;
        height: 89%;
        top: 0%;
    }

    @keyframes smallBig {
        0% {
            transform: scale(1.05);
        }

        100% {
            transform: scale(0.95);
        }
    }

    @keyframes smallBig1 {
        0% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(1.08);
        }
    }

    @keyframes smallBig2 {
        0% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.95);
        }
    }
}


@media (max-width: 1200px) {
    .new-testimonial-section {
        padding-top: 50px !important;
        background-size: cover !important;
        background-image: url(../img/review_bg_border.png);
    }

    @keyframes smallBig {
        0% {
            transform: scale(1.05);
        }

        100% {
            transform: scale(0.95);
        }
    }

    @keyframes smallBig1 {
        0% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(1.08);
        }
    }

    @keyframes smallBig2 {
        0% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.95);
        }
    }

    .border-frame {
        width: 31.5%;
        height: 89.5%;
        top: 1.8%;
    }

    .testimonial-slide {
        padding: 20px 10px 10px;
    }

    .testimonial-slide .card {
        padding: 10px 12px 10px;
    }

    .reviewContent {
        height: auto !important;
    }

    .myswiper .swiper-slide-active .reviewContent {
        height: 305px;
    }

    .stars {
        margin-bottom: 8px;
    }

    .reviewName {
        font-size: 20px;
        margin-bottom: 0.5rem;
    }

    .google_icon img {
        width: 112px;
        height: 50px;
        object-fit: cover;
    }
}

@media (max-width: 1025px) {

    .new-testimonial-section {
        background-size: cover !important;
        background-image: url(../img/review_bg_border.png);
    }

    .testimonial-slide {
        padding: 20px 15px 60px;
    }

    .reviewContent {
        font-size: 12px;
        height: auto !important;
    }

    .myswiper .swiper-slide-active .reviewContent {
        height: 220px;
    }

    .border-frame {
        width: 48%;
        height: 81%;
        top: -7%;
        z-index: 9999;
        padding-top: 20px;
    }

    .text-header-subtitle {
        font-size: 36px;
        background: linear-gradient(92.19deg, #1B8976 -56.21%, #00D5FF 184.49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .testimonial_subcontent {
        text-align: center !important;
        width: 64%;
        font-size: 19px;
        font-weight: 500;
        margin-top: 25px !important;
    }

    .google_icon img {
        width: 112px;
        height: 50px;
        object-fit: cover;
    }
}

@media (max-width: 991px) {
    .testimonial_subcontent {
        width: 80%;
    }

    .reviewContent {
        font-size: 13px;
        height: 190px;
    }

    .border-frame {
        width: 45.6%;
        z-index: 999;
    }

    .new-testimonial-section {
        padding-bottom: 0px !important;
        background-image: url(../img/review_bg_border.png);
    }

    .swiper-container .swiper-pagination {
        position: relative;
        margin-top: 20px;
        text-align: center;
        margin-top: -31px !important;
    }
}

@media (max-width: 767px) {
    .testimonial_subcontent {
        width: 100% !important;
        font-size: 16px;
        padding: 0px 20px;
    }

    .text-header-subtitle {
        font-size: 28px;
        background: linear-gradient(92.19deg, #1B8976 -56.21%, #00D5FF 184.49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .reviewName {
        font-size: 18px;
        letter-spacing: 0.5px;
        text-align: center !important;
        margin-bottom: 0px;
    }

    .city_name {
        text-align: center !important;
    }

    .testimonial-slide .card {
        padding: 10px 15px;
    }

    .border-frame {
        width: 67.5%;
        height: 80%;
        top: -6.5%;
    }

    .myswiper .swiper-slide-active .reviewContent {
        line-height: 1.50;
        margin-top: 15px;
        font-size: 15px;
    }

    .swiper-slide-prev {
        visibility: hidden;
    }



    @keyframes smallBig {
        0% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.95);
        }
    }

    @keyframes smallBig2 {
        0% {
            transform: scale(0.7);
        }

        100% {
            transform: scale(0.8);
        }
    }

    .new-testimonial-section {
        padding: 25px 0px 20px !important;
        background-image: url(../img/review_bg_border.png);
    }
}

@media (max-width: 576px) {
    .new-testimonial-section {

        background-image: url(../img/review_bg_border.png);
    }

    .testimonial-slide {
        padding: 20px 15px 10px;
    }

    .testimonial-slide .card {
        padding: 12px 12px;
    }

    .testimonial-vector-img {
        top: 50%;
    }

    .testimonial_subcontent {
        font-size: 14px;
    }

    .reviewContent {
        height: 300px;
        font-size: 14px;
    }

    .add-review-btn {
        border-radius: 8px
    }

    .myswiper .swiper-slide-active .reviewContent {
        height: 290px;
    }

    .border-frame {
        width: 98%;
        height: 89%;
        top: 1.5%;
    }

    .myswiper {
        width: 72%;
    }

    .swiper-slide-prev {
        visibility: visible;
    }

    .new-testimonial-section .swiper-container {
        margin-top: 25px !important;
    }

    #reviewModalText {
        font-size: 14px;
        line-height: 1.5;
        color: #444;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: left;
        font-weight: 500;
        letter-spacing: 0.3px;
        background: transparent !important;
        -webkit-text-fill-color: #444 !important;
        margin-top: 26px;
    }

    .swiper-container .swiper-pagination {
        position: relative;
        margin-top: 20px;
        text-align: center;
        margin-top: 0px !important;
    }
}

@media (max-width: 480px) {
    .myswiper {
        width: 78%;
    }

    .border-frame {
        width: 98%;
        height: 89%;
    }

    .text-header-subtitle {
        padding: 0px 20px;
    }

    .new-testimonial-section {
        margin-top: 0px !important;
        background-image: url(../img/review_bg_border.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0px;
    }

    .new-testimonial-section .swiper-container {
        margin-top: 0px !important;
    }

    .review-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        border-radius: 10px;
        margin-top: 30px;
    }

    /* Avatars */
    .review-users {
        display: flex;
    }

    .review-users img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: -10px;
    }

    .review-users img:first-child {
        margin-left: 0;
        z-index: 3;

    }

    /* Second image */
    .review-users img:nth-child(2) {
        z-index: 2;
    }

    /* Third image (BOTTOM) */
    .review-users img:nth-child(3) {
        z-index: 1;
    }

    /* Content */
    .review-content {
        display: flex;
        flex-direction: column;
    }


    /* Top Row */
    .rating-row {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .rating-number {
        font-weight: 600;
        font-size: 15px;
    }

    .review-stars {
        margin-bottom: 3px;
    }

    .review-content p {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
    }

    .add-review-btn {
        padding: 7px 8px;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
    }
}

@media (max-width: 386px) {
    .text-header-subtitle {
        font-size: 24px;
        background: linear-gradient(92.19deg, #1B8976 -56.21%, #00D5FF 184.49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .myswiper {
        width: 100%;
    }
}

@media (max-width: 357px) {
    .review-content p {
        font-size: 12px;
    }

    .rating-number {
        font-weight: 600;
        font-size: 12px;
    }

    .review-stars {
        color: #f5c518;
        font-size: 12px;
    }

    .review-users img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: -10px;
    }

}