.hero-section1 {
  height: 600px;
}
.hero-section1 .swiper {
  width: 100%;
  /* border-bottom: 2px solid #000; */
  height: 100%;
}
.hero-section1 .swiper-button-next, .hero-section1 .swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 50%) !important;
}
.hero-section1 .swiper-button-next::after,
.hero-section1 .swiper-button-prev::after{
  font-size: 30px;
}
/* !---------------- banner 1 css ------------- ! */
.hero-section1 .swiper-wrapper .banner-1-wrap {
  background: #000;
}
#background-video {
  background: #000 !important;
  opacity: 0.5;
  height: 100%;
  position: relative;
  object-fit: cover;
  pointer-events: none !important;
}
.banner1-img {
  position: absolute;
  top: 41%;
  left: 6%;
}
.banner1-img img {
  width: 91%;
}
.texts {
  position: absolute;
  top: 19.8%;
  border-radius: 20px;
  padding: 15px;
}
.hero-section1 .h1s {
  font-size: 45px !important;
  font-weight: 700 !important;
}
.hero-section1 .h2s {
  color: rgba(17, 171, 147, 1) !important;
}
/* banner 2 css */
.zir-logo1 {
  position: absolute;
  width: 140px !important;
  right: 5%;
  top: 65px !important;
}
.ele-pic2 {
  position: absolute;
  height: 480px !important;
  width: 450px !important;
  right: 13%;
  top: 33px !important;
}
.let-pic1 {
  position: absolute;
  width: 470px !important;
  left: 5%;
  top: 80px !important;
}
.btn-read-more1 {
  position: absolute;
  z-index: 5;
  top: 330px !important;
  left: 5%;
  background-color: #1d907c !important;
  padding: 4px 6px !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  transition: all .5s ease-in-out;
}
.btn-read-more1:hover,
.btn-read-more1:focus {
  background-color: #fff !important;
  border: 2px solid #1d907c !important;
  transform: scale(0.9);
}
.btn-read-more1 a {
  color: #fff;
  transition: all .7s ease-in-out;
}
.btn-read-more1:hover a,
.btn-read-more1:focus a {
  color: #1d907c;
  transform: scale(0.9);
}
.btn-read-more1 i {
  padding: 10px 10px 9px 10px;
  background-color: #fff;
  color: #1d907c;
  transform: rotate(-45deg);
  border-radius: 50%;
  transition: all .7s ease-in-out;
}
.btn-read-more1:hover i,
.btn-read-more1:focus i {
  background-color: #1d907c;
  color: #fff;
  transform: scale(0.9);
}
.grass-pic1 {
  position: absolute;
  top: 335px;
  z-index: 1;
}
.optional1 {
  width: 0% !important;
}
.slide2-optional1{
  display: none;
}

/* slider animation */
.hero-section1 .swiper-slide-active .ele-pic2{
  animation: fadeInUp 2s ease forwards;
  transition-delay: 0.6s;
}
.hero-section1 .swiper-slide-active .zir-logo1 {
  animation: fadeInRight 3s ease forwards;
  transition-delay: 0.6s;
}
.hero-section1 .swiper-slide-active .let-pic1{
  animation: fadeInLeft 2s ease forwards;
  transition-delay: 0.6s;
}
.hero-section1 .swiper-slide-active .btn-read-more1{
  animation: fadeInLeft 3s ease forwards;
  transition-delay: 0.8s;
}
.hero-section1 .swiper-slide-active .texts {
  animation: ZoomIn 1.5s ease;
}
@keyframes ZoomIn{
  from {
    opacity: 0;
    transform: scale(.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
/* responsive css  */
@media screen and (min-width: 2800px) {
  .hero-section1 {
    height: 600px;
  }
  .hero-section1 .swiper{
    width:37% !important;
  }
}
@media screen and (min-width: 2400px) and (max-width: 2800px) {
  .hero-section1 {
    height: 620px;
  }
  .hero-section1 .swiper{
    width:75% !important;
  }
  /* banner 1 */
  .banner1-img {
    top: 45%;
    left: 13%;
  }
  .banner1-img img {
    width: 66.5%;
  }
  .texts {
    top: 34%;
  }
  /* banner 2 */
  .ele-pic2 {
    height: 500px !important;
    width: 500px !important;
  }
  .let-pic1 {
    top: 95px !important;
    left: 2%;
  }
  .grass-pic1 {
    height: 100%;
  }
  .btn-read-more1 {
    top: 340px !important;
    left: 2%;
  }
}
@media screen and (min-width:2100px) and (max-width:2400px){
  .hero-section1{
    height: 600px;
  }
  .hero-section1 .swiper{
    width:74% !important;
  }
  /* banner 2 */
  .ele-pic2{
    top:32px !important
  }
}
@media screen and (min-width: 1800px) and (max-width: 2000px) {
  /* banner 1  */
  .banner1-img {
    top: 33%;
    left: 13%;
  }
  .banner1-img img {
    width: 78%;
  }
  .texts {
    top: 28%;
  }
  /* banner 2 */
  .ele-pic2 {
    top: 38px !important;
    width: 500px !important;
    height: 520px !important;
  }
  .let-pic1 {
    left: 5%;
    top: 120px !important;
  }
  .grass-pic1 {
    top: 350px;
  }
  .btn-read-more1 {
    top: 360px !important;
  }
}
@media screen and (min-width: 1650px) and (max-width: 1800px) {
  /* banner 1 */
  .banner1-img {
    left: 9%;
  }
  .banner1-img img {
    width: 83%;
  }
  .texts {
    top: 32.8%;
  }
  /* banner 2 */
  .ele-pic2 {
    top: 43px !important;
    width: 470px !important;
    height: 520px !important;
  }
  .grass-pic1 {
    top: 360px;
  }
  .let-pic1 {
    top: 120px !important;
    left: 5%;
  }
  .btn-read-more1 {
    top: 360px !important;
  }
}
@media screen and (min-width: 1439px) and (max-width: 1649px) {
  /* banner 1 */
  .banner1-img img {
    width: 74%;
  }
  /* banner 2  */
  .ele-pic2 {
    top: 12px !important;
    width: 362px !important;
    right: 19%;
  }
  .grass-pic1 {
    top: 300px;
  }
  .let-pic1 {
    width: 430px !important;
    top: 82px !important;
  }
  .btn-read-more1 {
    top: 300px !important;
    left: 5%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1649px) {
  .hero-section1 {
    height: 500px;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1440px) {
  /* banner 1 */
  .banner1-img img {
    width: 84%;
  }
  /* banner 2 */
  .zir-logo1 {
    width: 100px !important;
    right: 11%;
  }
  .ele-pic2 {
    width: 400px !important;
    top: 8px !important;
    right: 19%;
  }
  .let-pic1 {
    width: 400px !important;
    top: 85px !important;
    left: 11%;
  }
  .btn-read-more1 {
    top: 282px !important;
    left: 11%;
    padding: 4px 6px !important;
  }
  .grass-pic1 {
    top: 300px;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .hero-section1 {
    height: 530px;
  }
  /* banner 2 */
  .zir-logo1 {
    width: 11% !important;
    right: 6%;
  }
  .ele-pic2 {
    width: 38% !important;
    height: 484px !important;
    top: 75px !important;
    right: 15%;
  }
  .let-pic1 {
    width: 35% !important;
    left: 8%;
    top: 130px !important;
  }
  .btn-read-more1 {
    top: 330px !important;
    left: 8.5%;
  }
  .grass-pic1 {
    top: 360px;
  }
  .slide2-optional1{
    display: none;
  }
}

/* max width responsive css */
@media (max-width: 1200px) {
  .hero-section1 {
    height: 550px;
  }
  /* banner 1 */
  .banner1-img {
    top: 51.5%;
  }
  .banner1-img img {
    width: 90%;
  }
  .texts{
    top:28%;
    padding: 0px;
  }
  .hero-section1 .h1s {
    font-size: 40px !important;
  }
  .hero-section1 .h2s {
    font-size: 45px !important;
  }
  /* banner 2 */
  .zir-logo1 {
    right: 4%;
    width: 130px !important;
  }
  .ele-pic2 {
    width: 360px !important;
    height: 400px !important;
    top: 78px !important;
    right: 13%;
  }
  .let-pic1 {
    width: 365px !important;
    left: 8%;
    top: 100px !important;
  }
  .grass-pic1 {
    top: 330px;
  }
  .btn-read-more1 {
    top: 280px !important;
    left: 8%;
  }
}
@media (max-width: 1024px) {
  /* banner 1 */
  .banner1-img {
    top: 56.5%;
  }
}
@media (max-width: 991px) {
  .hero-section1 {
    height: 620px;
  }
  /* banner 1 */
  .banner1-img {
    top: 59.5%;
  }
  .banner1-img img {
    width: 80%;
  }
  .texts {
    top:45%;
  }
  .hero-section1 .h1s,
  .hero-section1 .h2s {
    text-align: center;
    font-size: 35px !important;
  }
  /* banner 2 css */
  .zir-logo1 {
    right: -10%;
    width: 130px !important;
    height: 75px;
    top: 20px !important;
  }
  .ele-pic2 {
    top: 85px !important;
    right: 0%;
    width: 370px !important;
    height: 420px !important;
  }
  .grass-pic1 {
    top: 348px;
  }
  .let-pic1 {
    left: -4%;
    height: auto;
  }
  .btn-read-more1 {
    top: 300px !important;
    left: -3%;
    padding: 5px 8px !important;
    font-size: 12px !important;
  }
  .btn-read-more1 i {
    padding: 8px 8px 7px 8px;
  }
}
@media (max-width: 900px) {
  .hero-section1 {
    height: 570px;
  }
  /* banner 1 */
  .banner1-img {
    top: 59.5%;
  }
  /* banner 2 */
  .zir-logo1 {
    right: -2%;
    width: 130px !important;
    height: 65px;
    top: 30px !important;
  }
  .ele-pic2 {
    width: 340px !important;
    height: 370px !important;
    top: 88px !important;
    right: 7%;
  }
  .let-pic1 {
    left: 6%;
    width: 300px !important;
    top: 110px !important;
  }
  .grass-pic1 {
    top: 328px;
  }
  .btn-read-more1 {
    top: 270px !important;
    left: 6%;
    padding: 3px 5px !important;
  }
}
@media (max-width: 768px) {
  .hero-section1 {
    height: auto;
  }
  .hero-section1 .swiper-button-next, .hero-section1 .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 53%) !important;
  }
  .hero-section1 .swiper-wrapper .swiper-slide:first-child {
    height: auto;
  }
  .hero-section1 .h1s {
    font-size: 35px !important;
  }
  .texts {
    top: 35%;
    padding: 0px !important;
  }
  .optional1 {
    width: 100% !important;
    height: 100%;
  }
  /* banner 1 */
  .banner1-img {
    top: 57%;
  }
  .banner1-img img {
    width: 36%;
  }
}
@media (max-width: 576px) {
  .hero-section1 .h1s {
    font-size: 25px !important;
  }
  .hero-section1 .h1s,
  .hero-section1 .h2s {
    font-size: 20px !important;
  }
  .texts {
    top: 45%;
    animation: none !important;
  }
  .hero-section1 .swiper-slide-active .texts{
    animation: none !important;
  }
  /* banner 1 */
  .banner1-img {
    top: 60%;
    left: 1%;
  }
  .banner1-img img {
    width: 38%;
    animation: none !important;
  }
}
