.hero-section1 {
  height: 650px;
}
.hero-section1 .swiper {
  width: 100%;
  border-bottom: 2px solid #000;
  height: 100%;
}
.hero-section1 .swiper-button-next,
.hero-section1 .swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 50%) !important;
}
.hero-section1 .swiper-button-next::after,
.hero-section1 .swiper-button-prev::after {
  font-size: 30px;
}
/* !---------------- banner 1 css ------------- ! */
.hero-section1 .swiper-wrapper .banner-1-wrap {
  background: #000;
}
#background-video {
  background: #000 !important;
  opacity: 0.5;
  height: 100%;
  position: relative;
  object-fit: cover;
  pointer-events: none !important;
}
#player{
  background: #000 !important;
  opacity: 0.5;
  height: 100%;
  position: relative;
  object-fit:cover;
}
.banner1-img {
  position: absolute;
  top: 41%;
  left: 6%;
}
.banner1-img img {
  width: 91%;
}
.texts {
  position: absolute;
  top: 19.8%;
  border-radius: 20px;
  padding: 15px;
}
.hero-section1 .h1s {
  font-size: 45px !important;
  font-weight: 700 !important;
}
.hero-section1 .h2s {
  color: rgba(17, 171, 147, 1) !important;
}
/* banner 2 css */
.zir-logo1 {
  position: absolute;
  width: 140px !important;
  right: 5%;
  top: 65px !important;
}
.ele-pic2 {
  position: absolute;
  height: 480px !important;
  width: 450px !important;
  right: 13%;
  top: 33px !important;
}
.let-pic1 {
  position: absolute;
  width: 470px !important;
  left: 5%;
  top: 80px !important;
}
.btn-read-more1 {
  position: absolute;
  z-index: 5;
  top: 330px !important;
  left: 5%;
  background-color: #1d907c !important;
  padding: 4px 6px !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  transition: all 0.5s ease-in-out;
}
.btn-read-more1:hover,
.btn-read-more1:focus {
  background-color: #fff !important;
  border: 2px solid #1d907c !important;
  transform: scale(0.9);
}
.btn-read-more1 a {
  color: #fff;
  transition: all 0.7s ease-in-out;
}
.btn-read-more1:hover a,
.btn-read-more1:focus a {
  color: #1d907c;
  transform: scale(0.9);
}
.btn-read-more1 i {
  padding: 10px 10px 9px 10px;
  background-color: #fff;
  color: #1d907c;
  transform: rotate(-45deg);
  border-radius: 50%;
  transition: all 0.7s ease-in-out;
}
.btn-read-more1:hover i,
.btn-read-more1:focus i {
  background-color: #1d907c;
  color: #fff;
  transform: scale(0.9);
}
.grass-pic1 {
  position: absolute;
  top: 335px;
  z-index: 1;
}
.optional1 {
  width: 0% !important;
}
.slide2-optional1 {
  display: none;
}

/* slider animation */
.hero-section1 .swiper-slide-active .ele-pic2 {
  animation: fadeInUp 2s ease forwards;
  transition-delay: 0.6s;
}
.hero-section1 .swiper-slide-active .zir-logo1 {
  animation: fadeInRight 3s ease forwards;
  transition-delay: 0.6s;
}
.hero-section1 .swiper-slide-active .let-pic1 {
  animation: fadeInLeft 2s ease forwards;
  transition-delay: 0.6s;
}
.hero-section1 .swiper-slide-active .btn-read-more1 {
  animation: fadeInLeft 3s ease forwards;
  transition-delay: 0.8s;
}
.hero-section1 .swiper-slide-active .texts {
  animation: ZoomIn 1.5s ease;
}

@keyframes ZoomIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}

/* banner 3 css */
.banner-bg3 {
  aspect-ratio: 3/1.37;
}
.banner-31 .banner-bg4 {
  display: none;
}
.banner3-text {
  position: absolute;
  top: 2.5%;
  width: 25% !important;
  left: 37%;
}
.banner3-product {
  position: absolute;
  top: 18.5%;
  width: 31.5% !important;
  left: 34%;
}
/* .banner3-subtitle{
  font-size: 21px;
  position: absolute;
  top: 19.5%;
  left: 41.5%;
  color: #fff;
  font-weight: bold;
} */
 .banner3-subtitle{
  position: absolute;
  top: 20.5%;
  left: 40.5%;
  width: 18% !important;
 }
/* responsive css  */
.hero-section1 .swiper-slide-active .banner3-text{
  animation: moveBottom 1s ease-in-out;
}
.hero-section1 .swiper-slide-active .banner3-subtitle{
  animation: ZoomIn1 1s ease-in-out;
}
.hero-section1 .swiper-slide-active .banner3-product{
  animation: moveUp 1s ease-in-out forwards;
}
@keyframes moveBottom{
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 
@keyframes ZoomIn1{
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}
/* pagination css */
.hero-section1 .banner-1-wrap .swiper-button-next,
.hero-section1 .swiper-wrapper .swiper-slide:first-child .swiper-button-prev{
  color: #fff !important;
 }
.hero-section1 .swiper-button-next,
.hero-section1 .swiper-button-prev {
  color: rgba(17, 171, 147, 1) !important;
  font-weight: 900;
}
.hero-section1 .swiper-button-next{
  right: var(--swiper-navigation-sides-offset, 40px) !important;
}
.hero-section1 .swiper-button-prev{
  left: var(--swiper-navigation-sides-offset, 40px) !important;
}
.hero-section1  video::-webkit-media-controls-timeline{
  display: none !important;
}
.hero-section1 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: var(--swiper-pagination-bottom, 50px) !important;
}
@media screen and (min-width: 2800px) {
  .hero-section1 {
    height: 600px;
  }
  .hero-section1 .swiper {
    width: 37% !important;
  }
}
@media screen and (min-width: 2400px) and (max-width: 2800px) {
  .hero-section1 {
    height: 720px;
  }
  .banner-31 .banner-bg3 {
    aspect-ratio: 3 / 1.2;
  }
  .hero-section1 .swiper {
    width: 75% !important;
  }
  /* banner 1 */
  .banner1-img {
    top: 50.7%;
    left: 13%;
  }
  .banner1-img img {
    width: 66.5%;
  }
  .texts {
    top: 34%;
  }
  /* banner 2 */
  .ele-pic2 {
    height: 500px !important;
    width: 500px !important;
  }
  .let-pic1 {
    top: 95px !important;
    left: 2%;
  }
  .grass-pic1 {
    height: 100%;
  }
  .btn-read-more1 {
    top: 340px !important;
    left: 2%;
  }
  /* banner 3 */
  .banner3-text{
    left: 39%;
    width: 19.5% !important;
  }
  .banner3-subtitle{
    top: 20%;
    left: 41.5%;
    width: 15% !important;
  }
  .banner3-product{
    top: 19%;
    width: 29% !important;
    left: 35.5%;
  }
}
@media screen and (min-width: 2100px) and (max-width: 2400px) {
  .hero-section1 {
    height: 600px;
  }
  .hero-section1 .swiper {
    width: 74% !important;
  }
  /* banner 2 */
  .ele-pic2 {
    top: 32px !important;
  }
}
@media screen and (min-width: 1800px) and (max-width: 2000px) {
  .hero-section1 {
    height: 750px;
  }
  /* banner 1  */
  .banner1-img {
    top: 45%;
    left: 10%;
  }
  .banner1-img img {
    width: 78%;
  }
  .texts {
    top: 28%;
  }
  /* banner 2 */
  .zir-logo1{
    width: 180px !important;
    right: 1%;
  }
  .ele-pic2 {
    top: 55px !important;
    width: 520px !important;
    height: 600px !important;
  }
  .let-pic1 {
    left: 2%;
    top: 120px !important;
  }
  .grass-pic1 {
    top: 410px;
  }
  .btn-read-more1 {
    top: 360px !important;
    left:2%;
  }
  /* banner 3 */
  .banner-31 .banner-bg3 {
    aspect-ratio: 3 / 1.25;
  }
  .banner3-text{
    left: 39%;
    width: 21.5% !important;
  }
  .banner3-subtitle{
    top: 20%;
    left: 42%;
    width: 16% !important;
  }
  .banner3-product{
    top: 21%;
    width: 28.5% !important;
    left: 35.5%;
  }
}
@media screen and (min-width: 1650px) and (max-width: 1800px) {
  .hero-section1 {
    height: 665px;
  }
  /* banner 1 */
  .banner1-img {
    left: 9%;
  }
  .banner1-img img {
    width: 83%;
    aspect-ratio:auto ;
  }
  .texts {
    top: 32.8%;
  }
  /* banner 2 */
  .ele-pic2 {
    top: 43px !important;
    width: 470px !important;
    height: 520px !important;
  }
  .grass-pic1 {
    top: 360px;
  }
  .let-pic1 {
    top: 120px !important;
    left: 5%;
  }
  .btn-read-more1 {
    top: 360px !important;
  }
  /* banner 3 */
  .banner-31 .banner-bg3 {
    aspect-ratio: 3 / 1.25;
  }
  .banner3-text{
    left: 39%;
    width: 22% !important;
  }
  .banner3-subtitle{
    top: 20%;
    left: 42%;
    width: 16% !important;
  }
  .banner3-product{
    top: 21%;
    width: 28.5% !important;
    left: 35%;
  }
}
@media screen and (min-width: 1439px) and (max-width: 1649px) {
  .hero-section1 {
    height: 665px;
  }
  /* banner 1 */
  .banner1-img{
    top:45%;
  }
  .banner1-img img {
    width: 74%;
    aspect-ratio: 4 / 3.7;
  }
  /* banner 2  */
  .ele-pic2 {
    top: 12px !important;
    width: 362px !important;
    right: 19%;
  }
  .grass-pic1 {
    top: 300px;
  }
  .let-pic1 {
    width: 430px !important;
    top: 82px !important;
  }
  .btn-read-more1 {
    top: 300px !important;
    left: 5%;
  }
  /* banner 3 */
  .banner-31 .banner-bg3 {
    aspect-ratio: 3 / 1.23;
  }
  .banner3-text{
    left: 37.5%;
  }
  .banner3-subtitle{
    top:22.5%;
    left:41%;
  }
  /* .banner3-subtitle{
    top:22%;
    left: 42.5%;
  } */
  .banner3-product{
    top: 21.8%;
    width: 28% !important;
    left: 35.5%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1649px) {
  .hero-section1 {
    height: 590px;
  }
  /* banner 1 */
  .banner1-img{
    top:48.3%
  }
}
@media screen and (min-width: 1300px) and (max-width: 1440px) {
  /* banner 1 */
  .banner1-img img {
    width: 84%;
  }
  /* banner 2 */
  .zir-logo1 {
    width: 100px !important;
    right: 11%;
  }
  .ele-pic2 {
    width: 400px !important;
    top: 8px !important;
    right: 19%;
  }
  .let-pic1 {
    width: 400px !important;
    top: 85px !important;
    left: 11%;
  }
  .btn-read-more1 {
    top: 282px !important;
    left: 11%;
    padding: 4px 6px !important;
  }
  .grass-pic1 {
    top: 300px;
  }
}
@media screen and (min-width:992px){
  .hero-section1 .swiper-slide-active .texts{
    width: 39% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .hero-section1 {
    height: 530px;
  }
  /* banner 2 */
  .zir-logo1 {
    width: 11% !important;
    right: 6%;
  }
  .ele-pic2 {
    width: 38% !important;
    height: 484px !important;
    top: 75px !important;
    right: 15%;
  }
  .let-pic1 {
    width: 35% !important;
    left: 8%;
    top: 130px !important;
  }
  .btn-read-more1 {
    top: 330px !important;
    left: 8.5%;
  }
  .grass-pic1 {
    top: 360px;
  }
  .slide2-optional1 {
    display: none;
  }
}
/* max width responsive css */
@media (max-width: 1200px) {
  .hero-section1 {
    height: 500px;
  }
  /* banner 1 */
  .banner1-img {
    top: 44%;
  }
  .banner1-img img {
    width: 90%;
  }
  .texts {
    top: 28%;
    padding: 0px;
  }
  .hero-section1 .h1s {
    font-size: 40px !important;
  }
  .hero-section1 .h2s {
    font-size: 45px !important;
  }
  /* banner 2 */
  .zir-logo1 {
    right: 4%;
    width: 130px !important;
  }
  .ele-pic2 {
    width: 360px !important;
    height: 400px !important;
    top: 78px !important;
    right: 13%;
  }
  .let-pic1 {
    width: 365px !important;
    left: 8%;
    top: 100px !important;
  }
  .grass-pic1 {
    top: 330px;
  }
  .btn-read-more1 {
    top: 280px !important;
    left: 8%;
  }
  /* banner 3 */
  .banner-31 .banner-bg3 {
    aspect-ratio: 3/1.37;
  }
  /* pagination css */
  .hero-section1 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 60px) !important;
  }
}
@media (max-width: 1100px) {
    /* banner 1 */
    .banner1-img {
      top: 50%;
    }
  /* banner 3 */
  .banner-31 .banner-bg3 {
    aspect-ratio: 3/1.55;
  }
  .banner3-text {
    width: 28% !important;
    left: 36%;
  }
  .banner3-subtitle{
    top:21%;
    /* left: 41.5%; */
    width: 19% !important;
  }
  .banner3-product {
    width: 34% !important;
    left: 33%;
    top: 21%;
  }
}
@media (max-width: 1024px) {
  /* banner 1 */
  .banner1-img {
    top: 51.5%;
  }
}
@media (max-width: 991px) {
  .hero-section1 {
    height: 620px;
  }
  /* banner 1 */
  .banner1-img {
    top: 59.5%;
  }
  .banner1-img img {
    width: 80%;
  }
  .texts {
    top: 45%;
  }
  .plyr{
    height: 100%;
  }
  .hero-section1 .h1s,
  .hero-section1 .h2s {
    text-align: center;
    font-size: 35px !important;
  }
  /* banner 2 css */
  .zir-logo1 {
    right: -10%;
    width: 130px !important;
    height: 75px;
    top: 20px !important;
  }
  .ele-pic2 {
    top: 85px !important;
    right: 0%;
    width: 370px !important;
    height: 420px !important;
  }
  .grass-pic1 {
    top: 348px;
  }
  .let-pic1 {
    left: -4%;
    height: auto;
  }
  .btn-read-more1 {
    top: 300px !important;
    left: -3%;
    padding: 5px 8px !important;
    font-size: 12px !important;
  }
  .btn-read-more1 i {
    padding: 8px 8px 7px 8px;
  }
  /* banner 3 */
  .banner-31 .banner-bg3 {
    aspect-ratio: 3/1.8;
    display:none !important;
  }
  .banner-31 .banner-bg4{
    aspect-ratio: 3/1.7;
    display: block !important;
  }
  .banner3-text {
    width: 32% !important;
    left: 31.5%;
  }
  .banner3-subtitle{
    top:21%;
    left: 36.4%;
    width: 22% !important;
  }
  .banner3-product {
    width: 42% !important;
    left: 28%;
    top: 22.5%;
  }
  /* pagination */
  .hero-section1 .swiper-button-next::after, 
  .hero-section1 .swiper-button-prev::after {
    font-size: 26px;
  }
  .hero-section1 .swiper-button-next{
    right: var(--swiper-navigation-sides-offset, 35px) !important;
  }
  .hero-section1 .swiper-button-prev{
    left: var(--swiper-navigation-sides-offset, 35px) !important;
  }
  .hero-section1 .swiper-pagination-bullet-active {
    background: #fff !important;
    color: #fff !important;
  }
  /* .hero-section1 .swiper-wrapper .swiper-slide {
    height: auto !important;
  } */
  .hero-section1 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 30px) !important;
  }
}
@media (max-width: 900px) {
  .hero-section1 {
    height: 570px;
  }
  /* banner 1 */
  .banner1-img {
    top: 61.5%;
  }
  /* banner 2 */
  .zir-logo1 {
    right: -2%;
    width: 130px !important;
    height: 65px;
    top: 30px !important;
  }
  .ele-pic2 {
    width: 340px !important;
    height: 370px !important;
    top: 88px !important;
    right: 7%;
  }
  .let-pic1 {
    left: 6%;
    width: 300px !important;
    top: 110px !important;
  }
  .grass-pic1 {
    top: 328px;
  }
  .btn-read-more1 {
    top: 270px !important;
    left: 6%;
    padding: 3px 5px !important;
  }
  /* banner 3 */
  .banner-31 .banner-bg3 {
    aspect-ratio: 3 / 1.85;
    margin-top: -4px;
  }
  .banner-31 .banner-bg4 {
    aspect-ratio: 3 / 1.7;
    height: 525px;
    margin-top: -2px;
    display: block;
  }
  /* pagination css */
  .hero-section1 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 18px) !important;
  }
}
@media (max-width: 768px) {
  .hero-section1 {
    height: auto;
  }
  /* pagination css */
  .hero-section1 .swiper-button-next,
  .hero-section1 .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 59%) !important;
  }
  .hero-section1 .swiper-wrapper .swiper-slide,
  .hero-section1 .swiper-wrapper .swiper-slide:first-child {
    height: auto;
  }
  .hero-section1 .swiper-button-next::after, 
  .hero-section1 .swiper-button-prev::after{
    font-size: 24px;
  }
  .hero-section1 .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 25px) !important;
    display:block !important;
  }
  .hero-section1 .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 25px) !important;
  }
  /* banner 1 */
  .banner1-img {
    top: 57%;
  }
  .banner1-img img {
    width: 36%;
  }
  .hero-section1 .h1s {
    font-size: 35px !important;
  }
  .texts {
    top: 35%;
    padding: 0px !important;
  }
  .optional1 {
    width: 100% !important;
    height: 100%;
  }
  /* banner 2 */
  .banner-2 {
    display: none;
  }
  .larger-ele {
    display: none;
  }
  /* banner 3 */
  .banner-31 .banner-bg3 {
    aspect-ratio: 3/1.8;
  }
  .banner-31 .banner-bg4 {
    aspect-ratio: 3 / 1.71;
    height: auto;
    margin-top: -2px;
  }
  .banner3-text {
    width: 33% !important;
    left: 31%;
    top: 3%;
    height: auto !important;
  }
  .banner3-subtitle{
    top:22.5%;
    left: 36.5%;
    width: 22% !important;
    height: auto !important;
  }
  .banner3-product {
    width: 41.5% !important;
    height: auto !important;
    left: 26%;
    top: 23%;
  }
}
@media (max-width: 576px) {
  .hero-section1 .h1s {
    font-size: 25px !important;
  }
  .hero-section1 .h1s,
  .hero-section1 .h2s {
    font-size: 16px !important;
  }
  .texts {
    top: 45%;
    animation: none !important;
  }
  .hero-section1 .swiper-button-next,
  .hero-section1 .swiper-button-prev {
    display: none !important;
  }
  .hero-section1 .swiper-slide-active .texts {
    animation: none !important;
  }
  /* banner 1 */
  .banner1-img {
    top: 60%;
    left: 1%;
  }
  .banner1-img img {
    width: 38%;
    animation: none !important;
  }
  .banner3-text{
    width:30% !important;
    left: 32%;
  }
  .banner3-subtitle{
    width: 24% !important;
    left:35%;
  }
  .hero-section1 .swiper-slide-active .banner3-text,
  .hero-section1 .swiper-slide-active .banner3-product {
    animation:none
  }
  /* banner 3 */
  /* .banner-31 .banner-bg3{
    aspect-ratio: auto;
  } */
}
