.new_antic_gallery_section {
  width: 100%;
  height: calc(100dvh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  /* background-color: #d1d1d1; Greyish background like the video */
  perspective: 1500px;
}

.before_after_text_main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

/* BEFORE — TOP of section, slides left → right */
.before_after_text_main_left {
  position: absolute;
  top: 10px;
  left: 0;
  white-space: nowrap;
  font-size: 90px;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  /* background: linear-gradient(0deg, #1b8976 -56.21%, #00d5ff 184.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
}

/* AFTER — BOTTOM of section, slides right → left */
.before_after_text_main_right {
  position: absolute;
  bottom: 10px;
  right: 0;
  white-space: nowrap;
  font-size: 90px;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  /* background: linear-gradient(0deg, #1b8976 -56.21%, #00d5ff 184.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
}

/* 3D Image Gallery Container */
.image_gallery_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform-style: preserve-3d;
}

.gallery_ring {
  position: relative;
  width: 250px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateZ(4deg);
  /* border: 1px solid red; */
}

.gallery_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 290px;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); */
  /* border: 1px solid rgb(0, 255, 38); */
}

.gallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery_item.grid_view {
  transform: none !important;
}
.simpale_img_view {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px 10px;
}

.img_wrapper {
  width: 100%;
  height: 524px;
  border-radius: 14px;
  overflow: hidden;
}
.img_wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1600px) {
  .before_after_text_main_left {
    font-size: 70px;
  }
  .before_after_text_main_right {
    font-size: 70px;
  }
  .gallery_item {
    width: 179px;
    height: 224px;
    /* border: 1px solid red; */
  }
  .gallery_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
@media (max-width: 1400px) {
  .img_wrapper {
    height: 450px;
  }
}
@media (max-width: 1300px) {
  .before_after_text_main_left {
    font-size: 50px;
  }
  .before_after_text_main_right {
    font-size: 50px;
  }
  .gallery_item {
    width: 159px;
    height: 199px;
    /* border: 1px solid red; */
  }
  .gallery_ring {
    height: 200px;
    width: 180px;
  }
}
@media (max-width: 1200px) {
    .before_after_text_main_left {
    top: 30px;
  }
  .before_after_text_main_right {
    bottom: 30px;
  }
  .img_wrapper {
    height: 375px;
  }
  .gallery_ring {
    height: 200px;
    width: 230px;
  }
  .simpale_img_view {
    margin-top: 0px;
  }
}
@media (max-width: 992px) {
  .before_after_text_main_left {
    top: 80px;
    font-size: 90px;
  }
  .before_after_text_main_right {
    bottom: 80px;
    font-size: 90px;
  }
  .simpale_img_view {
    gap: 16px;
  }
  .img_wrapper {
    height: 277px;
  }
}
@media (max-width: 770px) {
  .simpale_img_view {
    grid-template-columns: repeat(2, 1fr);
  }
  .img_wrapper {
    height: 312px;
  }
}
@media (max-width: 576px) {
  .img_wrapper {
    height: auto;
  }

  .before_after_text_main_left {
    font-size: 50px;
    top: 60px;
  }
  .before_after_text_main_right {
    font-size: 50px;
    bottom: 60px;
  }
  .gallery_ring {
    position: relative;
    width: 0px;
    height: 164px;
    transform-style: preserve-3d;
    transform: rotateX(-12deg) rotateZ(4deg);
    /* border: 1px solid red; */
  }

  .gallery_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 115px;
    height: 142px;
    border-radius: 8px;
    overflow: hidden;
    /* border: 1px solid black; */
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); */
  }

  .gallery_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
@media (max-width: 460px) {
  .simpale_img_view {
    margin-top: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
}
