.review-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../img/background-review.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eee;
  background-attachment: fixed !important;
}
.review-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.review-section-title {
  margin-bottom: 25px;
  font-family: "Lato", sans-serif;
  font-size: 2.625rem;
  font-style: normal;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}
.review-section .underline {
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
  font-family: Dosis;
  font-style: normal;
  line-height: 1.5;
  color: #232323;
  font-size: 1rem;
  font-weight: 400;
}
.review-section .underline .line {
  width: 3rem;
  height: 2px;
  background: #fff;
  display: inline-block;
  font-family: Dosis;
  font-style: normal;
  line-height: 1.5;
  color: #232323;
  font-size: 1rem;
  font-weight: 400;
}
.review-section .review-section-subtitle {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 300;
}
.review-slider-testimonials {
  background: rgb(255 255 255 / 0.8) none repeat scroll 0 0;
  display: inline-block;
  outline: 1px solid rgb(0 0 0 / 0.2);
  outline-offset: -15px;
  padding: 65px 50px;
  position: relative;
  text-align: center;
  height: 500px;
  width: 100%;
}
.review-section .review-user .user_image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1.5rem auto;
}
.review-section .review-user .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.review-section .review-user .review-user-txt {
  font-family: "Dosis", sans-serif;
  font-size: 16px !important;
  text-align: center;
}
.review-section .review-user-txt  i {
  font-size: 35px;
  margin: 0 5px;
  color: #1d907c;
}
.review-section .review-user-txt  .fa-quote-right {
  margin: 0 -23px 0 0;
}
.review-user-name {
  text-align: right;
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1d907c;
}
.review-user-desk {
  text-align: right;
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
.review-slider-testimonials .carousel-control-prev {
  transition: all 0.3s;
  opacity: 1;
  background-color: rgb(255 255 255 / 0.8);
  box-shadow: -6px 0 8px 1px #177d6c;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 46%;
  margin-top: 2rem;
  border-width: 1px;
}
.review-slider-testimonials .review-prev-button {
  left: -40px;
}
.review-slider-testimonials .carousel-control-prev span {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%231d907c' stroke-width='1'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
  background-repeat: no-repeat;
}
.review-slider-testimonials .carousel-control-next {
  transition: all 0.3s;
  opacity: 1;
  background-color: rgb(255 255 255 / 0.8);
  box-shadow: 6px 0 8px 1px #1d907c;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 46%;
  margin-top: 2rem;
  border-width: 1px;
}
.review-slider-testimonials .carousel-control-next span {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%231d907c' stroke-width='1'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.review-slider-testimonials .review-next-button {
  right: -40px;
}
.review-slider-testimonials .review-prev-button span,
.review-slider-testimonials .review-next-button span {
  width: 1.2rem !important;
  color: #1d907c !important;
}
.review-slider-testimonials .review-prev-button:hover {
  left: -45px;
  background-color: #fff !important;
  color: #00a3c8;
}
.review-slider-testimonials .review-next-button:hover {
  right: -45px;
  background-color: #fff !important;
  color: #00a3c8;
}
.review-slider-testimonials .review-next-button:hover span {
  filter: drop-shadow(0 0 2px #1d907c);
}
.review-slider-testimonials .review-prev-button:hover span {
  filter: drop-shadow(0 0 2px #1d907c);
}


/* swiper slider css */
.banner2-img1{
  background-image: url("../banner-2/Frame64.jpg") !important;
  border-bottom: 2px solid #000;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  max-width: 1600px;
  max-height: 500px;
  height: auto !important;
}
.banner2-1 {
  display: inline-grid;
  /* gap: 69%; */
  gap:81%;
}

.banner2-img2{
  /* top:-20%; */
  top:29%;
  position: relative;
}
.banner3-img6{
    position: relative;
}
.banner3-img6 h6{
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
}

.banner2-2{
  gap:188%;
  display: inline-grid;
}

.banner2-img3{
  top:-280%;
  left:15%;
  position: relative;
}
.btn-discover-more1{
  background-color: #1b8976 !important;
  color: #fff;
  padding: 2px 10px !important;
  border-radius: 9px !important;
  font-size: 12px !important;
}

.banner2-img{
  width: 100%;
  height: auto;
  max-width: 1600px;
  max-height: 500px;
  object-fit: cover;
  margin: 0 auto;
}
@media(min-width:992px){
  .banner2-1{
    width: 46% !important;
  }
  .banner2-2{
    width:14% !important;
  }
}

/* swiper new hathi banner css */
#background-video{
  background: #000 !important;
  opacity: 0.5;
  height: 100%;
  position: relative;
  object-fit: cover;
  pointer-events: none !important;
}
.hero-section1 .swiper-wrapper .banner-1-wrap{
  background: #000;
}
.hero-section1 .h1s{
  font-size: 45px !important;
  /* color: #fff !important; */
  font-weight: 700 !important;
}
.hero-section1 .h2s{
  color: rgba(17, 171, 147, 1) !important;
}
.hero-section1{
  height: 600px;
}
/* banner 1 */
.banner1-img{
  position: absolute;
  top: 41%;
  left: 6%;
}
.banner1-img img{
  width:82%;
}
.zir-logo1{
  position: absolute;
  height: 70px;
  width: 140px !important;
  right: 5%;
  top: 30px !important;
}
.ele-pic2{
  position: absolute;
  height: 480px !important;
  width: 450px !important;
  right: 13%;
  top: 33px !important;
}
.let-pic1{
  position: absolute;
  /* height: 200px !important; */
  width: 470px !important;
  left: 9%;
  top: 80px !important;
}
.let-pic2{
  position: absolute;
  height: 40px;
  width: 570.4px !important;
  left: 9%;
  top: 535px !important;
  z-index: 5;
}
.btn-read-more1{
  position: absolute;
  z-index: 5;
  top: 530px !important;
  /* right: 5%; */
  left:5%;
  background-color: #1D907C !important;
  padding: 4px 6px !important;
  border-radius: 8px !important;
  font-size: 14px !important;
}
.btn-read-more1 a{
  color: #fff ;
}
.btn-read-more1 i{
  padding: 10px 10px 9px 10px;
  background-color: #fff;
  color: #1D907C;
  transform: rotate(-45deg);
  border-radius: 50%;
}
.grass-pic1{
  position: absolute;
  top: 335px;
  z-index: 1;
}
.white-pic1{
  position: absolute;
  top: 488px;
  z-index: 3;
  height: 130px !important;
}
.optional1{
  width: 0% !important;
}
.slide2-optional1{
  display: none;
}
.banner-img1{
  width: 100%;
  height: auto;
  max-width: 1900px;
  max-height: 500px;
  object-fit: cover;
  margin: 0 auto;
}
.hero-section1 .swiper-button-next, .hero-section1 .swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 50%) !important;
}
.hero-section1 .swiper-button-next::after,
.hero-section1 .swiper-button-prev::after{
  font-size: 30px;
}
/* banner 3 deisgn */
#background-video3{
  position: absolute;
  right: 0;
  bottom:0;
  min-width:100%;
  min-height:100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.banner-3{
  position: absolute; 
  top: 19.8%;
}


.frame-img{
  position: absolute;
  right: 0%;
  top:10px !important;
}
.scaner-img1{
  position: absolute;
}
.scaner-img2{
  position: absolute;
  bottom: 20%;
  /* width:28% !important; */
}
.scaner-img3{
  position: absolute;
}
.scaner-img4{
  position: absolute;
}
.scaner-img5{
  position: absolute;
}
@media screen and (min-width:2800px){
  .hero-section1{
    height: 600px;
  }
  .hero-section1 .swiper{
    width:37% !important;
  }
}
@media screen and (min-width:2400px) and (max-width:2800px){
  .hero-section1 .swiper{
    width:75% !important;
  }
  .hero-section1{
    height: 620px;
  }
  .ele-pic2{
    height: 500px !important;
    width:500px !important;
    /* top:32px !important; */
  }
  .let-pic1{
    top:95px !important;
  }
  .grass-pic1{
    height: 100%;
  }
    /* banner 3 */
    .banner1-img{
      left:13%;
    }
    .banner1-img{
      top:45%;
    }
    .banner1-img img{
      width: 66.5%;
    }
    .texts{
      top:34%
    }
}
@media screen and (min-width:2100px) and (max-width:2400px){
  .hero-section1 .swiper{
    width:74% !important;
  }
  .hero-section1{
    height: 600px;
  }
  .ele-pic2{
    top:32px !important
  }
  
}
@media screen and (min-width:1800px) and (max-width:2000px){
  .ele-pic2{
    top:38px !important;
    width:500px !important;
    height: 520px !important;
  }
  .grass-pic1{
    top:350px;
  }
  .white-pic1{
    height: 120px;
    top:480px !important;
  }
  .let-pic2{
    top:525px !important
  }
  .btn-read-more1{
    top:520px !important
  }
  /* banner 3 */
  .banner1-img{
    left:13%;
  }
  .banner1-img{
    top:33%;
  }
  .banner1-img img{
    width: 78%;
  }
  .texts{
    top:28%
  }
}
@media screen and (min-width:1650px) and (max-width:1800px){
  .ele-pic2{
    top:32px !important;
    width:490px !important;
    height: 520px !important;
  }
  .grass-pic1{
    top:350px;
  }
  .white-pic1{
    height: 120px;
    top:480px !important;
  }
  .let-pic2{
    top:525px !important
  }
  .btn-read-more1{
    top:520px !important
  }
  /* .hero-section1{
    height: 600px;
  } */
  /* banner 3  */
  .banner1-img{
    left:9%;
  }
  .banner1-img img{
    width: 83%;
  }
  .texts{
    top:32.8%;
  }
}
@media screen and (min-width:1439px) and (max-width:1649px){
  .hero-section1{
    height: 500px;
  }
  .grass-pic1{
    top:260px;
    height: 240px;
  }
  .white-pic1{
    height:100px !important;
    top:400px !important;
  }
  .let-pic2{
    top:432px !important;
  }
  .ele-pic2{
    top: 0% !important;
    width:390px !important;
    right:16%;
  }
  .btn-read-more1{
    top:426px !important;
  }
  /* banner 3  */
  .banner1-img img{
    width: 74%;
  }
}
@media screen and (min-width:1300px) and (max-width:1440px){
  .hero-section1{
    height: 500px;
  }
  .zir-logo1{
    height: 50px;
    width: 100px !important;
    right:11%;
  }
  .ele-pic2{
    height: 430px;
    width: 410px !important;
    top: -10px !important;
    right: 18%;
  }
  .grass-pic1{
    top:265px;
  }
  .white-pic1{
    top: 400px !important;
    height: 100px !important;
  }
  .let-pic1{
    /* height: 150px; */
    width: 400px !important;
    top: 85px !important;
  }
  .let-pic2{
    height: 30px;
    width: 500px !important;
    top: 435px !important;
  }
  .btn-read-more1{
    top: 430px !important;
    right:11%;
    padding: 4px 6px !important;
  }
  /* banner 3 */
  .banner1-img img{
    width: 84%;
  }
}
@media(min-width:1200px) and (max-width:1300px){
  .hero-section1{
    height: 530px;
  }
  .zir-logo1{
    height:auto;
    width:11% !important;
    right:6%;
  }
  .ele-pic2 {
    height: auto;
    width: 36% !important;
    height: 460px !important;
    top: 0% !important;
    right: 15%;
  }
  .let-pic1{
    height: auto;
    width: 35% !important;
    left: 8%;
    top: 75px !important;
  }
  .let-pic2{
    position: absolute;
    height: 30px;
    /* width: 40% !important; */
    width: 42% !important;
    left: 9%;
    /* top: 431px !important; */
    top: 460px !important;
    z-index: 5;
  }
  .btn-read-more1{
    top:275px !important;
    /* top: 428px !important; */
    left: 8.5%;
  }
  .grass-pic1{
    top:285px;
  }
  .white-pic1{
    top:423px !important;
    /* top: 400px !important; */
    height: 105px !important;
  }
  .slide2-optional1{
    display: none;
  }
  /* banner 3 design */
  .frame-img{
    width: 100% !important;
    height: 490px!important;
    object-fit: fill !important;
  }
  .scaner-img1{
    width:28% !important;
    top: 15%;
  }
  .scaner-img2{
    width:40% !important;
    bottom: 37%;
  }
  .scaner-img3{
    width: 48% !important;
    bottom: 0%;
    left: 48%;
  }
  .scaner-img4{
    width: 23% !important;
    bottom: -0.6%;
    right:0%;
  }
  .scaner-img5{
    width:50% !important;
    bottom: 10%;
  }
}
@media(min-width:2100px){
  .banner-img1{
    max-height: 620px;
  }
  
}
@media(max-width:1200px){
  .hero-section1{
    height: 550px;
  }
  .white-pic1 {
    top: 450px !important;
    height: 100px !important;
  }
  .grass-pic1{
    top:330px;
  } 
  .ele-pic2{
    width:360px !important;
    height: 400px !important;
    top:78px !important;
    right:13%
  }
  .let-pic1{
    width:365px !important;
    /* height:160px; */
    left:8%;
    top:100px !important;
  }
  .zir-logo1{
    right:4%;
    width:130px !important;
  }
  .let-pic2{
    width:540px !important;
    left:3%;
    top:485px !important;
  }
  .btn-read-more1{
    top:280px !important;
    left:8%;
  }
  .banner-img1{
    max-height: 550px;
  }
  /* banner 1 */
  .banner1-img{
    top:51.5%
  }
  .banner1-img img{
      width:90%;
  }
  .hero-section1 .h1s{
    font-size: 40px !important;
  }
  .hero-section1 .h2s{
    font-size: 45px !important;
  }
  /* .banner1-img img{
      width: 90%;
  } */
}
@media(max-width:1024px){
   /* banner 3 */
  .banner1-img{
    top:56.5%;
  }
}
@media (max-width: 991px) {
  .hero-section1{
    height: 620px;
  }
  .hero-section1 .h1s,
  .hero-section1 .h2s{
    text-align: center;
    font-size: 35px !important;
  }
  .review-section .review-user .user_image {
    width: 90px;
    height: 90px;
    margin:0 auto 1rem auto;
  }
  .review-slider-testimonials {
    height: 440px;
    padding: 45px 30px;
  }
  .review-section .review-user .review-user-txt {
    font-size: 15px !important;
  }
  .review-slider-testimonials .carousel-control-prev,
  .review-slider-testimonials .carousel-control-next {
    width: 35px;
    height: 35px;
    top: 40%;
  }
  .review-slider-testimonials .review-prev-button {
    left: -35.4px;
  }
  .review-slider-testimonials .review-next-button {
    right: -35.4px;
  }
  .review-slider-testimonials .review-next-button:hover {
    right: -40px;
  }
  .review-slider-testimonials .review-prev-button:hover {
    left: -40px;
  }

  /* home banner css */
  .zir-logo1{
    right: -10%;
    width:130px !important;
    height: 75px;
    top:20px !important;
  }
  .ele-pic2{
    top:80px !important;
    right:0%;
    width: 370px !important;
    height: 420px !important;
  }
  .grass-pic1 {
    top: 340px;
  }
  .white-pic1{
    height: 112px !important;
    top:444px !important;
  }
  .let-pic1{
    left:-4%;
    height: auto;
  }
  .let-pic2{
    width:500px !important;
    top:480px !important;
    left:-8%;
  }
  .btn-read-more1{
    top:300px !important;
    left:-3%;
    padding: 5px 8px !important;
    font-size: 12px !important;
  }
  .btn-read-more1 i {
    padding: 8px 8px 7px 8px;
  }
  /* banner 3 */
  .banner1-img{
    /* left:3%; */
    top: 59.5%;
  }
  .banner1-img img{
    width:80%;
  }
}
@media(max-width:900px){
  .hero-section1 {
    height: 570px;
  }
  .grass-pic1{
    top:310px;
  }
  .white-pic1{
    height: 110px !important;
    top:395px !important;
  }
  .let-pic2{
    top:436px !important;
    width:450px !important;
    left:0%;
    height:auto;
  }
  .ele-pic2{
    width:340px !important;
    height: 370px !important;
    top:76px !important;
    right:7%;
  }
  .zir-logo1{
    right:-2%;
    width:130px !important;
    height: 65px;
    top:30px !important;
  }
  .let-pic1{
    left:0%;
    width:320px !important;
    top:95px !important;
  }
  .btn-read-more1{
    top:260px !important;
    left:0%;
    padding: 3px 5px !important;
  }
  .banner-img1{
    max-height: 100%;
  }
  /* banner 3 */
  .banner1-img{
    /* left:3%; */
    top: 59.5%;
  }
}
@media (max-width: 768px) {
  .hero-section1 {
    height: auto;
  }
  .hero-section1 .swiper-wrapper .swiper-slide:first-child{
    height: auto;
  }
  .hero-section1 .h1s{
    font-size: 35px !important;
  }
  .hero-section1 .swiper-button-next, .hero-section1 .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 53%) !important;
  }
  .review-slider-testimonials {
    height: 490px;
  }
  .review-section .review-user .review-user-txt {
    font-size: 16px !important;
    letter-spacing: 1px;
  }
  .review-section .review-user-txt  i {
    font-size: 30px;
  }
  .review-slider-testimonials .review-next-button:hover {
    right: -35px;
  }

  .optional1 {
    width: 100% !important;
    height:100%;
  }
  /* banner 3 */
  .banner1-img{
    top:57%;
  }
  .banner1-img img {
    width: 36%;
  }
}
@media (max-width: 576px) {
  .hero-section1 .h1s{
    font-size: 25px !important;
  }
  .review-slider-testimonials {
    height: 510px;
    padding: 45px 30px;
  }
  .review-section .review-user .user_image {
    width: 70px;
    height: 70px;
    margin: 0 auto 1rem auto;
  }
  .review-section .review-user .review-user-txt {
    font-size: 13px !important;
    letter-spacing: 1px;
  }
  .review-user-name,
  .review-user-desk {
    font-size: 16px;
  }
  .review-slider-testimonials .review-next-button,
  .review-slider-testimonials .review-prev-button {
    width: 30px;
    height: 30px;
    top: 40%;
  }
  .review-slider-testimonials .review-prev-button span,
  .review-slider-testimonials .review-next-button span {
    width: 1rem !important;
  }
  .review-slider-testimonials .review-next-button {
    right: -30px;
  }
  .review-slider-testimonials .review-next-button:hover {
    right: -35px;
  }
  .review-slider-testimonials .review-prev-button {
    left: -30px;
  }
  .review-slider-testimonials .review-prev-button:hover {
    left: -35px;
  }
  .review-section .review-user-txt  i {
    font-size: 25px;
  }
  .review-section .review-user .review-user-txt{
    font-size: 14px !important;
  }
   /* banner 3 */
   .banner1-img{
    top:60%;
    left:1%;
  }
  .banner1-img img {
    width: 38%;
  }
  .hero-section1 .h1s, .hero-section1 .h2s{
    font-size: 20px !important;
  }
}
@media (max-width: 400px) {
  .review-slider-testimonials {
    height: 510px;
  }
  .review-section .review-user-txt .fa-quote-right{
    margin:0 -15px 0 0;
  }
  .review-slider-testimonials .review-next-button,
  .review-slider-testimonials .review-prev-button {
    width: 26px;
    height: 26px;
  }
  .review-slider-testimonials .review-next-button {
    right: -26px;
  }
  .review-slider-testimonials .review-next-button:hover {
    right: -28px;
  }
  .review-slider-testimonials .review-prev-button {
    left: -26px;
  }
  .review-slider-testimonials .review-prev-button:hover {
    left: -28px;
  }
}


