/* --------------------- We Deliver Precision for Every Dental Case ------------------------------ */
.all_round_box_main {
    display: none;
}

.enhance_your_smile_small_screen {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
}

.enhance_your_smile_small_screen_heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 4%;
    background: linear-gradient(92.19deg, #1b8976 -56.21%, #00d5ff 184.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px !important;
    text-align: center;
    margin: 0px auto;
}

@media (max-width: 10000px) {
    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 743px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .svg-bubble {
        position: absolute;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    .bubble-1 {
        left: 104px;
        bottom: 263px;
        z-index: 2;
        width: 246px;
        height: 246px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        transform: rotate(-10.56deg);
        display: flex;
        flex-direction: column;
    }

    .bubble-2 {
        left: 308px;
        bottom: 405px;
        z-index: 1;
        width: 230px;
        height: 230px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }

    .bubble-3 {
        left: 315px;
        bottom: 80px;
        z-index: 3;
        width: 332px;
        height: 332px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(5.56deg);
    }

    .bubble-4 {
        left: 533px;
        bottom: 357px;
        z-index: 1;
        width: 230px;
        height: 230px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(2.59deg);
    }

    .bubble-5 {
        left: 647px;
        bottom: 79px;
        z-index: 3;
        width: 332px;
        height: 332px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(7.57deg);
    }

    .bubble-6 {
        left: 944px;
        bottom: 259px;
        z-index: 2;
        width: 246px;
        height: 246px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(10.34deg);
    }

    .round_box_number_text {
        font-weight: 600;
        font-size: 60px;
        margin-bottom: 0px !important;
        text-align: center;
        color: rgba(27, 137, 118, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .round_box_number_text>span {
        margin-left: 8px;
        font-size: 50px;
    }

    .round_box_text {
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
        font-size: 18px;
        line-height: 190%;
        letter-spacing: 4%;
        margin-bottom: 0px !important;
        text-align: center;
    }
}

@media (max-width: 1530px) {
    .enhance_your_smile_small_screen_heading {
        font-weight: 700;
        font-size: 42px;
        line-height: 117%;
        letter-spacing: 4%;
        background: linear-gradient(92.19deg, #1b8976 -56.21%, #00d5ff 184.49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0px !important;
        text-align: center;
        margin-top: 40px;
        width: 800px;
    }

    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 700px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bubble-1 {
        left: 104px;
        bottom: 239px;
        z-index: 2;
        width: 246px;
        height: 246px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        transform: rotate(-10.56deg);
        display: flex;
        flex-direction: column;
    }

    .bubble-2 {
        left: 308px;
        bottom: 383px;
        z-index: 1;
        width: 230px;
        height: 230px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }

    .bubble-3 {
        left: 315px;
        bottom: 58px;
        z-index: 3;
        width: 332px;
        height: 332px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(5.56deg);
    }

    .bubble-4 {
        left: 533px;
        bottom: 336px;
        z-index: 1;
        width: 230px;
        height: 230px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(2.59deg);
    }

    .bubble-5 {
        left: 647px;
        bottom: 58px;
        z-index: 3;
        width: 332px;
        height: 332px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(7.57deg);
    }

    .bubble-6 {
        left: 944px;
        bottom: 239px;
        z-index: 2;
        width: 246px;
        height: 246px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(10.34deg);
    }
}

@media (max-width: 1400px) {
    .enhance_your_smile_small_screen_heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        letter-spacing: 4%;
        background: linear-gradient(92.19deg, #1b8976 -56.21%, #00d5ff 184.49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0px !important;
        text-align: center;
        margin-top: 40px;
        width: 100%;
    }

    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 650px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(20, 230, 27); */
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bubble-1 {
        left: 97px;
        bottom: 216px;
        z-index: 2;
        width: 220px;
        height: 220px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        transform: rotate(-10.56deg);
        display: flex;
        flex-direction: column;
    }

    .bubble-2 {
        left: 259px;
        bottom: 368px;
        z-index: 1;
        width: 210px;
        height: 210px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }

    .bubble-3 {
        left: 289px;
        bottom: 65px;
        z-index: 3;
        width: 290px;
        height: 290px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(5.56deg);
    }

    .bubble-4 {
        left: 462px;
        bottom: 317px;
        z-index: 1;
        width: 210px;
        height: 210px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(2.59deg);
    }

    .bubble-5 {
        left: 578px;
        bottom: 81px;
        z-index: 3;
        width: 290px;
        height: 290px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(7.57deg);
    }

    .bubble-6 {
        left: 820px;
        bottom: 261px;
        z-index: 2;
        width: 230px;
        height: 230px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(10.34deg);
    }
}

@media (max-width: 1200px) {
    .enhance_your_smile_small_screen_heading {
        font-weight: 700;
        font-size: 42px;
        line-height: 117%;
        letter-spacing: 4%;
        background: linear-gradient(92.19deg, #1b8976 -56.21%, #00d5ff 184.49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0px !important;
        text-align: center;
        margin-top: 40px;
    }

    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 600px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(20, 230, 27); */
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bubble-1 {
        left: 96px;
        bottom: 194px;
        z-index: 2;
        width: 180px;
        height: 180px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        transform: rotate(-10.56deg);
        display: flex;
        flex-direction: column;
    }

    .bubble-2 {
        left: 207px;
        bottom: 332px;
        z-index: 1;
        width: 190px;
        height: 190px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }

    .bubble-3 {
        left: 258px;
        bottom: 79px;
        z-index: 3;
        width: 240px;
        height: 240px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(5.56deg);
    }

    .bubble-4 {
        left: 390px;
        bottom: 292px;
        z-index: 1;
        width: 180px;
        height: 180px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(2.59deg);
    }

    .bubble-5 {
        left: 496px;
        bottom: 101px;
        z-index: 3;
        width: 240px;
        height: 240px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(7.57deg);
    }

    .bubble-6 {
        left: 691px;
        bottom: 255px;
        z-index: 2;
        width: 195px;
        height: 195px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(10.34deg);
    }

    .round_box_number_text {
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 0px !important;
        text-align: center;
        color: rgba(27, 137, 118, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .round_box_number_text>span {
        margin-left: 8px;
        font-size: 40px;
    }

    .round_box_text {
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
        font-size: 16px;
        line-height: 190%;
        letter-spacing: 4%;
        margin-bottom: 0px !important;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .enhance_your_smile_small_screen {
        width: 100%;
        height: calc(100vh - 70px);
    }

    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 680px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(20, 230, 27); */
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .enhance_your_smile_small_screen_heading {
        margin-top: 60px;
        font-weight: 600;
        font-size: 37px;
        line-height: 190%;
        letter-spacing: 4%;
        color: rgba(27, 137, 118, 1);
        padding: 0px !important;
        text-align: center;
    }

    .round_box_number_text {
        font-weight: 600;
        font-size: 37px;
        margin-bottom: 0px !important;
        text-align: center;
        color: rgba(27, 137, 118, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .round_box_number_text>span {
        margin-left: 4px;
        font-size: 37px;
    }

    .round_box_text {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        letter-spacing: 4%;
        margin-bottom: 0px !important;
        text-align: center;
    }

    .bubble-1 {
        left: 12px;
        bottom: 218px;
        z-index: 2;
        width: 180px;
        height: 180px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        transform: rotate(-10.56deg);
        display: flex;
        flex-direction: column;
    }

    .bubble-2 {
        left: 118px;
        bottom: 361px;
        z-index: 1;
        width: 190px;
        height: 190px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }

    .bubble-3 {
        left: 120px;
        bottom: 29px;
        z-index: 3;
        width: 240px;
        height: 240px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(5.56deg);
    }

    .bubble-4 {
        left: 259px;
        bottom: 240px;
        z-index: 1;
        width: 180px;
        height: 180px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(2.59deg);
    }

    .bubble-5 {
        left: 360px;
        bottom: 44px;
        z-index: 3;
        width: 240px;
        height: 240px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(7.57deg);
    }

    .bubble-6 {
        left: 493px;
        bottom: 255px;
        z-index: 2;
        width: 195px;
        height: 195px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(10.34deg);
    }
}

@media (max-width: 768px) {
    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 730px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(20, 230, 27); */
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        /* border: 1px solid rgba(27, 137, 118, 1); */
    }

    .enhance_your_smile_small_screen_heading {
        margin-top: 40px;
        font-weight: 600;
        font-size: 37px;
        line-height: 190%;
        letter-spacing: 4%;
        color: rgba(27, 137, 118, 1);
        padding: 0px !important;
        text-align: center;
    }

    .round_box_number_text {
        font-weight: 600;
        font-size: 37px;
        margin-bottom: 0px !important;
        text-align: center;
        color: rgba(27, 137, 118, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .round_box_number_text>span {
        margin-left: 4px;
        font-size: 37px;
    }

    .round_box_text {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
        font-size: 16px;
        line-height: 190%;
        letter-spacing: 4%;
        margin-bottom: 0px !important;
        text-align: center;
    }

    .bubble-1 {
        left: 5px;
        bottom: 170px;
        z-index: 2;
        width: 210px;
        height: 210px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        transform: rotate(-10.56deg);
        display: flex;
        flex-direction: column;
    }

    .bubble-2 {
        left: 5px;
        bottom: 378px;
        z-index: 1;
        width: 165px;
        height: 165px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }

    .bubble-3 {
        left: 145px;
        bottom: 2px;
        z-index: 3;
        width: 225px;
        height: 225px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(5.56deg);
    }

    .bubble-4 {
        left: 171px;
        bottom: 309px;
        z-index: 1;
        width: 180px;
        height: 180px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(2.59deg);
    }

    .bubble-5 {
        left: 319px;
        bottom: 156px;
        z-index: 3;
        width: 190px;
        height: 190px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(7.57deg);
    }

    .bubble-6 {
        left: 349px;
        bottom: 345px;
        z-index: 2;
        width: 160px;
        height: 160px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(10.34deg);
    }

}

@media (max-width: 543px) {

    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 680px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(20, 230, 27); */
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        /* border: 1px solid rgba(27, 137, 118, 1); */
    }

    .enhance_your_smile_small_screen_heading {
        margin-top: 50px;
        font-weight: 600;
        font-size: 27px;
        line-height: 130%;
        margin-bottom: 0px;
    }

    .round_box_number_text {
        font-weight: 600;
        font-size: 37px;
        margin-bottom: 0px !important;
        text-align: center;
        color: rgba(27, 137, 118, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .round_box_number_text>span {
        margin-left: 4px;
        font-size: 37px;
    }

    .round_box_text {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
        font-size: 16px;
        line-height: 190%;
        letter-spacing: 4%;
        margin-bottom: 0px !important;
        text-align: center;
    }

    .bubble-2 {
        left: 18px;
        bottom: 380px;
        z-index: 1;
        width: 165px;
        height: 165px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }
}

@media (max-width: 440px) {
    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 620px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(20, 230, 27); */
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .enhance_your_smile_small_screen_heading {
        margin-top: 20px;
        font-weight: 600;
        font-size: 27px;
        line-height: 130%;
        margin-bottom: 0px;
    }

    .round_box_text {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
        font-size: 14px;
        line-height: 190%;
        letter-spacing: 4%;
        margin-bottom: 0px !important;
        text-align: center;
    }

    .bubble-1 {
        left: 5px;
        bottom: 160px;
        z-index: 2;
        width: 170px;
        height: 170px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        transform: rotate(-10.56deg);
        display: flex;
        flex-direction: column;

    }

    .bubble-2 {
        left: 5px;
        bottom: 448px;
        z-index: 1;
        width: 145px;
        height: 145px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }

    .bubble-3 {
        left: 98px;
        bottom: 2px;
        z-index: 3;
        width: 190px;
        height: 190px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(5.56deg);
    }

    .bubble-4 {
        left: 87px;
        bottom: 309px;
        z-index: 1;
        width: 170px;
        height: 170px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(2.59deg);
    }

    .bubble-5 {
        left: 189px;
        bottom: 173px;
        z-index: 3;
        width: 170px;
        height: 170px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(7.57deg);
    }

    .bubble-6 {
        left: 217px;
        bottom: 429px;
        z-index: 2;
        width: 140px;
        height: 140px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(10.34deg);
    }

}

@media (max-width: 380px) {
    .all_round_svg_icons {
        position: relative;
        width: 100%;
        height: 600px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rgb(20, 230, 27); */
        background: url(../img/round_box_background_image.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
        .bubble-1 {
        left: 5px;
        bottom: 160px;
        z-index: 2;
        width: 153px;
        height: 153px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        transform: rotate(-10.56deg);
        display: flex;
        flex-direction: column;
    }
        .bubble-2 {
        left: 19px;
        bottom: 442px;
        z-index: 1;
        width: 145px;
        height: 145px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(-7.65deg);
    }

        .bubble-3 {
        left: 89px;
        bottom: 2px;
        z-index: 3;
        width: 190px;
        height: 190px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(5.56deg);
    }
        .bubble-4 {
        left: 80px;
        bottom: 290px;
        z-index: 1;
        width: 170px;
        height: 170px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(2.59deg);
    }
        .bubble-5 {
        left: 189px;
        bottom: 173px;
        z-index: 3;
        width: 153px;
        height: 153px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(7.57deg);
    }
        .bubble-6 {
        left: 189px;
        bottom: 429px;
        z-index: 2;
        width: 140px;
        height: 140px;
        border: 2px solid rgba(27, 137, 118, 1);
        box-shadow: 0px 0px 22.8px 0px rgba(27, 137, 118, 0.25);
        background-color: #f3f9f8;
        display: flex;
        flex-direction: column;
        transform: rotate(10.34deg);
    }


}