/* ------------------- what is zirconia css -----------------  */
.zirconia-second {
    /* padding: 50px 0px; */
    position: relative;
    z-index: 3;
    background: white;
}
.zirfirst-headS {
    color: #1b897a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.zirfirst-text {
    color: black;
    font-size: 16px;
}
.zirfirstgroup {
    width: 100%;
    height: 100%;
    padding: 0px 130px;
    position: relative;
}
.groupImage {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
}
@media(max-width:768px){
    .zirconia-second{
        padding: 30px 0px;
    }
}
@media(max-width:576px){
    .zirconia-second{
        padding: 30px 0px;
    }
    .zirfirst-headS{
        font-size: 22px;
    }
    .zirconia-second .col-10{
        padding:0px 8px;
    }
}

/* --------------- the path to Radial smile --------------  */
.radial_smile .line-2{
    top: 1.7%;
    left: 1%;
}
.radial_smile .line-1{
    top: 1.7%;
    right: 1%;
}
.bigcont {
    height:220px;
}
.radient-amile-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    /* margin-bottom: 80px; */
    border-top: 1px solid #333;
    padding-top: 20px;
    /* width: 80%; */
    width:100%;
    margin-bottom: 4.5rem;
}
.radient-amile-card-subhead {
    color: #1b897a;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 0px;
    text-align: start;
}
.radient-amile-card-head {
    color: #000;
    font-size: 26px;
    /* margin-bottom: 25px; */
    margin-bottom: 16px;
    font-weight: 600;
}
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: white;
}
.overlay {
    position: absolute;
    bottom: 0%;
    width: 20%;
    height: 100%;
    background: #fff;
    /* background:transparent; */
    z-index: 2;
}
.image-wrapper.in-view .overlay {
    animation-play-state: running;
}
.slice-1 {
    left: 0;
}
.slice-2 {
    left: 20%;
}
.slice-3 {
    left: 40%;
}
.slice-4 {
    left: 60%;
}
.slice-5 {
    left: 80%;
}
.image-wrapper.in-view .slice-1 {
    animation: slideUp 1.5s ease-in-out 0.1s forwards;
}
.image-wrapper.in-view .slice-2 {
    animation: slideUp 1.5s ease-in-out 0.2s forwards;
}
.image-wrapper.in-view .slice-3 {
    animation: slideUp 1.5s ease-in-out 0.4s forwards;
}
.image-wrapper.in-view .slice-4 {
    animation: slideUp 1.5s ease-in-out 0.8s forwards;
}
.image-wrapper.in-view .slice-5 {
    animation: slideUp 1.5s ease-in-out 1.2s forwards;
}
@keyframes slideUp {
    0% {
        bottom: 0%;
    }

    100% {
        bottom: -100%;
    }
}
.animated-image {
    /* width: 60%; */
    width:100%;
    text-align: center;
    display: block;
    position: relative;
    opacity: 0;
    transition: opacity 0s ease-in-out 0s;
}
.image-wrapper.in-view .animated-image {
    opacity: 1;
}
.left-column{
    padding-right: 50px;
}
/* part 2 */
.right-column {
    border-left: 2px dashed #333;
    padding-left: 50px;
}
.radient-amile-card1 {
    /* margin-bottom: 80px; */
    border-top: 1px solid #333;
    /* padding-top: 50px; */
    padding-top: 20px;
    /* width: 80%;  */
    width:100%;
    margin-bottom: 4.5rem;
}
.radient-amile-card1:first-child{
    margin-top: 40px;
}
.mobileviewofprocess{
    display: none
}
.radient-amile-card-m{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #333;
    padding-top: 50px;
    width: 80%; /* or max-width: 500px */
    margin-bottom: 4rem;
}
@media(min-width:1600px){
    .radial_smile .line-2,.radial_smile .line-1{
        top:1.5%;
    }
}
@media(max-width:1200px){
    .radial_smile .line-2,.radial_smile .line-1{
        top: 2%;
    }
}
@media(max-width:991px){
    .radial_smile .line-2 {
        /* top: 2.6%; */
        left:0%;
        width: 27%;
    }
    .radial_smile .line-1{
        /* top: 2.6%; */
        right: 0%;
        width: 27%;
    }
    .left-column{
        padding-right: 40px;
    }
    .right-column{
        padding-left: 40px;
    }
}
@media(max-width:768px){
    .radial_smile .line-2 {
        top: 1.18%;
        left:-6%;
    }
    .radial_smile .line-1{
        top: 1.18%;
        right: -6.4%;
    }
    .webviewofprocess {
        display: none;
    }
    .mobileviewofprocess{
        display: block;
    }
    .mobileviewofprocess .flex-column{
        margin-top: 50px;
    }
    .animated-image {
        width: 100%;
        border-radius: 18px;
    }
    .bigcont{
        height: 0px;
    }
    .radient-amile-card-m{
        padding-top: 20px;
        border-top: 2px solid #000;
        justify-content: flex-start;
        align-items: start;
    }
    
    .radient-amile-card-head{
        font-size: 26px;
    }
}
@media(max-width:576px){
    .radial_smile{
        margin: 0px 0px 0px;
    }
    .radial_smile .zirconia-wrapper-title{
        padding-left: 32px;
    }
    .radial_smile .line-2, .radial_smile .line-1 {
        display: none;
        /* top: 0.85%;
        left:4%;
        width: 22%; */
    }
    /* .radial_smile .line-1{
        top: 0.85%;
        right: 4%;
        width: 22%;  
    } */
    .bigcont {
       height: 0px;
    }
    .radient-amile-card-m{
        padding-top: 15px;
        margin-bottom: 3.5rem;
        width:85%;
    }
    .radient-amile-card-subhead{
        font-size: 16px;
    }
    .radient-amile-card-head{
        font-size: 20px;
        margin-bottom: 14px;
    }
}
@media(max-width:420px){
    .radial_smile .line-2 {
        top: 0.96%;
        left:2%;
        width: 20%;
    }
    .radial_smile .line-1{
        top: 0.96%;
        right: 2%;
        width: 20%;  
    }
}
/* ------------- Type of Zirconia ----------------- */
.typeOfZirconia{
    background-color: rgba(27, 137, 118, 0.08);
}
.typeOfZirconia .line-2{
    left: 6%;
    top:3.2%
}
.typeOfZirconia .line-1{
    right:6%;
    top:3.2%
}
.typeOfZirconia .swiper-button-prev{
    top:8%;
    left:72%;
    background-color: rgb(27, 137, 118,0.1);
    padding: 10px 22px;
    border-radius: 50%;
}
.typeOfZirconia .swiper-button-prev::after{
    font-size: 15px;
    font-weight: 900;
    color:#1B8976;
    /* padding: 20px; */
    padding: 7px 0px 7px 0px;
    margin: 0px -6px;
    /* padding: 7px 15px 7px 11px; */
}
.typeOfZirconia .swiper-button-next{
    top:8%;
    background-color: rgb(27, 137, 118,0.1);
    padding: 10px 22px;
    border-radius: 50%;
}
.typeOfZirconia .swiper-button-next::after{
    font-size: 15px;
    font-weight: 900;
    color:#1B8976;
    margin: 0px -2px;
    /* padding: 20px; */
    /* padding: 0px 9px 0px 12px; */
    /* padding: 7px 11px 7px 15px; */
}
.webviewoftype {
    padding: 50px 0px;
}
.main_process_card {
    position: relative;
    
}
.main_process_card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(27, 137, 118, 0.3);
    transition: height 0.5s ease-in-out, top 0.5s ease-in-out;
    transform: translateY(-50%);
    border-radius: 8px;
}
.main_process_card:hover::before {
    height: 100%;
}
.main_process_card h3{
    font-size: 26px;
}
.inner_process_card {
    width: 49%;
    padding: 30px 0px 10px;
}
.side-img {
    transform: rotate(27deg) scale(0.2);
    position: absolute;
    top: -10%;
    right: 10%;
    height: 240px;
    width: 200px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.main_process_card:hover .side-img {
    opacity: 1;
    transform: scale(1);
}
.outerslider {
    /* background-color: rgba(27, 137, 118, 0.08); */
    padding: 50px 0px;
}
.mobileviewofType {
    display: none;
    padding: 50px 0px;
}
.outerslider .swiper-container{
    margin: auto;
    overflow: hidden;
}
.outerslider .swiper-slide{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 10px;
}
.outerslider .swiper-slide img{
    object-fit: contain;
   
}
.outerslider .swiper-pagination-bullet-active {
    background-color: #1B8976 !important;
}
.mobile_innerproess_Card {
    margin: 12px;
    border-radius: 10px;
    padding: 12px;
}
/* .numbersvgmobile {
    height: 50px;
    width: 50px;
} */
.side-img-mobile {
    /* height: 200px !important; */
    border-radius: 10px;
    padding: 0px 25px;
}
.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination-one,
.pagination-two {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
}

/* media query */
@media(min-width:1400px){
    .typeOfZirconia .line-2{
        top:3.6%;
        left:8%;
    }
    .typeOfZirconia .line-1{
        top:3.6%;
        right:8%;
    }
}
@media(min-width:1600px){
    .typeOfZirconia .line-2{
        top:3.2%;
        left:17%;
    }
    .typeOfZirconia .line-1{
        top:3.2%;
        right:17%;
    }
    .side-img{
        top:-17.5%;
        /* width:210px;
        height: 250px; */
    }
    .side-img:nth-child(4){
        top:-8%;
    }
}
@media(max-width:1200px){
    .webviewoftype{
        padding: 10px 0px 20px;
    }
    .typeOfZirconia .line-2{
        left: 4%;
        top:4%
    }
    .typeOfZirconia .line-1{
        right: 4%;
        top:4%
    }
    .main_process_card{
        padding:0px 40px;
    }
    .inner_process_card{
        width:74%;
        /* margin:0px; */
    }
    .side-img{
        right:6%;
        top:-8%;
    }
}
@media(max-width:991px){
    .typeOfZirconia .line-2{
        left: 7%;
        top:5%
    }
    .typeOfZirconia .line-1{
        right: 7%;
        top:5%
    }
    .side-img {
        display: none;
    }
    .inner_process_card {
        width: 50%;
        padding: 30px 0px;
    }
    .webviewoftype {
        display: none;
    }
    .mobileviewofType {
        display: block;
        padding:25px 0px 25px;
    }
    .mobile_innerproess_Card{
        padding:0px;
        margin:0px;
    }
    .mobile_innerproess_Card h3{
        font-size:20px;
    }
    .swiper-one .swiper-slide:nth-child(1) .mobileviewofType-content p{
        margin-bottom: 51px;
    }
    .swiper-one .swiper-slide:nth-child(2) .mobileviewofType-content p{
        margin-bottom: 27px;
    }
    .swiper-one .swiper-slide:nth-child(3) .mobileviewofType-content p{
        margin-bottom: 30px;
    }
    .swiper-one .swiper-slide:nth-child(4) .mobileviewofType-content p{
        margin-bottom: 10px;
    }
    .numbersvgmobile{
        width: 60px  !important;
        height:60px !important;
    }
}
@media(max-width:768px){
    .typeOfZirconia .line-2,.typeOfZirconia .line-1 {
        /* left: 10%; */
        top: 4.4%;
    }
    /* .typeOfZirconia .line-1 {
        right: 10%;
        top: 4.4%;
    } */
    .side-img {
        display: none;
    }
    .inner_process_card {
        width: 60%;
        padding: 30px 0px;
    }
    .numbersvg {
        height: 60px;
        width: 60px;
    }
    .side-img-mobile{
        width:75% !important; 
        padding: 0px;
    }
    .mobile_innerproess_Card{
        margin:12px;
        padding:12px
    }
    .side-img-mobile {
        width: 90% !important;
        padding: 0px;
    }
    .pagination-one{
        margin-top: 0px;
    }
  
    .swiper-one .swiper-slide:nth-child(1) .mobileviewofType-content p{
        margin-bottom: 35px;
    }
    .swiper-one .swiper-slide:nth-child(2) .mobileviewofType-content p{
        margin-bottom: 35px;
    }
    .swiper-one .swiper-slide:nth-child(3) .mobileviewofType-content p{
        margin-bottom: 35px;
    }
    .swiper-one .swiper-slide:nth-child(4) .mobileviewofType-content p{
        margin-bottom: 15px;
    }
}
@media(max-width:576px){
    .typeOfZirconia .zirconia-wrapper-title{
        padding-left: 30px;
    }
    .side-img {
        display: none;
    }
    .inner_process_card {
        width: 80%;
        padding: 30px 0px;
    }
    .numbersvg {
        height: 40px;
        width: 40px;
    }
    .mobile_innerproess_Card {
        border-radius: 10px;
        padding: 0px 0px;
        margin: 0px 25px;
    }
    .mobileviewofType-content p{
        font-size: 15px;
    }
    .swiper-one .swiper-slide:nth-child(1) .mobileviewofType-content p{
        margin-bottom: 12px;
    }
    .swiper-one .swiper-slide:nth-child(2) .mobileviewofType-content p{
        margin-bottom: 12px;
    }
    .swiper-one .swiper-slide:nth-child(3) .mobileviewofType-content p{
        margin-bottom: 12px;
    }
    .swiper-one .swiper-slide:nth-child(4) .mobileviewofType-content p{
        margin-bottom: 12px;
    }
    .side-img-mobile {
        width: 100% !important;
    }
}
/* ------------------- why zirconia crown css --------------------- */
.zirconia-wrapper{
    padding: 10px 0px 6px;
}
.zirconia-content-wrapper{
    grid-row-gap: 35px;
    flex-flow: column;
    display: flex;
    position: relative;
}
.zirconia-wrapper-title{
    font-size: 30px;
    color:#1B8976;
    width: 100%;
    text-align: center;
}
.zirconia-tagline {
    display: block;
    font-size: 1.4rem;
    color: #1B8976;
    font-weight: 700;
    margin-top: 8px;
    text-align: center;
    letter-spacing: 0.5px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.line-1{
    position: absolute;
    top: 5.2%;
    right:0%;
}
.line-2{
    position: absolute;
    top: 5.2%;
    left:0%;
}
.zirconia-content-item{
    grid-row-gap: 84px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 43.04%;
    grid-auto-columns: 1fr;
    box-shadow: 0px 0px 3px 0px rgb(27, 137, 118,0.6);
    border-bottom: 2px solid #1B8976;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    display: flex;
    position: sticky;
    background-color: #fff;
} 
.zirconia-content-item._1{
    top: 20px;
}
.zirconia-content-item._2{
    top: 40px;
}
.zirconia-content-item._3{
    top: 60px;
}
.zirconia-content-item span{
    font-size: 26px;
    color: rgb(27, 137, 118,0.3);
    font-weight: 750;
    text-align: center;
    padding: 0px 30px;
}
.zirconia-content-item h3{
    font-size: 24px;
    color: #1B8976;
    font-weight: 700;
    line-height: 1.7;
    text-align: center;
    padding: 0px 30px;
}

/* media query  */
@media(max-width:1200px){
    .line-1,.line-2{
        width:28%;
    }
    .line-1t,.line-2t{
        width:28%;
    }
}
@media(max-width:991px){
    .line-1,.line-2{
        width:25%;
        top: 3.4%;
    }
    .zirconia-wrapper-title{
        font-size: 26px;
        margin-bottom: 0px;
    }
    .zirconia-wrapper .line-1,.zirconia-wrapper .line-2{
        top:5.2%;
    }
    .zirconia-content-item h3{
        font-size: 22px;
    }
}
@media(max-width:768px){
    .line-1,.line-2{
        width:22%;
        top: 3%;
    }
    .zirconia-wrapper-title{
        font-size: 24px;
    }
    .zirconia-content-item span{
        padding: 0px 10px;
        text-align: center;
        display: block;
        font-size: 30px;
    }
    .zirconia-content-item h3{
        padding: 0px 10px;
        font-size: 22px;
    }
    .zirconia-wrapper .line-1, .zirconia-wrapper .line-2{
        top:4.5%
    }
    .zirconia-content-item p{
        text-align: center;
        line-height: 1.7;
        font-size: 15px;
    }
}
@media(max-width:576px){
    .zirconia-wrapper{
        padding: 30px 0px 0px;
    }
    .zirconia-wrapper .container{
        /* --bs-gutter-x: 4.5rem; */
        --bs-gutter-x: 5.8rem;
    }
    .line-1,.line-2{
        width:22%;
        top: 2.5%;
        display:none;
    }
    .zirconia-wrapper-title{
        font-size: 22px;
        text-align: left;
        padding-top: 20px !important;
    }
    .zirconia-content-item h2{
        font-size: 20px;
    }
    .zirconia-wrapper .swiper-slide{
        padding: 10px 20px;
        height: 95%;
    }
    .zirconia-faq .container{
        --bs-gutter-x: 6rem;
    }
    .zirconia-faq .vector1,
    .zirconia-faq .vector2 {
        display: none;
    }
}
@media(max-width:420px){
    /* .line-1,.line-2{
        width:22%;
        top: 2%;
    } */
    .zirconia-wrapper-title{
        font-size: 18px;
    }
}
/* ---------------- Benefit od zirconia ---------------- */
.BenefitOfZirconia {
    padding: 50px 0px;
}
.BenefitOfZirconia .line-2{
    width:26%;
    top:5%;
}
.BenefitOfZirconia .line-1{
    width:26%;
    top:5%;
}
.benefittxt {
    /* color: black; */
    margin-bottom: 45px;
    line-height: 1.7;
}
.benslide {
    position: relative;
    border: 1px solid #eceae6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px 15px;
    height: 270px !important;
    border-radius: 10px;
}
.freebennum {
    position: absolute;
    font-size: 100px;
    top: -8%;
    right: 10%;
    color: rgba(27, 137, 118, 0.4);
    font-weight: 500;
}
.benicons {
    /* height: 60px;
    width: 60px; */
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
}
/* .BenefitOfZirconia .swiper-slide{
    margin:0px 0px 0px 25px !important; 
    width:340px !important;
} */
.BenefitOfZirconia .swiper-container{
    margin: auto;
    overflow: hidden;
}
.BenefitOfZirconia .swiper-slide img {
    height: 60px !important;
    width: 60px !important;
}
.benhead {
    position: relative;
    color: #1b897a;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}
.bantext {
    position: relative;
    color: #000;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 0.5px;
}
.BenefitOfZirconia .swiper-pagination-bullet-active {
    background-color: #1B8976 !important;
}
@media(max-width:1200px){ 
    .BenefitOfZirconia .line-2{
        width:20%;
        top:5.5%;
        left: -1%;
    }
    .BenefitOfZirconia .line-1{
        width:20%;
        top:5.5%;
        right: -1%;
    }
}
@media(max-width:768px){
    .BenefitOfZirconia .line-2{
        left:-8%;
        top:5%;
    }
    .BenefitOfZirconia .line-1{
        right: -8%;
        top:5%;
    } 
}
@media(max-width:576px){
    .BenefitOfZirconia{
        padding: 35px 0px 30px;
    }    
    .BenefitOfZirconia .container{
        --bs-gutter-x: 5.8rem;
    }
    /* .BenefitOfZirconia .swiper-slide{
        margin:0px 0px 0px 25px !important; 
        width:100% !important;
    } */
}
/* ------------------- Testimonials ------------------- */
.testimonial-wrapper .line-1t{
    position: absolute;
    top: 1.7%;    
    right: 5%;
}
.testimonial-wrapper .line-2t{
    position: absolute;
    top: 1.7%;
    left: 5%;
}
.testimonial-card {
    background: #fffdfd;
    border-radius: 20px;
    box-shadow: 0 10px 30px  rgba(27, 137, 118, 0.3);
    padding: 40px 30px;
    max-width: 600px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
}
.testimonial-card img{
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display:flex;
    margin: auto;
}
.testimonial-avatar {
    border-radius: 50%;
    /* margin-bottom: 20px; */
}
.testimonial-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1B8976;
}
.testimonial-text {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    margin: 15px 0px;
}
.testimonial-stars {
    color: #0b8e81;
    font-size: 1.5rem;
}
.testimonial-wrapper .swiper {
    width: 60%;
    max-width: 600px;
    height: 400px !important;
    margin: 0 auto;
}
@media(max-width:991px){
    .testimonial-wrapper .swiper{
        height: 450px !important;
        width:76%;
    }
}
@media(max-width:768px){
    .testimonial-wrapper .swiper{
        height: 500px !important;
        width:85%;
    }
    .testimonial-text{
        text-align: center;
    }
}
@media(max-width:576px){
    .testimonial-card{
        max-width: 700px;
        padding: 20px 15px;
    }
    .testimonial-wrapper .swiper{
        width:85%;
        height: 530px !important;
    }
    .testimonial-text{
        /* font-size: 0.90rem; */
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 1.6;
    }
    .testimonial-wrapper .line-2t,
    .testimonial-wrapper .line-1t {
        display: none;
    }
    .mySwiper .swiper-wrapper .testimonial-card{
        height: 100% !important;
    }
    .testinomial-subtitle{
        font-size: 15px;
    }
}
@media(max-width:420px){
    .testimonial-name{
        margin-bottom: 10px;
    }
    .testimonial-wrapper .swiper{
        width:86.5%;
        height: 580px !important;
    }
}
/* ------------------ Gallery section ----------------- */
.Gallery-section .container{
    margin: 55px auto 60px;
    
}
.gallery-wrapper p{
    font-size:18px;
    line-height: 1.7;
    color: rgb(51, 51, 51);
}
.gallery-bg-text{
    font-size: 130px;
    color: rgba(27,137,118,0.2);
    font-weight: 700;
    position: absolute;
    left:28%;
    top:95%;
}
.gallery-wrapper h2{
    color:#1B8976;
    position: absolute;
    right:21%;
    top:80%;
    font-size: 36px;
    letter-spacing: 1px;
}
.gallery-swiper{
    margin-top: 8%;
}
.gallery-swiper .swiper-wrapper{
    height:auto !important;
}
.gallery-swiper .swiper-slide{
    border-radius: 10px;
}
.gallery-swiper .gallery-img{
    margin-bottom:15px;
    border: 2px solid #1B8976;
    /* border: 1px solid #000; */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 3px rgb(27, 137, 118,0.9); */
}

.gallery-img:has(.galleryCaseImg-wrapper.d-block img) {
    margin: 20px;
}
.gallery-swiper.swiper-backface-hidden .swiper-slide:has(.galleryCaseImg-wrapper.d-block){
    transform: none !important;
}
.gallery-container{
    position: relative;
    display: inline-block;
    width: 100%;
}
.gallery-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-50%);
    background-color: white;
    color: #1B8976; 
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    min-width: 180px;
    transition: all 0.3s ease;
}
.gallery-btn .arrow-icon {
    width: 20px;
    height: auto;
    margin-left: 10px;
    transition: filter 0.3s ease;
}

.gallery-swiper .swiper-button-next, 
.gallery-swiper .swiper-button-prev{
    /* color:#1B8976 !important; */
    color:#fff !important;
    background-color: #1B8976 !important;
    padding:10px;
    width:24px !important;
    border-radius: 50%;
}
.gallery-swiper .swiper-button-next::after, 
.gallery-swiper .swiper-button-prev::after{
    font-size: 11px;
    font-weight: 900;
}
.gallery-swiper .swiper-button-prev{
    left:-0% !important;
}
.gallery-swiper .swiper-button-next{
    padding: 5px 5px 5px 8px;
    right:-0% !important;
}
.gallery-swiper .swiper-pagination-bullet-active{
    color:#1B8976 !important;
    background-color:#1B8976 !important;
}
.overlays-background{
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    background-color: #000;
    opacity: 0;
    transition: opacity .15s linear;
}
.overlays-background.show{
    opacity: .5;
    position: fixed;
    height: 100vh;
}
.gallery-caseimg{
    border: 2px solid #1B8976;
    max-height:100%;
    box-shadow: 0px 0px 3px rgb(27, 137, 118,0.3);
    border-radius: 10px;
    transition: max-height 0.3s ease;
}
.gallery-swiper .swiper-pagination-lock{
    display: block !important;
}
.gallery-swiper .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: var(--swiper-pagination-bottom, 0px) !important;
}
.galleryCaseImg-wrapper{
    scroll-behavior:smooth;
}
.galleryCaseImg-wrapper img{
height: auto !important;
}
.galleryCaseImg-wrapper.d-block{
    top: 0;
    width: 235px;
    /* border-right: 1px solid rgba(0, 0, 0, 0.175); */
    position: fixed;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color:#000;
    visibility: hidden;
    background-color: transparent;
    background-clip: padding-box;
    outline: 0;
    transition: all 0.3s ease;
    /* transition: transform .3s ease-in-out; */
    flex-grow: 1;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: none;
    visibility: visible;
    transform: translateX(0%);
    margin-left: -17px;
}
.gallery-swiper .swiper-wrapper .swiper-slide:first-child .galleryCaseImg-wrapper.d-block{
    margin-left: 0px;
}
[data-swiper-slide-index="4"]:has(.galleryCaseImg-wrapper.d-block){
    margin-left: -15px;
}
.gallery-swiper .swiper-wrapper .swiper-slide:last-child .galleryCaseImg-wrapper.d-block{
    margin-left: -15px;
}
.gallery-caseimg:hover{
    animation: scrollToBottom 0.5s forwards;
}
.gallery-swiper .swiper-wrapper:has(.galleryCaseImg-wrapper.d-block){
    padding: 140px 0px;
}
.galleryCaseImg-wrapper.d-block .gallery-caseimg{
    width:100%;
}

@keyframes scrollToBottom{
    from {
        scroll-behavior: auto;
        scroll-top: 0;
    }
    to {
        scroll-top: 100%;
    }
}
@keyframes zoomIn{
    from {
        opacity: 0;
        transform: translateZ(0) scale(1);
    }
    to {
        opacity: 1;
        transform: scale(0.9);
    }
}
@keyframes zoomOut{
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateZ(0) scale(1);
    }
}

/* media query  */

/* @media(min-width:1300px) and (max-width:1440px){
    .galleryCaseImg-wrapper.d-block{
        width: 270px;
    }
}
@media(min-width:1439px) and (max-width:1649px){
    .galleryCaseImg-wrapper.d-block{
        width: 270px;
    }
}
@media(min-width:1650px) and (max-width:1800px){
    .galleryCaseImg-wrapper.d-block{
        width: 270px;
    }
}
@media(min-width:1800px) and (max-width:2000px){
    .galleryCaseImg-wrapper.d-block{
        width: 270px;
    }
} */
/* @media(min-width:1800px) and (max-width:2000px){
    .gallery-wrapper h2{
        top:100%;
        font-size: 140px;
    }
    .galleryCaseImg-wrapper.d-block{
        width: 270px;
    }
} */
@media(min-width:1600px){
    .galleryCaseImg-wrapper.d-block{
        width: 270px;
    }
    .gallery-bg-text{
        top:100%;
        font-size: 140px;
    }
}
@media(max-width:1200px){
    .gallery-swiper{
        margin-top: 8.5%;
    }  
}
@media(max-width:991px){
    .gallery-swiper{
        margin-top: 9%;
    }  
    .gallery-wrapper h2{
        font-size: 30px;
        right: 9%;
    }
    .gallery-bg-text{
        font-size: 100px;
    }
}
@media(max-width:768px){
    .gallery-swiper{
        margin-top: 15%;
    } 
    .gallery-wrapper h2{
        font-size: 30px;
        right: 0%;
    } 
    .gallery-bg-text{
        left: 15%;
        top:100%
    }
    .galleryCaseImg-wrapper.d-block{
        width:260px;
    }
}
@media(max-width:576px){
    .Gallery-section .container{
        margin: 55px auto 60px;
    }
    /* .galleryCaseImg-wrapper.d-block{
        width:88% !important;
        margin-left: 28px;
        margin-bottom: 25px;
    } */
    .gallery-swiper .swiper-wrapper .swiper-slide:first-child .galleryCaseImg-wrapper.d-block {
        margin-left: 40px;
    }
    .galleryCaseImg-wrapper.d-block .gallery-caseimg{
        height:75% !important;
    }
    .galleryCaseImg-wrapper.d-block{
        width:80% !important;
        margin-left: 40px;
        margin-bottom: 25px;
    }
    .gallery-wrapper p{
        font-size: 16px;
        padding: 0px 48px !important;
    }
    .gallery-bg-text{
        top:112%
    }
    .gallery-wrapper h2{
        font-size: 28px;
        top:92%;
        right:4%;
    }
    .gallery-swiper .swiper-slide{
        padding: 0px 40px 10px 40px;
        display: flex !important;
        background: transparent !important;
    }
    .gallery-swiper .swiper-wrapper:has(.galleryCaseImg-wrapper.d-block),
    .gallery-swiper .swiper-slide-active:has(.galleryCaseImg-wrapper.d-block){
        padding: 120px 0px;
    }
    .gallery-swiper .swiper-slide.swiper-slide-active{
        display: flex;
    }
    .gallery-swiper .gallery-img{
        width:85%;
        margin: auto;
    }
    .gallery-img.d-block{
        width:100%;
    }
}
@media(max-width:480px){
    .gallery-swiper{
        margin-top: 24%;
    } 
    .gallery-bg-text{
        top:119%;
        left:18%;
        font-size: 70px;
    }
    .gallery-wrapper h2{
        top: 101%;
        font-size: 26px;
        right:5%;
    }
}

@media (max-width: 575px) {
    .zirfirstgroup {
        padding: 0px 30px;
    }

    .zirfirst-text {
        color: black;
        font-size: 15px;
        margin-bottom: 35px;
        text-align: start;
    }
    .zirfirst-text p{
        line-height: 1.75;
    }

}

/* ------------ on scroll video start --------------*/
.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
#container {
    height: 500vh;
    z-index: 2;
}

/*-----------------------------faq Section Zirconia---------------------------*/
.faq-section {
    position: relative;
    padding:60px 0;
    text-align: center;
}
.zirconia-faq{
    z-index: 1;
    position: relative;
    text-align: left;
}
.zirconia-faq h2{
    color: #1B8976;
    text-align: center;
}
.zirconia-faq .vector1{
    position: absolute;
    top: 3%;
    max-width: 25%;
    left: 1%;
}
.zirconia-faq .vector2{
    position: absolute;
    top: 3%;
    max-width: 25%;
    right: 1%;
}
.faq-question{
  font-size: 1rem !important;
  font-weight: 600 !important;
}
@media(min-width:1400px){
    .zirconia-faq .vector1{
        left: 2% ;
        max-width: 30% ;
        top: 2% 
    }
    .zirconia-faq .vector2{
        right: 2% ;
        max-width: 30% ;
        top: 2% 
    }
}
@media(min-width: 1200px) and (max-width: 1399px) {
    .zirconia-faq .vector1{
        left: 2% !important;
        width: 25% !important;
        top: 2% !important
    }
    .zirconia-faq .vector2{
        right: 2% !important;
        width: 25% !important;
        top: 2% !important
    }
}
@media(max-width:991px){
  .zirconia-faq{
    padding: 30px 0px 50px;
  }
  .zirconia-faq .product-section-title{
    font-size: 25px;    
  }
  .zirconia-faq .vector1{
    width:38%;
    top:2.5%;
  }
  .zirconia-faq .vector2{
   width:38%;
   top:2.5%;
  }
}
@media(max-width: 768px){
    .zirconia-faq .product-section-title{
        font-size: 22px;
        text-align: left;
    }
    .zirconia-faq .vector1{
        display: none;
    }
    .zirconia-faq .vector2{
        max-width: 40%;
        top: 2%;
        right: 2%;
    }
}

@media(max-width: 576px){
    .zir-faq-answer{
        font-size: 14px;
    }
}