.radient-amile-card-subhead {
    color: #1b897a;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 0px;
    text-align: start;
}

.radient-amile-card-head {
    color: #000;
    font-size: 30px;
    margin-bottom: 25px;
}

.radient-amile-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-bottom: 80px;
    border-top: 1px solid #333;
    padding-top: 50px;
    width: 80%; /* or max-width: 500px */
  margin-bottom: 2rem;
}
.radient-amile-card-m{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    border-top: 1px solid #333;
    padding-top: 50px;
    width: 80%; /* or max-width: 500px */
  margin-bottom: 2rem;
}
.radient-amile-card1 {
    margin-bottom: 80px;
    border-top: 1px solid #333;
    padding-top: 50px;
    width: 80%; /* or max-width: 500px */
  margin-bottom: 2rem;
}

.bigcont {
    height: 200px;
}
.mobileviewofprocess{
    display: none
}
.right-column {
    border-left: 2px dashed #333;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: white;
}

.animated-image {
    width: 60%;
    text-align: center;
    display: block;
    position: relative;
    opacity: 0;
    transition: opacity 0s ease-in-out 0s;
}
.overlay {
    position: absolute;
    bottom: 0%;
    width: 20%;
    height: 100%;
    background: #fff;
    z-index: 2;
}
.slice-1 {
    left: 0;
}

.slice-2 {
    left: 20%;
}

.slice-3 {
    left: 40%;
}

.slice-4 {
    left: 60%;
}

.slice-5 {
    left: 80%;
}


.image-wrapper.in-view .slice-1 {
    animation: slideUp 1.5s ease-in-out 0.1s forwards;
}

.image-wrapper.in-view .slice-2 {
    animation: slideUp 1.5s ease-in-out 0.2s forwards;
}

.image-wrapper.in-view .slice-3 {
    animation: slideUp 1.5s ease-in-out 0.4s forwards;
}

.image-wrapper.in-view .slice-4 {
    animation: slideUp 1.5s ease-in-out 0.8s forwards;
}

.image-wrapper.in-view .slice-5 {
    animation: slideUp 1.5s ease-in-out 1.2s forwards;
}



@keyframes slideUp {
    0% {
        bottom: 0%;
    }

    100% {
        bottom: -100%;
    }
}


.image-wrapper.in-view .animated-image {
    opacity: 1;
}

.image-wrapper.in-view .overlay {
    animation-play-state: running;
}



.zirconia-second {
    padding: 50px 0px;
}

.zirfirst-headS {
    color: #1b897a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.zirfirst-text {
    color: black;
    font-size: 16px;
}

.zirconia-text1 {
    padding: 10px 30px;
    position: absolute;
    bottom: 5%;
    left: -65%;
    z-index: 0;
}

.zirfirstgroup {
    width: 100%;
    height: 100%;
    padding: 0px 130px;
    position: relative;
}

.groupImage {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
}

@media (max-width: 575px) {
    .zirfirstgroup {
        padding: 0px 30px;
    }

    .zirfirst-text {
        color: black;
        font-size: 14px;
    }

    .zirconia-text1 {
        position: absolute;
        bottom: -17%;
        left: 0%;
        z-index: 0;
    }

}



.swiper-container {
    /* width: 80%; */
    /* height: 300px; */
    margin: auto;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #ffcc00;     */
    border-radius: 10px;
}


.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.swiper-pagination-bullet-active {
    background-color: red !important;
}

.pagination-one,
.pagination-two {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}




/* benefits */

.BenefitOfZirconia {
    padding: 50px 0px;
}

/* .benefitheading {
    color: #1b897a;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
} */

.benefittxt {
    color: black;
    margin-bottom: 25px;
}


.benslide {
    position: relative;
    border: 1px solid #eceae6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.benicons {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
}

.benhead {
    position: relative;
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
}

.bantext {
    position: relative;
    color: #000;
}

.freebennum {
    position: absolute;
    font-size: 100px;
    top: -8%;
    right: 10%;
    color: rgba(27, 137, 118, 0.1);
    font-weight: 500;
}


.BenefitOfZirconia .swiper-slide img {
    height: 60px !important;
    width: 60px !important;
}


/* benefits  end*/



/* Type of zirconia start */


.webviewoftype {
    padding: 50px 0px;
}

.mobileviewofType {
    display: none;
    padding: 50px 0px;
}






.main_process_card {
    position: relative;
}

.main_process_card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(27, 137, 118, 0.3);
    transition: height 0.5s ease-in-out, top 0.5s ease-in-out;
    transform: translateY(-50%);
}



.main_process_card:hover::before {
    height: 100%;
}

.inner_process_card {
    width: 35%;
    padding: 30px 0px;
}


.side-img {
    transform: rotate(27deg) scale(0.2);
    position: absolute;
    top: 0%;
    right: 10%;
    height: 248px;
    width: 200px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.main_process_card:hover .side-img {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 991px) {
    .side-img {
        display: none;
    }

    .inner_process_card {
        width: 50%;
        padding: 30px 0px;
    }


    .webviewoftype {
        display: none;
    }

    .mobileviewofType {
        display: block;

    }


}

@media (max-width: 775px) {
    .side-img {
        display: none;
    }

    .inner_process_card {
        width: 60%;
        padding: 30px 0px;
    }

    .numbersvg {
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 575px) {
    .side-img {
        display: none;
    }

    .inner_process_card {
        width: 80%;
        padding: 30px 0px;
    }

    .numbersvg {
        height: 40px;
        width: 40px;
    }

    .mobile_innerproess_Card {

        border-radius: 10px;
        padding: 20px 0px;
    }
}

.numbersvgmobile {
    height: 50px;
    width: 50px;
}

.side-img-mobile {
    height: 200px !important;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* padding: 00px 20px !important; */
}

.mobile_innerproess_Card {
    margin: 12px;
    border-radius: 10px;
    padding: 12px;
}
.outerslider {
    background-color: rgba(27, 137, 118, 0.08);
    padding: 50px 0px;
}

/* Type of zirconia end */

/* on scroll video start */

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#container {
    height: 500vh;
    z-index: 2;
}
@media (max-width: 768px) {
    .webviewofprocess {
        display: none;
    }
    .mobileviewofprocess{
        display: block;
    }
    .animated-image {
        width: 100%;
    }
}
.zirconia-second{
    position: relative;
    z-index: 3;
    background: white;
}
/* why zirconia */

.zirconia-content-wrapper{
    grid-row-gap: 50px;
    flex-flow: column;
    display: flex;
    position: relative;
}
.zirconia-wrapper-title{
    font-size: 30px;
    color:#1B8976;
    width: 100%;
    text-align: center;
 }
 .line-1{
    position: absolute;
    top: 4.2%;
    right:2%;
 }
 .line-2{
    position: absolute;
    top: 4.2%;
    left:2%;
 }
 .line-1t{
    position: absolute;
    top: 30%;    
    right: 5%;
 }
 .line-2t{
    position: absolute;
    top: 30%;
    left: 5%;
 }
 .zirconia-content-item{
    /* grid-column-gap: 84px; */
    grid-row-gap: 84px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 43.04%;
    grid-auto-columns: 1fr;
    box-shadow: 0px 0px 3px 0px rgb(27, 137, 118,0.6);
    /* box-shadow: 0px 0px 3px #000; */
    border-bottom: 2px solid #1B8976;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    display: flex;
    position: sticky;
    /* top: 0px; */
    background-color: #fff;
    /* background-color: #000; */
    /* color: #fff; */
} 
.zirconia-content-item._1{
    top: 20px;
}
.zirconia-content-item._2{
    top: 40px;
}
.zirconia-content-item._3{
    top: 60px;
}
.zirconia-content-item h2{
    font-size: 24px;
    color: #1B8976;
    font-weight: 700;
    line-height: 1.7;
    text-align: center;
    padding: 0px 30px;
}
.zirconia-content-item span{
    font-size: 26px;
    color: rgb(27, 137, 118,0.3);
    font-weight: 750;
    text-align: center;
    padding: 0px 30px;
}
@media(max-width:1200px){
    .line-1,.line-2{
        width:28%;
    }
}
@media(max-width:991px){
    .line-1,.line-2{
        width:25%;
        top: 3.4%;
    }
    .zirconia-wrapper-title{
        font-size: 26px;
        margin-bottom: 0px;
    }
}
@media(max-width:768px){
    .line-1,.line-2{
        width:22%;
        top: 3%;
    }
    .zirconia-wrapper-title{
        font-size: 24px;
    }
    .zirconia-content-item span{
        padding: 0px 10px;
        text-align: center;
        display: block;
        font-size: 30px;
    }
    .zirconia-content-item h2{
        padding: 0px 10px;
        font-size: 22px;
    }
    .zirconia-content-item p{
        text-align: center;
        line-height: 1.7;
        font-size: 15px;
    }
}
@media(max-width:576px){
    .zirconia-wrapper .container{
        --bs-gutter-x: 2.5rem;
    }
    .line-1,.line-2{
        width:22%;
        top: 2.5%;
    }
    .zirconia-wrapper-title{
        font-size: 20px;
    }
}

@media(max-width:420px){
    .line-1,.line-2{
        width:22%;
        top: 2%;
    }
    .zirconia-wrapper-title{
        font-size: 18px;
    }
}
.gallery-wrapper{
    position:relative;
}
.gallery-wrapper h2{
    font-size: 130px;
    color: rgba(27,137,118,0.2);
    font-weight: 700;
    position: absolute;
    left:28%;
    top:95%;
    /* bottom:3%; */
}
.gallery-wrapper h3{
    color:#1B8976;
    position: absolute;
    right:21%;
    top:80%;
    font-size: 36px;
    letter-spacing: 1px;
}
.gallery-wrapper p{
    font-size:18px;
    line-height: 1.7;
    color: rgb(0, 0, 0,0.8);
}
.gallery-swiper .swiper-wrapper{
    height:auto !important;
    /* height: 100%; */
    /* padding: 0px 15px; */
}
.gallery-swiper .swiper-wrapper{
    height:100% !important;
}
.gallery-swiper .gallery-img{
    margin-bottom:10px
}
.gallery-img:has(.galleryCaseImg-wrapper.d-block img) {
    margin: 20px;
}

.gallery-swiper .swiper-button-next, 
.gallery-swiper .swiper-button-prev{
    /* color:#1B8976 !important; */
    color:#fff !important;
    background-color: #1B8976 !important;
    padding:10px;
    width:24px !important;
    border-radius: 50%;
}
.gallery-swiper .swiper-button-prev{
    left:-0% !important;
}
.gallery-swiper .swiper-button-next{
    padding: 5px 5px 5px 8px;
    right:-0% !important;
}
.gallery-swiper .swiper-button-next::after, 
.gallery-swiper .swiper-button-prev::after{
    font-size: 11px;
    font-weight: 900;
}
.gallery-swiper .swiper-pagination-bullet-active{
    color:#1B8976 !important;
    background-color:#1B8976 !important;
}

/* vertical gallery section */
.gallery-swiper1{
    width:20%
}

.Gallery-section .offcanvas.offcanvas-start{
    width:250px;
}
.overlays-background{
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    background-color: #000;
    opacity: 0;
    transition: opacity .15s linear;
}
.overlays-background.show{
    opacity: .5;
    position: fixed;
    height: 100vh;
}
.swiper-backface-hidden .swiper-slide:has(.galleryCaseImg-wrapper.d-block){
    transform: none !important;
}
.gallery-img{
    border: 1px solid #000;
    border-radius: 10px;
}
body:has(.offcanvas.show){
    padding-right: 0px !important;
}

.gallery-caseimg{
    border: 1px solid #000;
}
.galleryCaseImg-wrapper.d-block{
    display: flex !important;
    flex-direction: column;
}

/* try to offcanvase design onclick event */
.gallery-img{
    box-shadow: 0px 0px 3px #000;
}
/* .galleryCaseImg-wrapper.d-none{
    animation: zoomIn .3s forwards;
} */
.galleryCaseImg-wrapper{
    scroll-behavior: smooth;
}
.galleryCaseImg-wrapper.d-block{
    top: 0;
    /* left: 18.8%; */
    width: 220px;
    /* width: 295px; */
    border-right: 1px solid rgba(0, 0, 0, 0.175);
    position: fixed;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color:#000;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: all 0.3s ease;

    /* transition: transform .3s ease-in-out; */
    flex-grow: 1;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: none;
} 
.gallery-caseimg{
    max-height:100%;
    transition: max-height 0.3s ease;
}
.gallery-caseimg:hover{
    animation: scrollToBottom 0.5s forwards;
}
 @keyframes scrollToBottom{
    from {
        scroll-behavior: auto;
        scroll-top: 0;
    }
    to {
        scroll-top: 100%;
    }
 }
@keyframes zoomIn{
    from {
        opacity: 0;
        transform: translateZ(0) scale(1);
    }
    to {
        opacity: 1;
        transform: scale(0.9);
    }
}
@keyframes zoomOut{
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateZ(0) scale(1);
    }
}
 .galleryCaseImg-wrapper.d-block{
    visibility: visible;
    transform: translateX(0%);
}
.swiper-wrapper:has(.galleryCaseImg-wrapper.d-block){
    padding: 140px 16px;
}
.galleryCaseImg-wrapper.d-block .gallery-caseimg{
    width:100%;
}

.gallery-swiper{
    margin-top: 8%;
}
.Gallery-section .container{
    margin: 60px auto;
}
@media(max-width:1200px){
    .gallery-swiper{
        margin-top: 8.5%;
    }  
}
@media(max-width:991px){
    .gallery-swiper{
        margin-top: 9%;
    }  
    .gallery-wrapper h3{
        font-size: 30px;
        right: 9%;
    }
    .gallery-wrapper h2{
        font-size: 100px;
    }
}
@media(max-width:768px){
    .gallery-swiper{
        margin-top: 15%;
    } 
    .gallery-wrapper h3{
        font-size: 30px;
        right: 0%;
    } 
    .gallery-wrapper h2{
        left: 15%;
        top:100%
    }
    .galleryCaseImg-wrapper.d-block{
        width:260px;
    }
}
@media(max-width:576px){
    .Gallery-section .container{
        margin: 50px auto;
    }
    .galleryCaseImg-wrapper.d-block{
        width:90% !important;
        margin-left: -21px;
        margin-bottom: 25px;
    }
    .gallery-wrapper h3{
        font-size: 28px;
        top:92%;
        right:4%;
    }
    .gallery-wrapper h2{
        top:112%
    }
    .gallery-wrapper p{
        font-size: 16px;
    }
    .swiper-slide{
        padding: 10px;
    }
    .swiper-wrapper:has(.galleryCaseImg-wrapper.d-block){
        padding: 120px 0px;
    }
    .swiper-slide{
        padding: 10px 40px 10px 40px;
    }
    .gallery-img.d-block{
        width:100%;
    }
}

@media(max-width:480px){
    .gallery-swiper{
        margin-top: 24%;
    } 
    .gallery-wrapper h2{
        top:130%;
        left:17%;
        font-size: 70px;
    }
    .gallery-wrapper h3{
        top:105%;
        font-size: 26px;
    }
}