<!DOCTYPE html>
<!-- [if lt IE 7 ]><html class="ie ie6" lang="en"><![endif] -->
<!-- [if IE 7 ]><html class="ie ie7" lang="en"><![endif] -->
<!-- [if IE 8 ]><html class="ie ie8" lang="en"><![endif] -->
<!-- [if (gte IE 9)|!(IE)]><! -->
<html lang="en_IN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="max-image-preview:large" />
  {% load static %} {% block seo %} {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link rel="preload" href="{% static 'css/bootstrap1.min.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'css/bootstrap1.min.css' %}" />
    {% comment %}
    <link
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      rel="stylesheet"
    />
    {% endcomment %}
    <link rel="preload" href="{% static 'css/flaticon.css' %}" as="stylesheet" />
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet" />
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" />
    <link rel="preload" href="{% static 'css/review.css' %}" as="stylesheet" />
    <link href="{% static 'css/review.css' %}" rel="stylesheet" />
    <link rel="preload" href="{% static 'css/animate.css' %}" as="stylesheet" />
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" />
    <link rel="preload" href="{% static 'css/style.css' %}" as="style" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="preload" href="{% static 'css/responsive.css' %}" as="style" />
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <link rel="preload" href="{% static 'css/banner.css' %}" as="stylesheet" />
    <link href="{% static 'css/banner.css' %}" rel="stylesheet" />
    <link href="{% static 'css/footer.css'%}" rel="stylesheet" />
    <!--CDN LINKS-->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" as="style" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" media="print" onload="this.media='all'" />
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" as="style" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" media="print" onload="this.media='all'" />
  {% block css %} {% endblock %}
  {% include "tracking.html" %}
  </head>

  <body>
    {% load static %}
    <!-- end -->
    <div id="page" class="page">
      <header id="header" class="header">
        {% include 'mobile.html' %} {% include 'pc.html' %}
      </header>
      {% block body %} {% endblock %}
      <footer class="new-footer-section">
        <div class="container">
          <div class="new-footer-main-content">
            <div
              class="row d-flex justify-content-between align-items-center new-footer-first-content"
            >
              <div class="col-xl-5 col-lg-6 col-6">
                <h2>Do you have any questions?</h2>
                <p class="mb-5">
                  We're ready to help you find the perfect fit for your
                  practice.
                </p>
                <a href="{% url 'home:contact_new' %}">
                  <button class="btn btn-dafult btn-contactUs">
                    CONTACT US
                  </button>
                </a>
              </div>
              <div class="col-lg-5 col-6">
                <p>
                  As India's leading provider of custom dental prosthetics,
                  we're here to offer expert answers and solutions
                  for your practice.
                </p>
              </div>
            </div>
            <div class="new-footer-link-content d-grid">
              <div class="new-footer-link-wrapper">
                <span class="new-footer-link-title">Discover</span>
                <ul class="new-footer-link-list">
                  <li>
                    <a href="{% url 'home:about' %}">
                      <span data-hover="About Us">About Us</span>
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:beforeafter'%}">
                      <span data-hover="Before After">Before After</span>
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:contact_new' %}">
                      <span data-hover="Contact Us">Contact Us</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15"/>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:exhibition'%}">
                      <span data-hover="Exhibition Gallery">Exhibition Gallery</span>
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:gallery'%}">
                      <span data-hover="Gallery">Gallery</span>  
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15"/>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:testimonals'%}">
                      <span data-hover="Testimonials">Testimonials</span>  
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                </ul>
              </div>
              <div class="new-footer-link-wrapper" style="grid-column:span 3">
                <span class="new-footer-link-title">Important Links</span>
                <ul class="new-footer-link-list">
                  <li>
                    <a href="{% url 'blog:blog' %}">
                      <span data-hover="Blogs">Blogs</span>
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="https://ultimatesmiledesign.com/" target="_blank">
                      <span data-hover="Ultimate Smile Design">Ultimate Smile Design</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:web_story'%}">
                      <span data-hover="Webstories">Webstories</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:privacy'%}">
                      <span data-hover="Privacy Policy">Terms and Condition</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:sitemap'%}">
                      <span data-hover="Sitemap">Sitemap</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid"alt="arrow-icon"  width="15" />
                    </a>
                  </li>
                </ul>
              </div>
              <div class="new-footer-link-wrapper">
                <span class="new-footer-link-title">Products</span>
                <ul class="new-footer-link-list">
                  <li>
                    <a href="{% url 'home:zirconiacrown'%}">
                      <span data-hover="Zirconia">Zirconia</span>
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="https://advancedentalexport.com/porcelain-fused-to-metal-pfm/">
                      <span data-hover="PFM">PFM</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:adImplants'%}">
                      <span data-hover="Implant">Implant</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="https://advancedentalexport.com/aesthetic-maxima/">
                      <span data-hover="Emax">Emax</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                  <li>
                    <a href="https://advancedentalexport.com/advanced-aligners/">
                      <span data-hover="Aligner">Aligner</span> 
                      <img src="{% static 'arrow-icon.svg'%}" class="arrow-icon img-fluid" alt="arrow-icon" width="15" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="new-footer-contact-info d-grid">
              <div class="new-footer-contact-card">
                <span class="new-footer-link-title">Contact</span>
                <a href="tel:+91 7284888877" data-default="+91 72848 88877">
                  <span data-hover="+91 72848 88877">+91 72848 88877</span>
                </a>
                <a href="tel:+1 551-380-0385" data-default="+1 551-380-0385">
                  <span data-hover="+1 551-380-0385 (overseas)">+1 551-380-0385 (overseas)</span>
                </a>
              </div>
              <div class="new-footer-contact-card" >
                <span class="new-footer-link-title">Address</span>
                <a  href="https://maps.app.goo.gl/XSUTrZ3JvfYqqFd47" target="_blank">
                  <p>
                    Plot No. 1 to 8, Marutidham Industrial Estate, Behind Hotel
                    Royal, Velanja Road, Umra, Surat - 394 130. (Gujarat) INDIA.
                  </p>
                </a>
              </div>
              <div class="new-footer-contact-card" style="grid-column:span 2">
                <div class="new-footer-social-link">
                  <a href="https://www.facebook.com/advance.dental.exports" target="_blank" rel="nofollow">
                    <span data-hover="Facebook">Facebook</span>
                  </a>
                  <a href="https://www.linkedin.com/company/advance-dental-export/" target="_blank" rel="nofollow">
                    <span data-hover="LinkedIn">LinkedIn</span>
                  </a>
                  <a href="https://www.instagram.com/advance_dental_export/" target="_blank" rel="nofollow">
                    <span data-hover="Instagram">Instagram</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="new-footer-copyright-info row justify-content-between align-items-center">
              <div class="col-lg-5 col-12 mb-lg-0 mb-3 new-footer-email">
                <span class="new-footer-link-title">Email</span>
                <a href="mailto: info@advancedentalexport.com" data-default="info@advancedentalexport.com" rel="nofollow">
                  <span data-hover="info@advancedentalexport.com">info@advancedentalexport.com</span>
                </a>
                <a href="mailto: overseas@advancedentalexport.com" data-default="overseas@advancedentalexport.com" rel="nofollow">
                  <span data-hover="overseas@advancedentalexport.com">overseas@advancedentalexport.com</span>
                </a>
              </div>
              <div class="col-12 d-lg-none d-md-block mb-lg-0 mb-3">
                <div class="new-footer-social-link justify-content-between">
                  <a href="https://www.facebook.com/advance.dental.exports" target="_blank" rel="nofollow">
                    <span data-hover="Faecbook">Facebook</span>
                  </a>
                  <a href="https://www.linkedin.com/company/advance-dental-export/" target="_blank" rel="nofollow">
                    <span data-hover="LinkedIn">LinkedIn</span>
                  </a>
                  <a href="https://www.instagram.com/advance_dental_export/" target="_blank" rel="nofollow">
                    <span data-hover="Instagram">Instagram</span>
                  </a>
                </div>
              </div>
              <div class="col-lg-3 new-footer-copyright">
                <p>@2025 <a href="https://advancedentalexport.com/">Advance Dental Export</a> All Rights Reserved.</p>
              </div>
              
            </div>
          </div>
          <img src="{% static 'footer-bg3.webp'%}" class="footer-bg-img1 img-fluid" alt="footer-bg-img" /> 
        </div>
         <img src="{% static 'footer-bg3.webp'%}" class="footer-bg-img img-fluid" alt="footer-bg-img" /> 
      </footer>
    </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap1.min.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/menu.min.js' %}"></script>
    <script src="{% static 'js/sticky.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollto.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    {% block js %} {% endblock %}
    <script src="{% static 'js/custom.min.js' %}"></script>
    {% comment %}
    <script src="//cdn.jsdelivr.net/jquery.lazy/1.7.5/jquery.lazy.min.js"></script>
    {% endcomment %} {% comment %}
    <script src="//cdn.jsdelivr.net/jquery.lazy/1.7.5/plugins/jquery.lazy.av.min.js"></script>
    {% endcomment %} {% comment %}
    <script src="{% static 'js/changer.js' %}"></script>
    {% endcomment %} {% comment %}
    <script src="{% static 'js/styleswitch.js' %}"></script>
    {% endcomment %} {% comment %}
    <script>
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
    </script>
    {% endcomment %}

    <!-- Meta Pixel Code -->
    <script>
      new WOW().init();
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=700687238635946&ev=PageView&noscript=1"
      />
    </noscript>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" async></script>
    {% for ie in messages %}
    <script>
      Swal.fire({
        position: "top-end",
        icon: "{{ie.tags}}",
        title: "{{ie.message}}",
        showConfirmButton: !1,
        timer: 2500,
      });
    </script>
    <script>
      window.addEventListener("load", function () {
        setTimeout(function () {
          var script = document.createElement("script");
          script.src =
            "https://www.googletagmanager.com/gtag/js?id=G-Q54R2WNM7Y";
          script.async = true;
          document.body.appendChild(script);

          script.onload = function () {
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-Q54R2WNM7Y");
          };
        }, 500); // Load after 2 seconds (Adjust delay if needed)
      });
    </script>
    {% endfor %}
    <script>
      const questionFlow = {
        start: [
          "How may i help you?",
          [
            "Dental Implants 🙂‍↔️",
            "Cosmetic Dentistry 🙂‍↔️",
            "Digital Dentistry 😊",
          ],
        ],
        "Dental Implants 🙂‍↔️": [
          "Do you need full mouth implants?",
          ["Yes", "No"],
        ],
        "Cosmetic Dentistry 🙂‍↔️": [
          "Are you looking for veneers or crowns?",
          ["Veneers", "Crowns"],
        ],
        "Digital Dentistry": ["Do you need scanning services?", ["Yes", "No"]],
        Yes: [
          "Would you like to restart or end the chat?",
          ["Restart", "End Chat"],
        ],
        No: [
          "Would you like to restart or end the chat?",
          ["Restart", "End Chat"],
        ],
        Restart: [
          "Restarting chat...",
          ["Dental Implants", "Cosmetic Dentistry", "Digital Dentistry"],
        ],
        "End Chat": ["Chat Ended. Thank you!", []],
      };

      function addMessageToChatBox(text, sender) {
        let chatMessages = document.getElementById("chat-messages");
        let messageDiv = document.createElement("div");
        messageDiv.classList.add("chat-bubble");

        if (sender === "user") {
          messageDiv.classList.add("user-message");
        } else if (text.includes("Chat has ended")) {
          messageDiv.classList.add("chat-ended"); // Custom style for "Chat Ended"
        } else {
          messageDiv.classList.add("bot-message");
        }
        messageDiv.innerHTML = text;
        chatMessages.appendChild(messageDiv);
        setTimeout(() => {
          chatMessages.scrollTop = chatMessages.scrollHeight;
        }, 100);
      }

      function addButtons(options) {
        // let chatButtons = document.getElementById("chat-buttons");
        let chatButtons = document.getElementById("chat-messages");
        chatButtons.innerHTML.add = "";

        options.forEach((option) => {
          let button = document.createElement("button");
          button.classList.add("chatbot-button");
          button.innerHTML = option;
          button.onclick = function () {
            handleUserChoice(option);
          };
          chatButtons.appendChild(button);
        });
        chatButtons.scrollTop = chatButtons.scrollHeight;
      }

      function handleUserChoice(choice) {
        addMessageToChatBox(choice, "user"); // Show user choice
        document.getElementById("chat-buttons").innerHTML = ""; // Remove buttons

        // Get next bot message and options
        let nextStep = questionFlow[choice];
        if (nextStep) {
          let botMessage = nextStep[0];
          let options = nextStep[1];

          setTimeout(() => {
            addMessageToChatBox(botMessage, "bot");

            if (choice === "Restart") {
              setTimeout(() => startChat(), 100); // Restart chat
            } else if (choice === "End Chat") {
              addMessageToChatBox(
                "Chat has ended. Refresh to start again. 😊",
                "bot"
              );
            } else if (options.length > 0) {
              setTimeout(() => addButtons(options), 100);
            }
          }, 100);
        } else {
          addMessageToChatBox("Thank you for chatting with us! 😊", "bot");
        }
      }
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
